Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

build(deps): update salvo to latest
  Cargo.lock
  Cargo.toml
Due: none

Update zh-TW.yml
  src/ui/svelte/weg/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/background/i18n/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/svelte/wallpaper-manager/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-TW.yml
Due: none

refactor(vd): replace slice to grid
  libs/core/src/state/workspaces/mod.rs
  libs/slu-ipc/src/commands.rs
  package-lock.json
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/wallpapers.rs
  src/background/widgets/window_manager/state_v2.rs
  src/background/windows_api/window/mod.rs
  src/static/plugins/tb_workspaces_dotted/plugin/template.js
  src/static/plugins/tb_workspaces_named/plugin/template.js
  src/static/plugins/tb_workspaces_numbered/plugin/template.js
  src/ui/react/settings/components/monitor/index.tsx
  src/ui/react/settings/modules/ByMonitor/infra/WallpaperSettingsModal.tsx
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/wallpaper-manager/modules/Monitor/Monitor.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

Update zh-TW.yml
  src/ui/svelte/icon-editor/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/svelte/network-popup/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/svelte/user-menu/i18n/translations/zh-TW.yml
Due: none

Update zh-TW.yml
  src/ui/react/settings/i18n/translations/zh-TW.yml
Due: none

refactor(#1268): grid workspaces
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/settings/shortcuts.rs
  libs/core/src/state/workspaces/mod.rs
  libs/slu-ipc/src/commands.rs
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/static/themes/default/styles/workspaces-viewer.scss
  src/static/widgets/wallpaper-manager/metadata.yml
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/shortcuts/application.ts
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/app/Workspace.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/svelte/workspaces-viewer/app/Workspace.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(#1162): more workspaces shortcuts
  changelog.md
  libs/core/src/state/settings/shortcuts.rs
  libs/slu-ipc/src/commands.rs
  src/background/virtual_desktops/cli.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/state_v2.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/shortcuts/application.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(lib): add new resource attribute
  libs/core/src/resource/mod.rs
Due: rust-format, rust-linter

fix(tb): named and numbered workspaces plugins
  src/static/plugins/tb_workspaces_named/plugin/template.js
  src/static/plugins/tb_workspaces_numbered/plugin/template.js
Due: ts-type-check, js-linter

fix(tb): duplicated bluethooth devices
  libs/ui/svelte/utils/bluetoothIcons.ts
  libs/ui/svelte/utils/scopes.svelte.ts
  src/ui/svelte/bluetooth-popup/app.svelte
Due: ts-type-check, js-linter

enh(weg): media session module
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  libs/ui/svelte/components/Icon/common.svelte.ts
  src/background/resources/commands.rs
  src/background/resources/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/state/application/mod.rs
  src/static/icons/music_thumbnail.jpg
  src/static/icons/music_thumbnail.svg
  src/static/icons/music_thumbnail_mask.svg
  src/static/icons/start_menu.svg
  src/static/icons/start_menu_dark.svg
  src/static/icons/start_menu_mask.svg
  src/ui/svelte/media-popup/components/MediaPlayer.svelte
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/constants.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.8.2
  changelog.md
Due: none

feat(core): add command for importing Windows taskbar items
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(backend): implement Windows taskbar pinned items extraction
  src/background/exposed.rs
Due: rust-format, rust-linter

feat(weg): add import and auto-load logic to WegItemsManager
  src/background/state/application/weg_items.rs
Due: rust-format, rust-linter

feat(weg): expose import command in Tauri handler
  src/background/widgets/weg/handler.rs
Due: rust-format, rust-linter

feat(settings): add UI for importing Windows taskbar items
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/application.ts
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
Due: ts-type-check, js-linter

feat(weg): subscribe to WegItemsChanged event for live updates
  src/ui/svelte/weg/state/items.svelte.ts
Due: ts-type-check, js-linter

feat(task-switcher): add filters and preview settings
  libs/core/src/state/settings/by_widget.rs
  src/static/widgets/task-switcher/i18n/settings/preview-delay-description.yml
  src/static/widgets/task-switcher/i18n/settings/preview-delay.yml
  src/static/widgets/task-switcher/i18n/settings/preview-enabled.yml
  src/static/widgets/task-switcher/i18n/settings/preview-group.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-mode-all.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-mode-blacklist.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-mode-whitelist.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-mode.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-patterns-description.yml
  src/static/widgets/task-switcher/i18n/settings/window-filter-patterns.yml
  src/static/widgets/task-switcher/metadata.yml
  src/ui/react/settings/modules/resources/Widget/AllView.tsx
  src/ui/react/settings/modules/resources/Widget/View.tsx
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/task-switcher/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(task-switcher): add running app filter picker
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
  src/background/state/infrastructure.rs
  src/background/utils/lock_free/sync_hash_map.rs
  src/background/widgets/loader.rs
  src/background/widgets/manager.rs
  src/background/widgets/mod.rs
  src/background/windows_api/event_window.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/react/settings/modules/resources/Widget/TaskSwitcherWindowPicker.module.css
  src/ui/react/settings/modules/resources/Widget/TaskSwitcherWindowPicker.tsx
  src/ui/react/settings/modules/resources/Widget/View.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(widgets): reconcile lazy deployment before start
  src/background/widgets/loader.rs
Due: rust-format, rust-linter

chore(release): start v2.8.3
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

fix(env): not refreshing vars on runtime
  changelog.md
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

chore(lang): improve traditional chinese translation (#1733)
  src/background/i18n/zh-TW.yml
  src/ui/react/settings/i18n/translations/zh-TW.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-TW.yml
  src/ui/svelte/icon-editor/i18n/translations/zh-TW.yml
  src/ui/svelte/network-popup/i18n/translations/zh-TW.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-TW.yml
  src/ui/svelte/user-menu/i18n/translations/zh-TW.yml
  src/ui/svelte/wallpaper-manager/i18n/translations/zh-TW.yml
  src/ui/svelte/weg/i18n/translations/zh-TW.yml
Due: none

fix(wm): prevent toolbar and dock from being permanently overlapped
  src/background/modules/apps/application/windows.rs
  src/ui/svelte/fancy-toolbar/App.svelte
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/weg/App.svelte
  src/ui/svelte/weg/state/windows.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(dock): Import windows taskbar pinned items (#1737)
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  src/background/exposed.rs
  src/background/state/application/weg_items.rs
  src/background/widgets/weg/handler.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/application.ts
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
  src/ui/svelte/weg/state/items.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(weg): native pins import code
  changelog.md
  src/background/exposed.rs
  src/background/modules/start/application.rs
  src/background/state/application/weg_items.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/widgets/weg/mod.rs
  src/background/widgets/weg/native_taskbar.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

enh(#1748): add selector for dock plugin items
  package-lock.json
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/components/SortableItem.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/state/items.svelte.ts
Due: ts-type-check, js-linter

feat(#1699): task switcher per monitor
  changelog.md
  src/static/themes/default/styles/task-switcher.scss
  src/static/widgets/task-switcher/i18n/settings/only-on-active-monitor.yml
  src/static/widgets/task-switcher/metadata.yml
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/state.svelte.ts
Due: ts-type-check, js-linter

enh(api): clipboard
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/system_state/clipboard.rs
  src/Cargo.toml
  src/background/modules/clipboard/application.rs
  src/background/modules/clipboard/constants.rs
  src/background/modules/clipboard/infrastructure.rs
  src/background/modules/clipboard/mod.rs
  src/background/modules/clipboard/persistence.rs
  src/background/utils/constants.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/mod.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(ctx-menu): submenus not recieving metadata
  changelog.md
  src/ui/svelte/context-menu/Submenu.svelte
Due: none

enh(api): clipboard
  Cargo.lock
  Cargo.toml
  libs/utils/Cargo.toml
  libs/utils/src/lib.rs
  libs/utils/src/windows.rs
  src/Cargo.toml
  src/background/modules/clipboard/application.rs
  src/background/windows_api/mod.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

fix(ctx-menu): not closing parent menus on sub menu interaction
  changelog.md
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/state.svelte.ts
Due: ts-type-check, js-linter
