Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

ci(discord): fix workflows
  .github/workflows/discord-notify.yml
  .github/workflows/release.yml
Due: none

ci(lib): fix publish
  .github/workflows/publish-core.yml
Due: none

ci(lib): fix publish
  .github/actions/setup/action.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-core.yml
  .github/workflows/release.yml
Due: none

enh(logs): improve logs at start of the app
  src/background/logger.rs
  src/background/main.rs
  src/background/utils/integrity/mod.rs
  src/service/main.rs
Due: rust-format, rust-linter

chore(release): start v2.5.4
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/core/src/handlers/commands.ts
  package-lock.json
  package.json
  src/Cargo.toml
Due: ts-type-check, js-linter

feat(tb): new customization configs
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/fancyToolbar/application.ts
  src/ui/react/settings/modules/fancyToolbar/infra.tsx
  src/ui/react/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/toolbar/styles/global.css
  src/ui/react/toolbar/styles/variables.css
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(icons): extraction and caching
  changelog.md
  src/background/resources/system_icon_pack.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
Due: rust-format, rust-linter

enh(app): allow run as admin with a warning
  src/background/i18n/en.yml
  src/background/main.rs
  src/background/utils/integrity/mod.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

enh(app): add basic telemetry
  src/background/main.rs
  src/background/telemetry.rs
Due: rust-format, rust-linter

enh(app): skip elevation warning if UAC is disabled
  src/background/utils/integrity/mod.rs
Due: rust-format, rust-linter

fix(tb): miss alignment on toolbar
  src/ui/react/toolbar/styles/global.css
Due: none

fix(tb): state being reset
  changelog.md
  src/background/state/application/toolbar_items.rs
  src/background/state/application/weg_items.rs
  src/background/state/infrastructure.rs
  src/background/utils/mod.rs
  src/background/widgets/mod.rs
  src/ui/react/toolbar/modules/shared/state/default.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.5.4
  changelog.md
Due: none

ci(release): fix workflow
  .github/workflows/release.yml
Due: none

chore(release): start v2.5.5
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(previews): slow down on performace while dragging apps
  changelog.md
  src/background/hook.rs
  src/background/modules/apps/application/previews.rs
  src/background/modules/apps/application/windows.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/window_manager/hook.rs
  src/background/windows_api/window/event.rs
Due: rust-format, rust-linter

chore(deps): update windows crate
  Cargo.lock
  Cargo.toml
  src/Cargo.toml
  src/background/modules/media/devices/application.rs
  src/background/modules/media/players/application.rs
  src/background/modules/media/players/infrastructure.rs
  src/background/modules/monitors/application.rs
  src/background/modules/network/application/v2.rs
  src/background/modules/notifications/application.rs
  src/background/modules/radios/bluetooth/classic.rs
  src/background/modules/radios/bluetooth/low_energy.rs
  src/background/modules/radios/bluetooth/manager.rs
  src/background/modules/radios/device.rs
  src/background/modules/radios/manager.rs
  src/background/modules/system_settings/application.rs
  src/background/windows_api/devices.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/undocumented/audio_policy_config.rs
  src/service/windows_api/iterator.rs
Due: rust-format, rust-linter

fix(windows): close handles
  changelog.md
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/scanner.rs
  src/background/modules/power/application.rs
  src/background/modules/system_tray/application/tray_hook_loader.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/process.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

ci(nightly): use test signature on nightly builds
  .github/workflows/nightly.yml
Due: none

feat(perf): disable css animation on extreme perf mode
  changelog.md
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/performance.ts
  libs/ui/react/utils/performance.ts
  package-lock.json
  src/static/themes/default/shared/index.scss
  src/ui/react/settings/modules/general/infra/Performance.tsx
  src/ui/react/toolbar/index.tsx
  src/ui/react/weg/index.tsx
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/wallpaper_manager/index.ts
  src/ui/svelte/window_manager/index.ts
  src/ui/vanilla/third_party/index.ts
Due: ts-type-check, js-linter

fix(user-menu): slow initial render
  changelog.md
  src/static/themes/default/styles/user-menu.scss
  src/ui/svelte/user-menu/components/UserFolder.svelte
Due: none

ci(dependabot): auto merge
  .github/workflows/dependabot-automerge.yml
Due: none

enh(monitors): winrt to win32 correlation
  src/background/exposed.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/widgets/loader.rs
  src/background/widgets/webview.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

refactor(monitors): code readability
  libs/core/src/system_state/monitors.rs
  src/background/state/infrastructure.rs
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/weg/cli.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/widgets/window_manager/instance.rs
  src/background/windows_api/monitor/mod.rs
  src/background/windows_api/window/cache.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

fix(#1402): media player not being removed
  src/background/modules/media/players/application.rs
Due: rust-format, rust-linter

fix(#1400): calendar lang not being changed
  changelog.md
  src/ui/svelte/calendar-popup/app.svelte
Due: none

refactor(colors): remove unneded vars
  libs/core/src/system_state/ui_colors.ts
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/power-menu.scss
  src/static/themes/default/styles/user-menu.scss
  src/static/themes/default/styles/weg.css
  src/ui/react/toolbar/styles/variables.css
Due: ts-type-check, js-linter

refactor(colors): change color vars to oklch
  libs/widgets-shared/styles/RichText.css
  libs/widgets-shared/styles/colors.css
  scripts/PalletteGenerator.ts
  src/ui/react/settings/components/header/index.module.css
  src/ui/react/settings/modules/extras/infra.module.css
  src/ui/react/settings/modules/resources/infra.module.css
Due: ts-type-check, js-linter

feat(#1427): add more position options for flyouts
  changelog.md
  src/static/widgets/flyouts/metadata.yml
  src/ui/react/settings/components/SettingsBox/index.module.css
  src/ui/react/settings/modules/resources/Widget/ConfigRenderer.tsx
  src/ui/svelte/flyouts/state/placement.svelte.ts
Due: ts-type-check, js-linter

feat(#853): custom browser profile icons
  changelog.md
  src/background/error.rs
  src/background/resources/system_icon_pack.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
  src/background/windows_api/types.rs
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/react/weg/modules/shared/state/mod.ts
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/window_manager/layout/infra/containers/Stack.svelte
  src/ui/svelte/workspaces-viewer/app/Window.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(weg): allow pin to dock from apps menu widget
  changelog.md
  src/background/modules/start/application.rs
  src/ui/svelte/apps-menu/components/StartMenuBody.svelte
  src/ui/svelte/apps-menu/i18n/translations/en.yml
Due: rust-format, rust-linter

fix(apps-menu): not showing some lnk files like docker desktop
  changelog.md
  src/background/modules/start/application.rs
  src/background/modules/start/infrastructure.rs
Due: rust-format, rust-linter

fix(app): not starting when corrupted settings file
  changelog.md
  src/background/state/application/mod.rs
  src/background/state/application/weg_items.rs
Due: rust-format, rust-linter

enh(settings): take news from website
  src/ui/react/settings/modules/Home/News.tsx
Due: ts-type-check, js-linter

enh(dock): reimplement items filtering
  src/ui/react/weg/modules/bar/DraggableItem.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/state/mod.ts
Due: ts-type-check, js-linter

chore(release): finish v2.5.5
  changelog.md
Due: none

chore(release): start v2.5.6
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
