Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

pre-hook:
  priority: 3
  run: rust-script ./scripts/lefthook/pre_hook.rs

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

build-schemas:
  priority: 5
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

post-hook:
  priority: 6
  run: rust-script ./scripts/lefthook/post_hook.rs

fix(weg): fix #244
  src/background/seelen_weg/handler.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(wall): move styles to theme
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  static/themes/default/theme.wall.css
Due: js-linter

fix( #179): click on dock focus issue
  src/background/seelen_weg/handler.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(#136): popup & menu flashing
  src/apps/seelenweg/styles/global.css
Due: none

feat(toolbar): calendar view requested: #160, #210
  lib/src/utils/hooks.ts
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/Date/infra/DateCalendar.tsx
  src/apps/toolbar/modules/Date/infra/Module.tsx
  src/apps/toolbar/modules/main/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

feat(weg): resolve #241
  src/apps/seelenweg/styles/global.css
Due: none

fix(toolbar): same as weg for popup placement (current / future) problem
  src/apps/toolbar/styles/global.css
Due: none

fix(tb): popup placement while hidding
  src/apps/toolbar/styles/global.css
Due: none

Replacing Windows 11 with Windows
  src/apps/toolbar/styles/global.css
Due: none

fix(weg): improve animation quality, #243
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  static/themes/default/theme.weg.css
Due: js-linter

fix(weg): right weg had mispositioned cause of default ::after def
  src/apps/seelenweg/styles/global.css
Due: none

chore(lang): improvements on chinese translations
  src/apps/settings/i18n/translations/zh.yml
Due: none

fix(weg): remove defaults
  src/apps/seelenweg/styles/global.css
Due: none

enh(#241): use whole screen size to unhide dock
  src/apps/seelenweg/styles/global.css
Due: none

Issue#221 : [LANG] Spanish language translation errors
  src/apps/settings/i18n/translations/es.yml
Due: none

enh(toolbar): current connection show on network popup
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
  src/apps/toolbar/styles/global.css
  static/themes/default/theme.toolbar.css
Due: js-linter

Remove extra spaces
  src/apps/settings/i18n/translations/am.yml
  src/apps/settings/i18n/translations/ur.yml
Due: none

chore(lang): Optimize Chinese expression to make the language more fluent
  src/apps/settings/i18n/translations/zh.yml
Due: none

Re-added words that should not have been removed
  src/apps/settings/i18n/translations/zh.yml
Due: none

fix(weg): webapp search in case of pin #193
  src/apps/seelenweg/modules/shared/store/app.ts
Due: js-linter

fix(#193): webapps pinning issue
  src/apps/seelenweg/modules/shared/store/app.ts
Due: js-linter

chore(lang): optimize chinese expression to make the lang more fluent
  src/apps/settings/i18n/translations/zh.yml
Due: none

fix(toolbar): passwordless wifi handling
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/profile.template.empty.xml
  src/background/modules/network/domain/mod.rs
  src/background/modules/network/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(lib): create ts version of events via rust macros
  lib/src/handlers/events.ts
  lib/src/handlers/index.ts
  lib/src/handlers/mod.rs
  lib/src/main.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(app): xbox game bar provocating wrong behaviours
  src/background/utils/constants.rs
  src/background/winevent.rs
  static/apps_templates/gaming.yml
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

feat(tb): notifications popups
  lib/src/utils/hooks.ts
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

fix(dock/tb): add snipping tool to the ignore overlap list
  src/background/utils/constants.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

feat(#263): change volume on wheel actions for media module
  changelog.md
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
Due: js-linter

fix(toolbar): review comments
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/passwordless_profile.template.xml
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(tb): allow connect to passwordless networks
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/passwordless_profile.template.xml
  src/background/modules/network/domain/mod.rs
  src/background/modules/network/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

style(#198): add scroll on many devices
  src/apps/toolbar/modules/media/infra/index.css
  static/themes/default/theme.toolbar.css
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  pre-hook: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
  post-hook: any of: **/*.rs
