Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

pre-hook:
  priority: 3
  run: rust-script ./scripts/lefthook/pre_hook.rs

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

build-schemas:
  priority: 5
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

post-hook:
  priority: 6
  run: rust-script ./scripts/lefthook/post_hook.rs

feat(#210): add mini calendar to date module
  changelog.md
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Date/infra.css
  src/apps/toolbar/modules/Date/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

fix(tb): uncompleted brightness feature appearing on toolbar
  src/apps/toolbar/modules/Settings/infra.tsx
Due: js-linter

fix(updater): not getting updates on nightly channel
  changelog.md
  src/background/utils/updater.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(tb): apply default look and feel to calendar view
  src/apps/toolbar/modules/Date/Calendar.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

fix(media): media player not appearing on media module
  src/background/modules/media/application.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(styles): fix popups and context menus
  changelog.md
  src/apps/seelenweg/app.tsx
  src/apps/shared/styles/reset.css
  src/apps/toolbar/app.tsx
Due: js-linter

chore(release): v2.0.6-rc.0
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

enh(tb): apply default look and feel to calendar view
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

enh(tb): calendar view review comments for styles
  static/themes/default/theme.toolbar.css
Due: none

enh(tb): add month selector for calendar
  src/apps/toolbar/modules/Date/Calendar.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

enh(tb): improve calendar popover
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

docs(readme): update
  readme.md
Due: none

feat: added icon-only theme for system tray, related #277
  static/themes/tray_icons.yml
Due: none

ci(msix): fix failing workflow
  .github/workflows/msix.yml
Due: none

fix(tb): notification module creating two items
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
Due: js-linter

enh(tb): enables the right click stay open function and close afterwards
  src/apps/toolbar/modules/Tray/index.tsx
Due: js-linter

fix(weg): #169 issue fix
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/styles/global.css
Due: js-linter

chore(release): v2.0.6-rc.1
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

fix(#169): preview item scrollbar
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/styles/global.css
Due: js-linter

fix(tb-weg): make the app usable via touch
  changelog.md
  lib/src/utils/layered_hitbox.ts
Due: js-linter

ci(prerelease): fix workflow not triggering
  .github/workflows/pre-release.yml
Due: none

refactor(network): just clean scanner code
  src/background/modules/network/application/scanner.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.6-rc.2
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

ci(all): fix all workflows failing by git submodules
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/web_deployment.yml
Due: none

enh(startup): improve startup failure behaviour
  changelog.md
  src/apps/integrity/public/index.html
  src/background/main.rs
  src/background/utils/integrity.rs
  src/background/utils/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.6-rc.3
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

build(ui): fix build failing
  scripts/build.ts
Due: js-linter

build(msix): add app alias
  templates/installer.msix
Due: none

build(nsis): add app to user path variable enviroment
  changelog.md
  src/background/seelen.rs
  src/background/utils/updater.rs
  src/background/utils/winver.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(weg-tb-wall): resolution change handling fix #144
  src/background/instance.rs
  src/background/modules/monitors/mod.rs
  src/background/seelen.rs
  src/background/windows_api/monitor.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(weg-tb): handle tablet-mode, display-orientation #1
  src/background/instance.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  pre-hook: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
  post-hook: any of: **/*.rs
