Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, pre-hook, rust-code-check, post-hook

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    pre-hook:
      priority: 3
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    post-hook:
      priority: 6
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    pre-hook:
      priority: 2
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test
    post-hook:
      priority: 4
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

ci(build): set specific version on tauri build action
  .github/workflows/nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

build(ui): improve local dev build speed
  .github/workflows/ci.yml
  changelog.md
  lefthook.yml
  nodemon.json
  package-lock.json
  package.json
  scripts/build.ts
  scripts/lefthook/post_hook.rs
  scripts/lefthook/pre_hook.rs
  tauri.conf.json
Due: js-linter, rust-linter, pre-hook, rust-code-check, post-hook

feat(crash-service): add new binary
  Cargo.toml
  changelog.md
  src/background/main.rs
  src/background/utils/integrity.rs
  src/service/main.rs
  templates/installer.nsi
Due: rust-linter, pre-hook, rust-code-check, post-hook

enh(tb): volume popover behaviour & percent render
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
Due: js-linter

style(weg-tb): animate popovers
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
Due: js-linter

enh(weg-tb): animated popup
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
Due: js-linter

enh(weg): popup animation
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
Due: js-linter

style(weg-tb): popup animation style
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: none

enh(weg-tb): configurable animation for context menus
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  src/apps/shared/components/AnimatedWrappers/domain.ts
  src/apps/shared/components/AnimatedWrappers/index.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/theme.launcher.css
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: js-linter

enh(launcher): dropdown style & stylability
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  static/themes/default/theme.launcher.css
Due: js-linter

build(service): add service binary to uninstaller
  scripts/build.ts
  src/background/main.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
  tauri.conf.json
  templates/installer-hooks.nsh
  templates/installer.nsi
Due: js-linter, rust-linter, pre-hook, rust-code-check, post-hook

enh(msix): force run as an appx package
  changelog.md
  src/apps/settings/modules/information/infrastructure.tsx
  src/apps/shared/index.ts
  src/background/exposed.rs
  src/background/main.rs
  src/background/seelen.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
  src/background/utils/winver.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, post-hook

ci(nightly): include debug build
  .github/workflows/nightly.yml
Due: none

fix(weg): filter ghost settings window
  changelog.md
  src/background/seelen_weg/mod.rs
Due: rust-linter, pre-hook, rust-code-check, post-hook

chore(release): v2.0.11
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(msix): trying to run restart service on msix
  changelog.md
  src/background/main.rs
Due: rust-linter, pre-hook, rust-code-check, post-hook

chore(release): v2.0.12
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(nightly): add msix build to nighlys
  .cert/Seelen.cer
  .cert/Seelen.pfx
  .cert/Seelen.pfx.pwd
  .cert/readme.md
  .github/workflows/nightly.yml
  .gitignore
  package.json
  scripts/bundle.msix.ts
Due: js-linter

docs(changelog): update
  changelog.md
Due: none

revert(pkg): pkg version change
  package.json
Due: none

ci(nightly): msix asset not beeing uploaded
  .github/workflows/nightly.yml
Due: none

feat(lang): add languages and keyboard to the api
  Cargo.toml
  src/background/exposed.rs
  src/background/modules/input/application.rs
  src/background/modules/input/infrastructure.rs
  src/background/modules/input/mod.rs
  src/background/modules/language/application.rs
  src/background/modules/language/domain.rs
  src/background/modules/language/infrastructure.rs
  src/background/modules/language/mod.rs
  src/background/modules/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
Due: rust-linter, pre-hook, rust-code-check, post-hook

fix(build): icon extraction failing
  scripts/build.ts
Due: js-linter

ci(nighly): avoid concurrency on workflows
  .github/workflows/nightly.yml
Due: none

fix(service): service was being closed on exit code 1
  changelog.md
  src/background/main.rs
Due: rust-linter, pre-hook, rust-code-check, post-hook

chore(lang): improve arabic translation
  src/apps/seelen_rofi/i18n/translations/ar.yml
  src/apps/seelenweg/i18n/translations/ar.yml
  src/apps/settings/i18n/translations/ar.yml
  src/apps/toolbar/i18n/translations/ar.yml
Due: none

fix(log): errors on monitor changes
  changelog.md
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/monitors/application.rs
Due: rust-linter, pre-hook, rust-code-check, post-hook

chore(lang): Improve arabic translation (#375)
  src/apps/seelen_rofi/i18n/translations/ar.yml
  src/apps/seelenweg/i18n/translations/ar.yml
  src/apps/settings/i18n/translations/ar.yml
  src/apps/toolbar/i18n/translations/ar.yml
Due: none

enh(#224): add support for multi-language on dates
  changelog.md
  src/apps/shared/styles/reset.css
  src/apps/toolbar/i18n/index.ts
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Date/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

feat(tb): user module + event & invokers
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
  src/background/modules/user/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, post-hook
