Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

refactor(tb): user icon generation update, model to system state
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

fix(icons): not creating system icon pack
  changelog.md
  src/background/modules/notifications/application.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/application/icons.rs
Due: rust-linter, rust-code-check

chore(release): v2.0.14
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(lang): translation improvements (Ukrainian)
  src/apps/settings/i18n/translations/uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

fix(lang): translation improvements for ukrainian (#449)
  src/apps/settings/i18n/translations/uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

fix(startup): fix startup toggle
  changelog.md
  src/background/schedule.ps1
Due: none

refactor(service): reimplement app service
  Cargo.toml
  changelog.md
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/cli/mod.rs
  src/background/schedule.ps1
  src/background/seelen.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
  src/background/windows_api/mod.rs
  src/service/app.rs
  src/service/cli.rs
  src/service/error.rs
  src/service/logger.rs
  src/service/main.rs
  src/service/pwsh.rs
  src/service/string_utils.rs
  src/service/task_scheduler.rs
  src/service/windows_api/com.rs
  src/service/windows_api/mod.rs
  templates/installer-hooks.nsh
Due: js-linter, rust-linter, rust-code-check

fix(nsis): removing service before uninstall it
  templates/installer-hooks.nsh
  templates/installer.nsi
Due: none

fix(nsis): install/uninstall service not working
  templates/installer-hooks.nsh
Due: none

enh(weg): multimonitor weg usability
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/settings/modules/ByMonitor/application.ts
  src/apps/settings/modules/seelenweg/infra.tsx
  src/background/seelen.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: js-linter, rust-linter, rust-code-check

fix(weg): multimonitor settings and usage review comments
  src/background/seelen_weg/weg_items_impl.rs
Due: rust-linter, rust-code-check

feat(service): add service to msix
  scripts/bundle.msix.ts
  src/service/main.rs
  templates/AppxManifest.xml
  templates/installer.msix
Due: js-linter, rust-linter, rust-code-check

enh(weg): add pin_disabled property
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

fix(wm): ghost windows
  changelog.md
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

fix(error): auto-start setting failing
  src/background/seelen.rs
Due: rust-linter, rust-code-check

fix(weg): ahk keypress with current code state
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check

fix(weg): linter suggestion apply
  src/background/seelen_weg/cli.rs
Due: rust-linter, rust-code-check

fix(weg): index calculation overflow & relaunch command instead of path
  src/background/seelen_weg/cli.rs
Due: rust-linter, rust-code-check

fix(weg): cli forgot trace in that
  src/background/seelen_weg/cli.rs
Due: rust-linter, rust-code-check

fix(weg): enable disabled temporal item drag
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
Due: js-linter

fix(weg): review comment
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  static/themes/default/theme.weg.css
Due: js-linter

fix(weg): review comment
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
Due: js-linter

feat(weg): context menu to run new app instance (#475)
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  static/themes/default/theme.weg.css
Due: js-linter

refactor(service): i hope this be the final version
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/utils/mod.rs
  src/background/utils/pwsh.rs
  src/service/app.rs
  src/service/cli.rs
  src/service/enviroment.rs
  src/service/error.rs
  src/service/logger.rs
  src/service/main.rs
  src/service/native_service.rs
  src/service/pwsh.rs
  src/service/task_scheduler.rs
  src/service/windows_api/mod.rs
  templates/AppxManifest.xml
  templates/installer-hooks.nsh
  templates/installer.nsi
Due: rust-linter, rust-code-check

ci(nightly): remove old versions on new nightly
  .github/workflows/msix.yml
  .github/workflows/nightly.yml
Due: none

ci(nightly): fix workflow fail
  .github/workflows/nightly.yml
Due: none

feat(themes): allow custom animations on popups (#352)
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  src/apps/shared/components/AnimatedWrappers/domain.ts
  src/apps/shared/components/AnimatedWrappers/index.tsx
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/theme.launcher.css
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: js-linter

fix(ts): error on type checking
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  src/apps/shared/components/AnimatedWrappers/domain.ts
Due: js-linter

ci(commit): add type check to ci
  .github/workflows/ci.yml
  lefthook.yml
  package.json
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
