Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

feat(#1210): configurable start of week
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/general/main/infra/index.tsx
  src/ui/react/settings/modules/shared/store/app/StateBridge.ts
  src/ui/react/settings/modules/shared/store/app/reducer.ts
  src/ui/react/toolbar/modules/Date/Calendar.tsx
  src/ui/react/toolbar/modules/Date/infra.css
  src/ui/react/toolbar/modules/shared/state/mod.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(widgets): internals not loading correctly
  src/background/widgets/webview.rs
Due: rust-format, rust-linter

fix(app): not working on multi users pc
  Cargo.lock
  changelog.md
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/common.rs
  libs/slu-ipc/src/error.rs
  libs/slu-ipc/src/launcher.rs
  libs/slu-ipc/src/service.rs
  src/background/cli/application/mod.rs
  src/background/cli/self_pipe.rs
  src/background/main.rs
  src/background/utils/integrity.rs
  src/background/utils/virtual_desktop.rs
  src/background/windows_api/mod.rs
  src/service/app_management.rs
  src/service/cli/mod.rs
  src/service/cli/processing.rs
  src/service/hotkeys.rs
  src/service/main.rs
  src/service/task_scheduler.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

fix(app): high cpu usage while no interactive session
  changelog.md
  src/background/app.rs
  src/background/hook.rs
  src/background/modules/apps/application/windows.rs
  src/background/modules/apps/infrastructure.rs
  src/background/modules/language/application.rs
  src/background/modules/language/infrastructure.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/radios/bluetooth/handlers.rs
  src/background/modules/radios/handlers.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/user/infrastructure.rs
  src/background/resources/emitters.rs
  src/background/state/application/events.rs
  src/background/state/application/performance.rs
  src/background/state/application/settings.rs
  src/background/state/application/toolbar_items.rs
  src/background/state/application/weg_items.rs
  src/background/utils/discord.rs
  src/background/virtual_desktops/handlers.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/mod.rs
  src/background/windows_api/event_window.rs
  src/service/app_management.rs
  src/ui/vanilla/entry-point/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wm): not working properly on multimonitor
  Cargo.lock
  libs/core/src/rect.rs
  libs/positioning/Cargo.toml
  libs/positioning/src/lib.rs
  src/background/windows_api/window/event.rs
  src/service/cli/processing.rs
Due: rust-format, rust-linter

feat(wall): extended wallpapers
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/Wall/infra.tsx
  src/ui/react/wallpaper_manager/modules/Monitor/derived.ts
  src/ui/react/wallpaper_manager/modules/Monitor/infra.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(svc): shortcuts using win key
  Cargo.lock
  src/service/hotkeys.rs
Due: rust-format, rust-linter

fix(settings): flickering when corrupted wallpapers
  src/ui/react/settings/components/ThumbnailGeneratorModal/index.tsx
  src/ui/react/settings/components/ThumbnailGeneratorModal/thumbnailGenerator.ts
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/ResourceCard.tsx
  src/ui/react/settings/modules/resources/infra.module.css
  src/ui/react/settings/modules/shared/signals.ts
Due: ts-type-check, js-linter

fix(power): refresh battery state after sleep (#1310)
  src/background/modules/power/application.rs
  src/background/modules/power/domain.rs
Due: rust-format, rust-linter

fix(icons): invalidate cached .lnk shortcut icons when source file is modified
  libs/core/src/state/icon_pack.rs
  src/background/resources/system_icon_pack.rs
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

feat(start): custom start menu (part 2)
  Cargo.lock
  libs/core/src/state/icon_pack.ts
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  libs/ui/svelte/components/Icon/common.svelte.ts
  libs/ui/svelte/components/Icon/common.ts
  libs/ui/svelte/components/Icon/index.ts
  libs/ui/svelte/runes/DarkMode.svelte.ts
  libs/utils/src/debounce.rs
  libs/utils/src/lib.rs
  package-lock.json
  package.json
  src/background/exposed.rs
  src/background/modules/media/application/players.rs
  src/background/modules/notifications/application.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/windows_api/types.rs
  src/static/themes/default/styles/apps-menu.scss
  src/ui/react/toolbar/modules/Notifications/infra/Notifications.tsx
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/constants.ts
  src/ui/svelte/apps-menu/i18n/translations/en.yml
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/keyboard-navigation.ts
  src/ui/svelte/apps-menu/positioning.svelte.ts
  src/ui/svelte/apps-menu/search.ts
  src/ui/svelte/apps-menu/state.svelte.ts
  src/ui/vanilla/entry-point/setup.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor: derive mtime from path args instead of passing as parameter
  src/background/resources/system_icon_pack.rs
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

style: fix cargo fmt formatting issue
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

enh(start): improve folders logic
  src/static/themes/default/styles/apps-menu.scss
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/StartMenuBody.svelte
  src/ui/svelte/apps-menu/i18n/translations/en.yml
  src/ui/svelte/apps-menu/keyboard-navigation.ts
  src/ui/svelte/apps-menu/state.svelte.ts
Due: ts-type-check, js-linter

refactor(media): background code
  CLAUDE.md
  changelog.md
  src/background/exposed.rs
  src/background/modules/TODO.md
  src/background/modules/media/application/device.rs
  src/background/modules/media/application/effects.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/session.rs
  src/background/modules/media/devices/application.rs
  src/background/modules/media/devices/domain.rs
  src/background/modules/media/devices/infrastructure.rs
  src/background/modules/media/devices/mod.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/media/mod.rs
  src/background/modules/media/players/application.rs
  src/background/modules/media/players/domain.rs
  src/background/modules/media/players/infrastructure.rs
  src/background/modules/media/players/mod.rs
  src/background/modules/monitors/application.rs
  src/background/modules/radios/manager.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/system/mod.rs
Due: rust-format, rust-linter

refactor(notifications): background code
  CLAUDE.md
  src/background/modules/TODO.md
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/system/mod.rs
Due: rust-format, rust-linter

refactor(power): background code
  changelog.md
  src/background/modules/TODO.md
  src/background/modules/power/application.rs
  src/background/modules/power/infrastructure.rs
  src/background/system/mod.rs
Due: rust-format, rust-linter

refactor(sys-settings): background code
  src/background/app.rs
  src/background/modules/TODO.md
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/traits.rs
Due: rust-format, rust-linter

refactor(sys-lang): background code
  src/background/exposed.rs
  src/background/modules/TODO.md
  src/background/modules/language/infrastructure.rs
  src/background/modules/language/mod.rs
  src/background/modules/mod.rs
  src/background/modules/system_settings/language/application.rs
  src/background/modules/system_settings/language/domain.rs
  src/background/modules/system_settings/language/infrastructure.rs
  src/background/modules/system_settings/language/mod.rs
  src/background/modules/system_settings/mod.rs
  src/background/system/mod.rs
  src/background/utils/lock_free/sync_vec.rs
Due: rust-format, rust-linter

refactor(apps): background code
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/TODO.md
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/previews.rs
  src/background/modules/apps/application/windows.rs
  src/background/modules/apps/infrastructure.rs
  src/background/system/mod.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/weg/weg_items_impl.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(inputs): background code
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/TODO.md
  src/background/modules/apps/infrastructure.rs
  src/background/modules/input/application.rs
  src/background/modules/input/infrastructure.rs
  src/background/modules/mod.rs
  src/background/widgets/mod.rs
  src/background/windows_api/input.rs
  src/background/windows_api/mod.rs
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(apps-menu): crashing on some monitors
  libs/core/src/state/widget/mod.ts
  src/ui/svelte/apps-menu/positioning.svelte.ts
Due: ts-type-check, js-linter

refactor(tray): background code
  src/background/modules/TODO.md
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/infrastructure.rs
Due: rust-format, rust-linter

refactor(user-info): background code
  src/background/modules/TODO.md
  src/background/modules/system_tray/infrastructure.rs
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
  src/background/modules/user/mod.rs
  src/background/system/mod.rs
Due: rust-format, rust-linter

refactor(network): background code
  CLAUDE.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/app.rs
  src/background/main.rs
  src/background/modules/TODO.md
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
  src/background/system/mod.rs
  src/ui/react/toolbar/modules/network/infra/Module.tsx
  src/ui/react/toolbar/modules/shared/store/app.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(migrations): code enhancements
  src/background/app.rs
  src/background/main.rs
  src/background/migrations.rs
  src/background/state/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/weg/mod.rs
Due: rust-format, rust-linter

enh(webview): reduce memory usage
  changelog.md
  src/background/widgets/mod.rs
Due: rust-format, rust-linter

fix(themes): not loading older themes
  libs/core/src/resource/resource_id.rs
Due: rust-format, rust-linter

enh(switcher): add preview thumbnails
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/plugin/mod.ts
  libs/core/src/state/theme/mod.ts
  libs/core/src/state/widget/mod.ts
  src/background/modules/apps/application/windows.rs
  src/background/utils/lock_free/sync_vec.rs
  src/background/widgets/mod.rs
  src/static/themes/default/styles/task-switcher.scss
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/task-switcher/state.svelte.ts
  src/ui/svelte/workspaces-viewer/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(deps): update all deps
  Cargo.lock
  Cargo.toml
  libs/core/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

chore(build): add checksums file and binary signatures
  .github/workflows/nightly.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  src/Cargo.toml
  src/background/utils/updater.rs
  src/build.rs
  src/tauri.conf.json
  src/templates/installer-hooks.nsh
Due: rust-format, rust-linter

chore(build): fix crashing
  libs/core/deno.json
  libs/core/deno.lock
  src/tauri.conf.json
Due: none

refactor(code): remove unneded command
  libs/core/mocks/themes/v2.3.0.yml
  libs/core/mocks/themes/v2.3.12.yml
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  src/background/widgets/loader.rs
  src/background/widgets/mod.rs
  src/background/widgets/webview.rs
  src/static/apps_templates/adobe.yml
  src/static/apps_templates/browser.yml
  src/static/apps_templates/core.yml
  src/static/apps_templates/development.yml
  src/static/apps_templates/gaming.yml
  src/static/apps_templates/password_managers.yml
  src/static/apps_templates/video-and-streaming.yml
  src/static/widgets/popup/metadata.yml
  src/static/widgets/settings/metadata.yml
  src/ui/react/settings/app.tsx
  src/ui/react/settings/index.tsx
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/weg/modules/bar/menu.tsx
  src/ui/svelte/quick-settings/app.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(build): change checksums signature method
  .github/workflows/nightly.yml
  Cargo.lock
  Cargo.toml
  src/Cargo.toml
  src/build.rs
Due: rust-format, rust-linter

fix(memory): memory leak workaround improvements
  .github/workflows/nightly.yml
  scripts/versionish.ts
  src/ui/vanilla/entry-point/index.ts
Due: ts-type-check, js-linter

chore(deps): miss updated deps
  package-lock.json
Due: none

ci(nightly): fix bundling
  src/build.rs
  src/tauri.conf.json
  src/templates/installer-hooks.nsh
Due: rust-format, rust-linter
