Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

ci(lib): add new workflow
  .github/workflows/publish-library.yml
Due: none

Merge branch 'improve-cn-translation'
  src/ui/settings/i18n/translations/zh-CN.yml
  src/ui/toolbar/i18n/translations/zh-CN.yml
Due: none

fix translate ko.yml and other korean titles
  src/static/widgets/toolbar.yml
  src/static/widgets/weg.yml
  src/static/widgets/window-manager.yml
  src/ui/settings/i18n/translations/ko.yml
Due: none

feat(tb): add new power menu
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/placeholder.rs
  libs/core/src/state/weg_items.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/core/src/utils/async.ts
  src/background/app.rs
  src/background/app_instance.rs
  src/background/modules/mod.rs
  src/background/resources/mod.rs
  src/background/state/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/mod.rs
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/widgets/popup.yml
  src/static/widgets/power-menu/metadata.yml
  src/static/widgets/power-menu/toolbar-plugin.yml
  src/static/widgets/settings.yml
  src/static/widgets/task-switcher.yml
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/modules/resources/Plugins.tsx
  src/ui/react/task_switcher/app.tsx
  src/ui/react/toolbar/i18n/translations/en.yml
  src/ui/react/toolbar/modules/QuickAccess/infra.tsx
  src/ui/react/toolbar/modules/item/app.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/react/toolbar/modules/main/mappins.tsx
  src/ui/react/toolbar/modules/user/infra/UserHome.tsx
  src/ui/svelte/power-menu/actions.ts
  src/ui/svelte/power-menu/options.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(switcher): fix behaviours on tab pressing
  src/ui/react/task_switcher/app/bar.tsx
  src/ui/react/task_switcher/app/item.tsx
  src/ui/react/task_switcher/app/state.ts
Due: ts-type-check, js-linter

ci(build): use release signing now
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  README.md
  deno.json
Due: none

enh(nsis): remove old assets on instalation
  src/templates/installer-hooks.nsh
  src/templates/installer.nsi
Due: none

fix(i18n): improve Chinese translations for consistency and clarity
  src/background/i18n/zh-CN.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/react/toolbar/i18n/translations/zh-CN.yml
  src/ui/react/weg/i18n/translations/zh-CN.yml
  src/ui/svelte/power-menu/i18n/translations/zh-CN.yml
Due: none

fix(i18n): update translation for window animation in Chinese
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

fix(i18n): improve Chinese translations for clarity and consistency
  src/static/widgets/settings.yml
  src/static/widgets/weg.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/react/toolbar/i18n/translations/zh-CN.yml
Due: none

fix(#1258): missing translations on background process
  changelog.md
  src/background/main.rs
  src/static/themes/default/styles/tray-menu.scss
Due: rust-format, rust-linter

enh(core): app windows filtering
  changelog.md
  src/background/modules/apps/application/windows.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/application/tray_spy.rs
  src/background/virtual_desktops/cli.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

enh(widget): add new arguments for widget triggering
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/positioning.ts
  src/background/state/application/toolbar_items.rs
  src/static/widgets/system-tray/toolbar-plugin.yml
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/react/toolbar/modules/main/application.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(shortcuts): disable shortcuts by widget
  changelog.md
  libs/core/src/state/settings/by_widget.rs
  libs/core/src/state/settings/mod.rs
  libs/core/src/state/settings/shortcuts.rs
  libs/slu-ipc/src/messages.rs
  src/background/app.rs
  src/service/cli/processing.rs
  src/service/hotkeys.rs
Due: rust-format, rust-linter

enh(settings): only show enabled themes
  changelog.md
  src/ui/react/settings/components/navigation/index.tsx
Due: ts-type-check, js-linter

fix(i18n): update Chinese translations for improved clarity and consistency
  src/background/i18n/zh-CN.yml
  src/static/plugins/tb_default_focused_app.yml
  src/static/plugins/tb_default_focused_app_title.yml
  src/static/plugins/tb_default_workspaces_dotted.yml
  src/static/plugins/tb_default_workspaces_named.yml
  src/static/plugins/tb_default_workspaces_numbered.yml
  src/static/plugins/wm_bsp.yml
  src/static/plugins/wm_grid.yml
  src/static/plugins/wm_tall.yml
  src/static/plugins/wm_wide.yml
  src/static/themes/default/i18n/display_name.yml
  src/static/widgets/popup.yml
Due: none

refactor(widgets): improve widgets trigger logic
  .github/actions/generate-update-manifest/action.yml
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/positioning.ts
  libs/core/src/utils/mod.rs
  src/background/cli/application/mod.rs
  src/background/exposed.rs
  src/background/widgets/mod.rs
  src/background/widgets/task_switcher/cli.rs
  src/ui/react/task_switcher/app/state.ts
  src/ui/react/toolbar/modules/QuickAccess/infra.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/svelte/power-menu/actions.ts
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/workspaces-viewer/app.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/svelte/workspaces-viewer/app/Workspace.svelte
  src/ui/svelte/workspaces-viewer/index.ts
  src/ui/svelte/workspaces-viewer/public/index.html
  src/ui/svelte/workspaces-viewer/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

ci(lib): add publish lib workflow
  .github/workflows/publish-core.yml
  .github/workflows/release.yml
Due: none

refactor(tb): code splitting
  .claude/settings.local.json
  src/static/plugins/wm_123_stack.yml
  src/ui/react/toolbar/modules/item/app/actionEvaluator.ts
  src/ui/react/toolbar/modules/item/app/hooks/index.ts
  src/ui/react/toolbar/modules/item/app/hooks/useItemScope.ts
  src/ui/react/toolbar/modules/item/app/hooks/useRemoteData.ts
  src/ui/react/toolbar/modules/item/app/services/index.ts
  src/ui/react/toolbar/modules/item/app/services/widgetTrigger.ts
  src/ui/react/toolbar/modules/item/domain/index.ts
  src/ui/react/toolbar/modules/item/domain/types.ts
  src/ui/react/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
Due: ts-type-check, js-linter

enh(resources): allow enable widget after download
  libs/core/src/state/settings/by_widget.rs
  libs/core/src/state/settings/mod.rs
  src/background/cli/application/uri.rs
Due: rust-format, rust-linter

enh(windows): revalidate interactable windows
  src/background/hook.rs
  src/background/modules/apps/application/windows.rs
  src/background/modules/language/application.rs
  src/background/modules/network/application/mod.rs
  src/background/modules/notifications/application.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/utils/discord.rs
  src/background/utils/integrity.rs
  src/background/utils/mod.rs
  src/background/windows_api/event_window.rs
Due: rust-format, rust-linter

fix(media): deadlocks
  changelog.md
  src/background/modules/media/application/device.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/infrastructure.rs
  src/background/utils/lock_free/sync_hash_map.rs
Due: rust-format, rust-linter

fix(update): update not starting cause process killed
  src/service/hotkeys.rs
  src/service/main.rs
Due: rust-format, rust-linter

enh(plugins): change icons
  src/static/plugins/tb_default_power/plugin/template.js
  src/static/plugins/tb_default_power/plugin/tooltip.js
  src/static/widgets/system-tray/metadata.yml
  src/static/widgets/system-tray/toolbar-plugin.yml
Due: ts-type-check, js-linter

ci(release): fix workflow
  .github/workflows/release.yml
Due: none

ci(delete): remove unused workflow file
  .github/workflows/publish-library.yml
Due: none

fix(lib-build): type checking on core lib
  libs/core/src/state/widget/mod.ts
  package.json
Due: ts-type-check, js-linter

fix(lib): circular dependency
  libs/core/mod.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/positioning.ts
Due: ts-type-check, js-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
