Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

New translations en.yml (Urdu (India))
  src/ui/settings/i18n/translations/ur.yml
Due: none

New translations en.yml (Serbian)
  src/ui/settings/i18n/translations/sr.yml
Due: none

New translations en.yml (Tagalog)
  src/ui/settings/i18n/translations/tl.yml
Due: none

fix(tb): media popup styles
  changelog.md
  libs/widgets-shared/components/SlPopup/index.tsx
  src/background/modules/power/application.rs
  src/ui/toolbar/modules/media/infra/MediaDevice.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(perf): implementation of extreme performance mode
  Cargo.lock
  libs/widgets-shared/performance.ts
  package-lock.json
  package.json
  src/background/state/application/performance.rs
  src/background/state/infrastructure.rs
  src/background/widgets/wallpaper_manager/hook.rs
  src/background/windows_api/window/mod.rs
  src/ui/launcher/index.tsx
  src/ui/popup/index.tsx
  src/ui/settings/modules/shared/store/app/reducer.ts
  src/ui/third_party/index.ts
  src/ui/toolbar/index.tsx
  src/ui/wallpaper_manager/index.tsx
  src/ui/wallpaper_manager/modules/Monitor/infra.tsx
  src/ui/wallpaper_manager/modules/shared/state.ts
  src/ui/weg/index.tsx
  src/ui/window_manager/index.tsx
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(bg): hardcoded system driver unit
  Cargo.lock
  Cargo.toml
  changelog.md
  src/background/exposed.rs
  src/background/modules/start/application.rs
  src/background/state/application/performance.rs
  src/background/utils/constants.rs
  src/background/utils/integrity.rs
  src/background/utils/pwsh.rs
  src/background/utils/winver.rs
  src/background/widgets/weg/cli.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window/mod.rs
  src/service/app_management.rs
  src/service/enviroment.rs
  src/ui/toolbar/modules/main/ContextMenu.tsx
  src/ui/weg/modules/bar/menu.tsx
  static/apps_templates/system.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(wm): not working on elevated app windows
  Cargo.lock
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/error.rs
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/messages.rs
  src/background/app.rs
  src/background/cli/svc_pipe.rs
  src/background/widgets/window_manager/handler.rs
  src/background/windows_api/window/mod.rs
  src/service/cli/processing.rs
  src/service/error.rs
Due: rust-linter, rust-code-check

fix(wm): not reserving space for the dock
  changelog.md
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/window_manager/instance.rs
Due: rust-linter, rust-code-check

chore(release): v2.4.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(translations): corrected Portuguese (pt-PT) translations.
  src/ui/weg/i18n/translations/pt-PT.yml
Due: none

fix(tb): notifications
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
  src/background/exposed.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/start/application.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/types.rs
  src/ui/toolbar/modules/Notifications/infra/Notification.tsx
  src/ui/toolbar/modules/Notifications/infra/Notifications.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(weg): auto hide hover trigger
  changelog.md
  libs/widgets-shared/components/Wallpaper/index.tsx
  src/background/modules/notifications/application.rs
  src/background/widgets/toolbar/hook.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/weg/instance.rs
  src/ui/toolbar/modules/shared/state/dom.ts
  src/ui/toolbar/modules/shared/state/mod.ts
  src/ui/toolbar/styles/global.css
  src/ui/weg/modules/shared/state/dom.ts
  src/ui/weg/modules/shared/state/mod.ts
  src/ui/weg/modules/shared/state/system.ts
  src/ui/weg/styles/global.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(vd): not validation windows on vd load from store
  changelog.md
  src/background/virtual_desktops/mod.rs
Due: rust-linter, rust-code-check

fix(weg): hidding while hovered
  src/ui/weg/styles/global.css
Due: none

chore(release): v2.4.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Added NEON intrinsics
  src/background/utils/icon_extractor/mod.rs
Due: rust-linter, rust-code-check

refactor(core): add feature flag for gen bindings
  libs/core/Cargo.toml
  libs/core/scripts/rust_bindings.ts
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/events.rs
  libs/core/src/lib.rs
  libs/core/src/resource/file.rs
  libs/core/src/resource/mod.rs
  libs/core/src/state/icon_pack.rs
  libs/core/src/state/placeholder.rs
  libs/core/src/state/plugin/mod.rs
  libs/core/src/state/popups/mod.rs
  libs/core/src/state/profile.rs
  libs/core/src/state/settings/mod.rs
  libs/core/src/state/settings_by_app.rs
  libs/core/src/state/theme/mod.rs
  libs/core/src/state/wallpaper/mod.rs
  libs/core/src/state/weg_items.rs
  libs/core/src/state/widget/declaration.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/wm_layout.rs
  libs/core/src/state/workspaces/mod.rs
  libs/core/src/system_state/bluetooth/build_low_energy_enums.rs
  libs/core/src/system_state/bluetooth/low_energy_enums.rs
  libs/core/src/system_state/bluetooth/mod.rs
  libs/core/src/system_state/language.rs
  libs/core/src/system_state/notification.rs
  libs/core/src/system_state/ui_colors.rs
  libs/core/src/system_state/user.rs
  scripts/clean.ps1
Due: js-linter, rust-linter, ts-type-check, rust-code-check

New translations en.yml (Spanish)
  src/background/i18n/es.yml
Due: none

New translations en.yml (Spanish)
  src/ui/settings/i18n/translations/es.yml
Due: none

New translations en.yml (Chinese Simplified)
  src/background/i18n/zh-CN.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/background/i18n/zh-TW.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/ui/launcher/i18n/translations/zh-TW.yml
Due: none

New translations en.yml (Chinese Simplified)
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/ui/settings/i18n/translations/zh-TW.yml
Due: none

New translations en.yml (Chinese Simplified)
  src/ui/toolbar/i18n/translations/zh-CN.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/ui/toolbar/i18n/translations/zh-TW.yml
Due: none

New translations en.yml (Portuguese)
  src/background/i18n/pt-PT.yml
Due: none

New translations en.yml (Portuguese)
  src/ui/settings/i18n/translations/pt-PT.yml
Due: none

New translations en.yml (Portuguese, Brazilian)
  src/background/i18n/pt-BR.yml
Due: none

New translations en.yml (Portuguese, Brazilian)
  src/ui/settings/i18n/translations/pt-BR.yml
Due: none

New translations en.yml (Romanian)
  src/background/i18n/ro.yml
Due: none

New translations en.yml (Romanian)
  src/ui/settings/i18n/translations/ro.yml
Due: none

New translations en.yml (French)
  src/background/i18n/fr.yml
Due: none

New translations en.yml (French)
  src/ui/settings/i18n/translations/fr.yml
Due: none

New translations en.yml (French)
  src/ui/toolbar/i18n/translations/fr.yml
Due: none

New translations en.yml (Afrikaans)
  src/background/i18n/af.yml
Due: none

New translations en.yml (Afrikaans)
  src/ui/settings/i18n/translations/af.yml
Due: none

New translations en.yml (Arabic)
  src/background/i18n/ar.yml
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  rust-code-check: any of: **/*.rs
