Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(deadlock): reaper dictionary
  src/background/hook.rs
Due: rust-linter, rust-code-check

docs(readme): update
  documentation/themes.md
  documentation/toolbar.md
  readme.md
Due: none

fix(deadlock): delay reaper start
  src/background/hook.rs
Due: rust-linter, rust-code-check

docs(changelog): typo
  changelog.md
Due: none

chore(release): v2.3.0
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(tb): plugin implementation
  changelog.md
  package-lock.json
  package.json
  src/apps/shared/styles/reset.css
  src/apps/toolbar/modules/item/app.tsx
  src/apps/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/StringElement.tsx
  src/background/hook.rs
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_user_folder.yml
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(tb): improvements on error catching
  changelog.md
  src/apps/toolbar/modules/item/infra/EvaluatedComponents.tsx
Due: js-linter, ts-type-check

chore(release): v2.3.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(weg): remove unnecesary calc
  changelog.md
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/styles/global.css
Due: js-linter, ts-type-check

fix(themes): not being applied correctly
  changelog.md
  src/apps/shared/styles.ts
  src/background/state/application/plugins.rs
  src/background/state/application/themes.rs
  src/background/state/application/widgets.rs
  static/themes/rainbow.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.3.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Hebrew updated. Adding punctuation to words is not used for formal modern Hebrew
  src/apps/settings/i18n/translations/he.yml
Due: none

2nd hebrew update
  src/apps/seelenweg/i18n/translations/he.yml
  src/apps/toolbar/i18n/translations/he.yml
  src/background/i18n/he.yml
Due: none

fix(weg): no deleting mask on icons
  changelog.md
  rust-toolchain.toml
  src/apps/seelenweg/components/BackgroundByLayers/infra.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  static/plugins/tb_default_network.yml
  static/themes/bubbles.yml
  static/themes/default/seelen/weg.css
  static/themes/rainbow.yml
Due: js-linter, ts-type-check

fix(tb): incorrect wbview label
  src/background/seelen_bar/mod.rs
Due: rust-linter, rust-code-check

refactor(lib): update code by lib
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): missing plugins
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_date.yml
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_keyboard.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_network.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_power.yml
  static/plugins/tb_default_quick_settings.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/tb_default_user_folder.yml
  static/plugins/tb_default_workspaces_dotted.yml
  static/plugins/tb_default_workspaces_named.yml
  static/plugins/tb_default_workspaces_numbered.yml
  static/plugins/wm_bsp.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
Due: none

style(weg): fix basic styles
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/styles/global.css
  src/apps/seelenweg/styles/variables.css
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

enh(themes): deprecate themes
  src/background/state/application/themes.rs
  static/themes/default/seelen/weg.css
  static/themes/dock-animation/theme.yml
  static/themes/rainbow.yml
Due: rust-linter, rust-code-check

feat(#819): add custom data attributes to toolbar
  src/apps/shared/interfaces/common.ts
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/hook.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(tb): fix dynamic color and add new attribute)
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/seelen_weg/handler.rs
  static/themes/bubbles.yml
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(settings): ui refactor part 1
  package-lock.json
  package.json
  src/apps/settings/app.tsx
  src/apps/settings/components/header/ExtraInfo.tsx
  src/apps/settings/components/header/index.tsx
  src/apps/settings/components/layout/index.module.css
  src/apps/settings/components/layout/index.tsx
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/index.tsx
  src/apps/settings/modules/Home/MiniStore.tsx
  src/apps/settings/modules/general/main/infra/IconPacks.tsx
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/resources/IconPacks.tsx
  src/apps/settings/modules/resources/Themes.tsx
  src/apps/settings/modules/resources/common.tsx
  src/apps/settings/modules/resources/infra.module.css
  src/apps/settings/modules/resources/infra.tsx
  src/apps/settings/modules/resources/selector.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/router.tsx
  src/apps/settings/styles/global.css
  src/apps/shared/components/ResourceText/index.tsx
  src/background/seelen.rs
  src/background/windows_api/monitor/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(#818): media player not being updated on close
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/toolbar/modules/media/infra/MediaPlayer.tsx
  src/background/error_handler.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

Update pl.yml
  src/background/i18n/pl.yml
Due: none

Update pl.yml (#849)
  src/background/i18n/pl.yml
Due: none

fix(#636): background process showing on dock
  changelog.md
  src/apps/settings/components/navigation/index.tsx
  src/background/state/application/apps_config.rs
  src/background/state/application/mod.rs
  src/background/utils/winver.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/service/enviroment.rs
  static/apps_templates/adobe.yml
  static/apps_templates/browser.yml
  static/apps_templates/core.yml
  static/apps_templates/development.yml
  static/apps_templates/gaming.yml
  static/apps_templates/password_managers.yml
  static/apps_templates/system.yml
  static/apps_templates/video-and-streaming.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(#838): improve dynamic color and add new attributes
  changelog.md
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/shared/interfaces/common.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(lang): add missing translations
  static/themes/animated-start-icon/theme.yml
Due: none

chore(release): v2.3.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(settings): duplicated themes on download
  changelog.md
Due: none
