Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(dock): pinned apps not being shown
  changelog.md
  libs/core/src/state/weg_items.rs
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.5.6
  changelog.md
Due: none

chore(release): start v2.5.7
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(settings): tooltips
  changelog.md
  libs/ui/react/components/Icon/index.tsx
  libs/ui/react/components/InlineSvg/index.tsx
  libs/ui/react/components/OverflowTooltip/index.module.css
  libs/ui/react/components/OverflowTooltip/index.tsx
  src/background/utils/integrity/webview.rs
  src/ui/react/settings/modules/Home/News.tsx
  src/ui/react/settings/modules/general/infra/index.tsx
  src/ui/react/weg/modules/shared/state/items.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(dock): preview styles
  libs/widgets-shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  libs/widgets-shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  libs/widgets-shared/components/AnimatedWrappers/PopupsState.ts
  libs/widgets-shared/components/AnimatedWrappers/domain.ts
  libs/widgets-shared/components/AnimatedWrappers/index.tsx
  libs/widgets-shared/components/SlPopup/base.css
  libs/widgets-shared/components/SlPopup/index.tsx
  libs/widgets-shared/components/SlPopup/mergeRefs.ts
  libs/widgets-shared/components/SlPopup/positioning.ts
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/weg.css
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationPreview.tsx
  src/ui/react/weg/styles/global.css
Due: ts-type-check, js-linter

feat(dock): allow split multiple windows into separated items
  changelog.md
  libs/core/src/state/settings/mod.rs
  package-lock.json
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/seelenweg/infra.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(#1428): no scrollable folders on apps menu
  changelog.md
  src/static/themes/default/styles/apps-menu.scss
  src/ui/svelte/apps-menu/components/PinnedView.svelte
Due: none

feat(#750): add trash bin module to dock
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/weg_items.rs
  libs/core/src/system_state/mod.rs
  libs/core/src/system_state/trash_bin.rs
  src/Cargo.toml
  src/background/exposed.rs
  src/background/modules/mod.rs
  src/background/modules/trash_bin/application.rs
  src/background/modules/trash_bin/infrastructure.rs
  src/background/modules/trash_bin/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/state/application/weg_items.rs
  src/background/windows_api/event_window.rs
  src/static/icons/trash_bin_empty.png
  src/static/icons/trash_bin_full.png
  src/static/icons/trash_bin_mask.png
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/DockMenu.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/GeneralMenu.tsx
  src/ui/react/weg/modules/item/infra/RecycleBin.tsx
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/state/system.ts
  src/ui/react/weg/modules/shared/types.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(icons): appx using mappings on resources.pri and PWAs on edge
  changelog.md
  libs/core/src/state/icon_pack.ts
  src/background/modules/apps/application/msix.rs
  src/background/resources/system_icon_pack.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(power-menu): not scaling properly on custom text scale factor
  changelog.md
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/workspaces-viewer/index.ts
Due: ts-type-check, js-linter

feat(#1471): custom polling interval for system resources
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/background/modules/system/mod.rs
  src/ui/react/settings/components/SettingsBox/index.module.css
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/general/application.ts
  src/ui/react/settings/modules/general/infra/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(icons): not being refreshed on new apps installation
  changelog.md
  libs/ui/react/components/Icon/FileIcon.tsx
  libs/ui/react/components/Icon/MissingIcon.tsx
  libs/ui/react/components/Icon/SpecificIcon.tsx
  libs/ui/react/components/Icon/common.ts
  libs/ui/svelte/components/Icon/FileIcon.svelte
  src/background/modules/start/application.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(icons): not clearing failure list on cache clear
  changelog.md
  src/background/resources/commands.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
Due: rust-format, rust-linter

fix(tb): language stuck on english
  changelog.md
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/svelte/calendar-popup/app.svelte
  src/ui/svelte/calendar-popup/i18n/index.ts
  src/ui/svelte/calendar-popup/index.ts
  src/ui/svelte/calendar-popup/state.svelte.ts
  src/ui/svelte/keyboard-selector/index.ts
  src/ui/svelte/keyboard-selector/state.svelte.ts
Due: ts-type-check, js-linter

enh(flyouts): improve behavior
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/widgets/mod.rs
  src/background/windows_api/mod.rs
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/app/Brightness.svelte
  src/ui/svelte/flyouts/app/MediaDevices.svelte
  src/ui/svelte/flyouts/app/MediaPlaying.svelte
  src/ui/svelte/flyouts/app/Workspace.svelte
  src/ui/svelte/flyouts/state/placement.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(lib): split webview and window on separated objects
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/ui/react/utils/layered.ts
  libs/ui/react/utils/signals.ts
  src/background/virtual_desktops/mod.rs
  src/ui/react/popup/app.tsx
  src/ui/react/settings/index.tsx
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/app.tsx
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/flyouts/index.ts
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/task-switcher/state.svelte.ts
  src/ui/svelte/user-menu/state/mod.svelte.ts
  src/ui/svelte/wallpaper_manager/index.ts
  src/ui/svelte/workspaces-viewer/app.svelte
  src/ui/svelte/workspaces-viewer/app/Window.svelte
  src/ui/svelte/workspaces-viewer/app/Workspace.svelte
  src/ui/svelte/workspaces-viewer/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(deps): update tauri deps
  Cargo.lock
  Cargo.toml
  libs/core/deno.json
  libs/core/deno.lock
  package-lock.json
  package.json
  src/ui/globals.d.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/bluetooth-popup/icons.ts
  tsconfig.json
Due: ts-type-check, js-linter

enh(lib): add new fields to resource structure
  libs/core/src/resource/mod.rs
Due: rust-format, rust-linter

chore(release): finish v2.5.7
  changelog.md
Due: none

Revert "build(deps): bump scc from 2.4.0 to 3.6.11 (#1484)"
  Cargo.lock
  Cargo.toml
Due: none

revert(deps): bump scc from 2.4.0 to 3.6.11 (#1484)
  Cargo.lock
  Cargo.toml
Due: none

Revert "build(deps-dev): bump typescript from 5.9.3 to 6.0.2 (#1489)"
  package-lock.json
  package.json
Due: none

revert(deps-dev): bump typescript from 5.9.3 to 6.0.2 (#1489)
  package-lock.json
  package.json
Due: none

chore(release): start v2.5.8
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(widgets): high cpu usage while suspended session
  changelog.md
  src/background/widgets/loader.rs
Due: rust-format, rust-linter

fix(svc): not restarting the app
  src/service/app_management.rs
  src/service/main.rs
Due: rust-format, rust-linter

chore(lint): run linter
  src/static/icons/desktop.svg
  src/static/icons/metal_corp.svg
  src/templates/AppxManifest.xml
  src/ui/react/settings/public/company_logo.svg
Due: none

feat(auth): session module
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/mod.rs
  libs/core/src/system_state/session.rs
  package-lock.json
  src/background/cli/application/uri.rs
  src/background/exposed.rs
  src/background/main.rs
  src/background/session/application.rs
  src/background/session/domain.rs
  src/background/session/infrastructure.rs
  src/background/session/mod.rs
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/extras/infra.module.css
  src/ui/react/settings/modules/extras/infrastructure.tsx
  src/ui/react/settings/modules/extras/session/infra.module.css
  src/ui/react/settings/modules/extras/session/infra.tsx
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/session.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(startup): silent exit
  src/background/main.rs
  src/background/utils/integrity/mod.rs
  src/background/utils/integrity/webview.rs
Due: rust-format, rust-linter

enh(logs): reduce redudant logs
  changelog.md
  src/background/utils/icon_extractor/queue.rs
  src/ui/vanilla/entry-point/ConsoleWrapper.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

style(colors): fix agressive dark mode
  libs/widgets-shared/styles/colors.css
  src/static/themes/default/styles/notifications.scss
  src/static/themes/default/styles/user-menu.scss
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/svelte/media-popup/app.svelte
  src/ui/svelte/notifications/app.svelte
Due: none

feat(resources): add resources filtering by account
  libs/core/src/resource/metadata.rs
  src/background/resources/commands.rs
  src/background/resources/emitters.rs
  src/background/resources/system_icon_pack.rs
  src/background/session/application.rs
  src/background/session/domain.rs
  src/background/session/infrastructure.rs
  src/background/state/application/mod.rs
Due: rust-format, rust-linter

feat(account): streaming mode
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/background/app.rs
  src/background/modules/user/infrastructure.rs
  src/background/session/infrastructure.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/extras/application.ts
  src/ui/react/settings/modules/extras/infrastructure.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(settings): add discord banner
  libs/widgets-shared/styles/reset.css
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/Home/News.module.css
  src/ui/react/settings/modules/Home/News.tsx
  src/ui/react/settings/modules/extras/infrastructure.tsx
  src/ui/react/settings/public/discord.webp
Due: ts-type-check, js-linter

refactor(lib): resource struct
  libs/core/src/resource/file.rs
  libs/core/src/resource/mod.rs
  libs/core/src/utils/mod.rs
  libs/core/src/utils/slug.rs
  src/background/state/application/settings.rs
Due: rust-format, rust-linter

fix(resources): download failing
  changelog.md
  libs/core/src/resource/mod.rs
Due: rust-format, rust-linter

chore(docs): add documentation for users
  documentation/plugin_guidelines.md
  documentation/resource_guidelines.md
  documentation/theme_guidelines.md
  documentation/widget_guidelines.md
  libs/core/src/resource/resource_id.rs
Due: rust-format, rust-linter

refactor(resources): remove deprecated code
  changelog.md
  libs/core/src/state/theme/mod.rs
  libs/core/src/state/widget/mod.rs
Due: rust-format, rust-linter

enh(apps-menu): performance improvements
  changelog.md
  package-lock.json
  package.json
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/components/SortableAppItem.svelte
  src/ui/svelte/apps-menu/state/knownFolders.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/search.svelte.ts
Due: ts-type-check, js-linter
