Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

fix(settings): download update icon
  changelog.md
  src/ui/react/settings/components/header/UpdateButton.tsx
  src/ui/react/settings/components/header/index.module.css
Due: ts-type-check, js-linter

fix(dock): auto-hide stucked state
  libs/ui/react/utils/signals.ts
Due: ts-type-check, js-linter

chore(release): finish v2.6.0
  changelog.md
Due: none

chore(release): start v2.6.1
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(widgets): prevent webview recreation during GameMode suspend
  src/background/widgets/loader.rs
Due: rust-format, rust-linter

docs(core): refine zh-TW reanslations for main UI and settings
  changelog.md
  src/ui/react/fancy-toolbar/i18n/translations/zh-TW.yml
  src/ui/react/settings/i18n/translations/zh-TW.yml
  src/ui/react/weg/i18n/translations/zh-TW.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-TW.yml
  src/ui/svelte/bluetooth-popup/i18n/translations/zh-TW.yml
  src/ui/svelte/calendar-popup/i18n/translations/zh-TW.yml
  src/ui/svelte/keyboard-selector/i18n/translations/zh-TW.yml
  src/ui/svelte/network-popup/i18n/translations/zh-TW.yml
  src/ui/svelte/notifications/i18n/translations/zh-TW.yml
  src/ui/svelte/power-menu/i18n/translations/zh-TW.yml
  src/ui/svelte/user-menu/i18n/translations/zh-TW.yml
Due: none

docs(widgets): update descriptions and options for widgets and themes
  src/static/themes/default/i18n/description.yml
  src/static/widgets/apps-menu/i18n/display_name.yml
  src/static/widgets/apps-menu/i18n/settings/acrylic.yml
  src/static/widgets/calendar-popup/i18n/description.yml
  src/static/widgets/context-menu/i18n/description.yml
  src/static/widgets/flyouts/i18n/description.yml
  src/static/widgets/flyouts/i18n/display_name.yml
  src/static/widgets/flyouts/i18n/settings/margin.yml
  src/static/widgets/flyouts/i18n/settings/placement-right.yml
  src/static/widgets/flyouts/i18n/settings/show-media-player-change.yml
  src/static/widgets/flyouts/i18n/settings/show-notifications.yml
  src/static/widgets/flyouts/i18n/settings/show-on.yml
  src/static/widgets/flyouts/i18n/settings/show-workspace-change.yml
  src/static/widgets/media-popup/i18n/description.yml
  src/static/widgets/media-popup/i18n/display_name.yml
  src/static/widgets/power-menu/i18n/description.yml
  src/static/widgets/power-menu/i18n/display_name.yml
  src/static/widgets/quick-settings/i18n/description.yml
  src/static/widgets/quick-settings/i18n/display_name.yml
  src/static/widgets/system-tray/i18n/description.yml
  src/static/widgets/system-tray/i18n/display_name.yml
  src/static/widgets/task-switcher/i18n/display_name.yml
  src/static/widgets/task-switcher/i18n/shortcuts/task-switcher-next-auto.yml
  src/static/widgets/task-switcher/i18n/shortcuts/task-switcher-next.yml
  src/static/widgets/task-switcher/i18n/shortcuts/task-switcher-prev-auto.yml
  src/static/widgets/task-switcher/i18n/shortcuts/task-switcher-prev.yml
  src/static/widgets/user/i18n/settings/display-name-source-xbox-gamertag.yml
  src/static/widgets/wallpaper-manager/i18n/display_name.yml
  src/static/widgets/wallpaper-manager/i18n/shortcuts/wallpaper-next.yml
  src/static/widgets/wallpaper-manager/i18n/shortcuts/wallpaper-prev.yml
  src/static/widgets/weg/i18n/display_name.yml
  src/static/widgets/window-manager/i18n/display_name.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-toggle-monocle.yml
  src/static/widgets/workspaces-viewer/i18n/shortcuts/vd-toggle-view.yml
Due: none

docs(notify): fix zh-TW translation for system notifications
  src/background/i18n/zh-TW.yml
Due: none

chore: apply npm audit fix (lockfile only)
  package-lock.json
Due: none

style(wm): default theme
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/styles/window-manager.css
  src/ui/svelte/window-manager/layout/infra/containers/Stack.svelte
Due: none

style(tb): default theme
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/weg.css
Due: none

style(foreground): default theme
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/quick-settings.scss
Due: none

style(tb): default theme
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/quick-settings.scss
  src/static/themes/default/styles/window-manager.css
Due: none

chore(release): finish v2.6.6
  changelog.md
Due: none

chore(release): start v2.6.7
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(deadlock): app bar registering
  changelog.md
  src/background/windows_api/app_bar.rs
Due: rust-format, rust-linter

fix(wall): restore raised desktop support broken on MSIX
  changelog.md
  src/background/widgets/wallpaper_manager/handlers.rs
  src/background/widgets/wallpaper_manager/mod.rs
Due: rust-format, rust-linter

fix(nsis): updater
  changelog.md
  src/background/utils/updater.rs
Due: rust-format, rust-linter

fix(wall): not working on msix
  src/background/widgets/wallpaper_manager/handlers.rs
  src/ui/svelte/wallpaper-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wall): not working on msix
  src/background/widgets/wallpaper_manager/mod.rs
  src/ui/svelte/wallpaper-manager/app.svelte
  src/ui/svelte/wallpaper-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wall): not working on msix
  src/ui/svelte/wallpaper-manager/app.svelte
Due: none

fix(wall): not working on msix
  src/background/widgets/wallpaper_manager/handlers.rs
  src/background/widgets/wallpaper_manager/mod.rs
  src/ui/svelte/wallpaper-manager/app.svelte
  src/ui/svelte/wallpaper-manager/index.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.6.7
  changelog.md
Due: none

chore(release): start v2.6.8
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(resources): assets download silently failing
  changelog.md
  src/background/cli/uri/icons_downloader.rs
  src/background/cli/uri/mod.rs
  src/background/session/application.rs
Due: rust-format, rust-linter

chore(release): finish v2.6.8
  changelog.md
Due: none

chore(release): start v2.6.9
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(resources): assets download low timeout
  src/background/cli/uri/mod.rs
Due: rust-format, rust-linter

enh(resources): add loading bar
  libs/core/src/state/popups/mod.rs
  src/background/cli/uri/mod.rs
  src/ui/react/popup/app.tsx
  src/ui/react/popup/global.css
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(apps-menu): optimizations
  changelog.md
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/apps-menu.scss
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/state/search.svelte.ts
Due: ts-type-check, js-linter

feat(tb): expose window color as css variable
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/previews.rs
  src/background/modules/apps/infrastructure.rs
  src/background/utils/lock_free/sync_vec.rs
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(twm): focus/swap via keyboard
  changelog.md
  libs/core/src/rect.rs
  libs/core/src/state/wm_layout.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(twm): stack nodes
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  package-lock.json
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/state_v2.rs
  src/ui/svelte/window-manager/layout/infra/containers/Stack.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(focus): stealing focus on fullscreen apps
  changelog.md
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/weg/app.tsx
Due: ts-type-check, js-linter

enh(weg): touchscreen support
  changelog.md
  libs/ui/react/utils/layered.ts
  src/ui/react/weg/index.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
Due: ts-type-check, js-linter

fix(tb): toolbar and dock showing while fullscreen
  changelog.md
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/app.tsx
  src/ui/react/weg/modules/shared/state/windows.ts
Due: ts-type-check, js-linter

fix(core): fix autosizer cropping popup widgets on trigger
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/core/src/utils/async.ts
Due: ts-type-check, js-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
