Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

docs(readme): update images
  documentation/images/media_module_preview.png
  documentation/images/preview2.png
  readme.md
Due: none

docs(contributing): update
  CONTRIBUTING
Due: none

docs(policy): update
  documentation/privacy policy.md
Due: none

docs(readme): add table of content
  readme.md
Due: none

docs(themes): add warning
  documentation/themes.md
Due: none

fix(crash): on registering network events
  Cargo.lock
  Cargo.toml
  changelog.md
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/events.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/modules/network/infrastructure.rs
  src/background/plugins.rs
  src/background/seelen.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, rust-code-check

perf(exposed): make async all exposed handlers
  changelog.md
  src/apps/toolbar/modules/main/infra.tsx
  src/background/exposed.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/seelen.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/system/brightness.rs
Due: js-linter, rust-linter, rust-code-check

chore(release): v1.9.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(postversion): add message to the tag
  scripts/postversion.ts
Due: js-linter

docs(readme): add warning about modified systems
  readme.md
Due: none

docs(readme): update table of contents
  readme.md
Due: none

perf(start): avoid recreate already existing folders
  changelog.md
  src/background/seelen.rs
Due: rust-linter, rust-code-check

fix(startup): can no disable run on startup
  changelog.md
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/background/schedule.ps1
Due: js-linter

feat(lib): create seelen-core library
  Cargo.lock
  Cargo.toml
  changelog.md
  lib/Cargo.toml
  lib/src/lib.rs
  lib/src/rect.rs
  lib/src/state/mod.rs
  lib/src/state/settings.rs
  lib/src/state/settings_by_app.rs
  lib/src/state/theme.rs
  scripts/build.rs
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/hook.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/apps_config.rs
  src/background/state/application/mod.rs
  src/background/state/domain/mod.rs
  src/background/state/infrastructure.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, rust-code-check

fix(#24): text been hidden at bottom on ft
  changelog.md
  src/apps/toolbar/styles/global.css
Due: none

feat(#24): focus window before minimize it on weg item handle
  changelog.md
  src/background/hook.rs
  src/background/seelen_weg/handler.rs
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

docs(readme): add upcoming features
  readme.md
Due: none

fix(wallpaper): crash on wallpaper change
  changelog.md
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, rust-code-check

feat(log): add operating system log on start
  src/background/main.rs
Due: rust-linter, rust-code-check

feat(log): add seelen version log on start
  src/background/main.rs
Due: rust-linter, rust-code-check

chore(release): v1.9.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Update zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

Update zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

chore(lang): improvements on zh translations
  src/apps/settings/i18n/translations/zh.yml
Due: none

chore(lang): improvements on zh translation
  src/apps/settings/i18n/translations/zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

chore(lang): improve japanese translations
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
  src/apps/update/i18n/translations/ja.yml
Due: none

enh(lang): add selector to installer and allow search on settings
  .commitlintrc.yml
  Cargo.lock
  changelog.md
  lib/Cargo.toml
  lib/src/state/settings.rs
  src/apps/settings/modules/general/main/infra/index.tsx
  tauri.conf.json
Due: js-linter, rust-linter, rust-code-check

enh(interfaces): improvement on interfaces and schemas
  Cargo.lock
  lib/Cargo.lock
  lib/Cargo.toml
  lib/src/main.rs
  lib/src/state/mod.rs
  lib/src/state/placeholder.rs
  lib/src/state/settings_by_app.rs
  lib/src/state/theme.rs
  lib/src/state/weg_items.rs
  lib/src/state/wm_layout.rs
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/toolbar/modules/item/infra.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/network/domain/mod.rs
  src/background/modules/power/domain.rs
  src/background/state/application/mod.rs
Due: js-linter, rust-linter, rust-code-check

fix(#29): app no opening to new users
  changelog.md
  src/apps/toolbar/modules/item/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/background/state/application/mod.rs
Due: js-linter, rust-linter, rust-code-check

chore(release): v1.9.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(interfaces): improvement on interfaces and schemas
  .gitignore
  documentation/schemas/layout.schema.json
  documentation/schemas/placeholder.schema.json
  documentation/schemas/settings.schema.json
  documentation/schemas/settings_by_app.schema.json
  documentation/schemas/theme.schema.json
  lib/Cargo.lock
  lib/Cargo.toml
  lib/src/lib.rs
  lib/src/main.rs
  lib/src/state/settings.rs
  lib/src/state/settings_by_app.rs
  lib/src/state/weg_items.rs
  lib/src/state/wm_layout.rs
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/modules/cli/domain.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

ci(precommit): build schemas on precommit
  documentation/schemas/placeholder.schema.json
  lefthook.yml
  lib/src/state/placeholder.rs
  package.json
  scripts/build_schemas.ts
  scripts/createJsonSchemas.ts
Due: js-linter, rust-linter, rust-code-check

enh(tb): improve documentation and expone getIcon fn
  changelog.md
  documentation/schemas/placeholder.schema.json
  documentation/themes.md
  documentation/toolbar.md
  lib/src/state/placeholder.rs
  src/apps/shared/schemas/Placeholders.ts
  src/apps/toolbar/modules/item/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  static/placeholders/default.yml
  static/placeholders/default_alter.yml
Due: js-linter, rust-linter, rust-code-check

style(dock): fix #30 media module on left side
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.css
Due: none

fix(#30): fix apps disapearing on weg items file change
  changelog.md
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check

fix(crash): on update without a language prop in the settings.json
  changelog.md
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  src/background/state/application/mod.rs
Due: rust-linter, rust-code-check

chore(release): v1.9.10
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(weg): add schema to the project for weg_items.yml file
  documentation/schemas/weg_items.schema.json
  lib/src/main.rs
  lib/src/state/weg_items.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
Due: rust-linter, rust-code-check

Better Urdu Translation
  src/apps/toolbar/i18n/translations/ur.yml
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
