Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

fix(dock): sorting of items not working
  changelog.md
  package-lock.json
  package.json
  scripts/build.ts
  src/apps/seelenweg/modules/bar/DraggableItem.tsx
  src/apps/seelenweg/modules/bar/ItemReordableList.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/Menu.tsx
  src/apps/seelenweg/modules/item/infra/Separator.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/seelenweg/modules/shared/state/items.ts
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/seelenweg/styles/global.css
  src/apps/shared/components/SlPopup/index.tsx
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

fix(toolbar): sorting of items not working correctly
  src/apps/seelenweg/modules/bar/ItemReordableList.tsx
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/infra/ContextMenu.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/main/ItemsContainer.tsx
  src/apps/toolbar/modules/main/Toolbar.tsx
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/main/mappins.tsx
  src/apps/toolbar/modules/shared/state/items.ts
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
Due: js-linter, ts-type-check

fix(dock): double context menu on dock items
  src/apps/seelenweg/modules/bar/DraggableItem.tsx
Due: js-linter, ts-type-check

style(reset): update
  src/apps/shared/styles/reset.css
Due: none

chore(release): v2.3.11
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(toolbar): volume changed popup wrong placement
  changelog.md
  src/apps/settings/modules/WindowManager/main/infra/GlobalPaddings.tsx
  src/apps/settings/modules/shared/utils/app/Rect.ts
  src/apps/shared/components/SlPopup/index.tsx
  src/apps/shared/components/mergeRefs.ts
Due: js-linter, ts-type-check

style(dock): litle enhancements
  static/themes/default/seelen/weg.css
Due: none

chore(release): v2.3.12
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(core): monitors ids implementation
  Cargo.toml
  changelog.md
  src/background/instance.rs
  src/background/main.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/background/utils/integrity.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-linter, rust-code-check

fix(wall): monitors placement
  src/apps/seelen_wall/modules/Monitor/infra.tsx
Due: js-linter, ts-type-check

enh(wall): wallpaper manager part2
  Cargo.lock
  package-lock.json
  package.json
  src/apps/popup/app.tsx
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelen_wall/modules/Monitor/infra.tsx
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/seelenweg/i18n/index.ts
  src/apps/settings/components/header/index.tsx
  src/apps/settings/components/layout/index.tsx
  src/apps/settings/i18n/index.ts
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/Wall/WallpaperList.tsx
  src/apps/settings/modules/Wall/infra.tsx
  src/apps/settings/modules/resources/Wallpapers/AllView.tsx
  src/apps/settings/modules/resources/Wallpapers/SingleView.tsx
  src/apps/settings/modules/resources/infra.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/router.tsx
  src/apps/shared/components/DndKit/utils.ts
  src/apps/shared/components/ResourceText/index.tsx
  src/apps/shared/components/SortableSelector/index.module.css
  src/apps/shared/components/SortableSelector/index.tsx
  src/apps/shared/components/Wallpaper/index.module.css
  src/apps/shared/components/Wallpaper/index.tsx
  src/apps/shared/components/Wallpaper/utils.ts
  src/apps/toolbar/i18n/index.ts
  src/apps/toolbar/modules/main/Toolbar.tsx
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(github): update workflows
  .github/workflows/ci.yml
  .github/workflows/msix.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/slu-lib.yml
Due: none

fix(wall): wallpaper overlay flickering
  src/apps/seelen_wall/modules/Monitor/derived.ts
  src/apps/seelen_wall/modules/Monitor/infra.tsx
  src/apps/seelen_wall/modules/shared/state.ts
  src/apps/seelen_wall/styles/global.css
  src/apps/shared/components/Wallpaper/index.tsx
  static/themes/default/seelen/wallpaper-manager.css
Due: js-linter, ts-type-check

fix(wall): import multiple files as wallpapers
  src/background/state/infrastructure.rs
Due: rust-linter, rust-code-check

fix(wall): un-dropable items on wallpaper list
  src/apps/shared/components/DndKit/utils.ts
  src/apps/shared/components/SortableSelector/index.tsx
Due: js-linter, ts-type-check

enh(wall): allow unique slice per monitor
  Cargo.lock
  package-lock.json
  package.json
  src/apps/seelen_wall/modules/Monitor/derived.ts
  src/apps/seelen_wall/modules/Monitor/infra.tsx
  src/apps/seelen_wall/modules/shared/state.ts
  src/apps/settings/components/monitor/index.tsx
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/Wall/WallpaperList.tsx
  src/apps/settings/modules/Wall/infra.tsx
  src/apps/settings/modules/resources/Wallpapers/View.tsx
  src/apps/settings/modules/resources/Widget/View.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/components/SortableSelector/index.tsx
  src/apps/shared/components/Wallpaper/index.tsx
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(wall): re-implement slice randomization
  src/apps/seelen_wall/modules/Monitor/infra.tsx
Due: js-linter, ts-type-check

refactor(ipc): seelen ui client (part 2)
  Cargo.lock
  changelog.md
  slu-ipc/Cargo.toml
  slu-ipc/src/error.rs
  slu-ipc/src/lib.rs
  slu-ipc/src/messages.rs
  src/background/cli/application/mod.rs
  src/background/cli/hotkeys.rs
  src/background/cli/infrastructure.rs
  src/background/cli/mod.rs
  src/background/cli/self_pipe.rs
  src/background/cli/svc_pipe.rs
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/mod.rs
  src/background/modules/virtual_desk/native.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
  src/background/tray.rs
  src/background/windows_api/window.rs
  src/service/cli/mod.rs
  src/service/cli/processing.rs
  src/service/cli/tcp.rs
  src/service/error.rs
  src/service/hotkeys.rs
  src/service/main.rs
Due: rust-linter, rust-code-check

refactor(ipc): seelen ui client (part 3)
  Cargo.lock
  package-lock.json
  package.json
  slu-ipc/src/lib.rs
  slu-ipc/src/messages.rs
  src/apps/popup/app.tsx
  src/apps/popup/global.css
  src/apps/settings/components/header/ExtraInfo.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shortcuts/app.ts
  src/apps/settings/modules/shortcuts/domain.ts
  src/apps/settings/modules/shortcuts/infrastructure.tsx
  src/apps/settings/modules/shortcuts/old_infrastructure.tsx
  src/background/cli/application/mod.rs
  src/background/cli/application/uri.rs
  src/background/cli/infrastructure.rs
  src/background/cli/self_pipe.rs
  src/background/main.rs
  src/background/popups/cli.rs
  src/background/popups/mod.rs
  src/background/popups/shortcut_registering.rs
  src/service/cli/processing.rs
  src/service/hotkeys.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(build): app release build
  src/service/main.rs
Due: rust-linter, rust-code-check

fix(#1094): dragging not working for text tb items
  changelog.md
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/Toolbar.tsx
  src/apps/toolbar/modules/main/mappins.tsx
  src/apps/toolbar/modules/shared/state/items.ts
  src/apps/toolbar/modules/shared/utils.ts
Due: js-linter, ts-type-check

enh(wall): stop live wallpapers on idle
  changelog.md
  src/apps/seelen_wall/modules/Monitor/infra.tsx
  src/apps/seelen_wall/modules/shared/state.ts
  src/apps/shared/components/Wallpaper/index.tsx
  src/background/hook.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(freeze): frozen app after sleep the pc
  changelog.md
  src/background/modules/power/application.rs
  src/background/windows_api/event_window.rs
Due: rust-linter, rust-code-check

feat(svc): add way to force restart of the gui
  Cargo.lock
  changelog.md
  slu-ipc/src/lib.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/virtual_desk/mod.rs
  src/service/app_management.rs
  src/service/cli/processing.rs
  src/service/hotkeys.rs
  src/service/main.rs
  src/service/windows_api/com.rs
Due: rust-linter, rust-code-check

refactor(files): cleaning folder architecture
  Cargo.toml
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/error.rs
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/messages.rs
  src/ui/shared/schemas/index.test.ts
  src/ui/shared/schemas/index.ts
Due: js-linter, rust-linter, ts-type-check, rust-code-check

test(empty): allow pass with no tests
  package.json
Due: none

enh(wm): implement missing functionalities
  Cargo.lock
  changelog.md
  package-lock.json
  package.json
  src/background/app.rs
  src/background/state/mod.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/instance.rs
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/node_ext.rs
  src/background/widgets/window_manager/node_impl.rs
  src/background/widgets/window_manager/state.rs
  src/background/windows_api/monitor/mod.rs
  src/background/windows_api/window/cache.rs
  src/background/windows_api/window/mod.rs
  src/service/hotkeys.rs
  src/ui/window_manager/modules/layout/app.ts
  src/ui/window_manager/modules/layout/infra/containers/leaf.tsx
  src/ui/window_manager/modules/layout/infra/containers/stack.tsx
  src/ui/window_manager/modules/layout/infra/index.tsx
  src/ui/window_manager/modules/shared/store/infra.ts
  static/plugins/wm_bsp.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(wm): implement missing functionalities part 2
  changelog.md
  libs/widgets-shared/layered.ts
  src/background/hook.rs
  src/background/modules/input/domain.rs
  src/background/modules/input/mod.rs
  src/background/modules/tray/application.rs
  src/background/state/mod.rs
  src/background/virtual_desktops/events.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/win_hook.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/node_ext.rs
  src/background/widgets/window_manager/state.rs
  src/ui/window_manager/index.tsx
  src/ui/window_manager/modules/layout/infra/containers/stack.tsx
  src/ui/window_manager/modules/layout/infra/index.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(wm): stack bar ui enhancements
  Cargo.lock
  libs/widgets-shared/components/Icon/FileIcon.tsx
  libs/widgets-shared/components/Icon/MissingIcon.tsx
  package-lock.json
  package.json
  src/background/app.rs
  src/background/error.rs
  src/background/exposed.rs
  src/background/hook.rs
  src/background/state/infrastructure.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/weg/handler.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/instance.rs
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/state.rs
  src/background/windows_api/window/cache.rs
  src/background/windows_api/window/event.rs
  src/ui/toolbar/modules/Workspaces/index.tsx
  src/ui/toolbar/modules/shared/store/app.ts
  src/ui/weg/modules/shared/state/items.ts
  src/ui/window_manager/index.tsx
  src/ui/window_manager/modules/layout/infra/containers/leaf.tsx
  src/ui/window_manager/modules/layout/infra/containers/stack.tsx
  src/ui/window_manager/modules/layout/infra/index.css
  src/ui/window_manager/modules/layout/infra/index.tsx
  src/ui/window_manager/modules/shared/state/mod.ts
  src/ui/window_manager/modules/shared/store/app.ts
  src/ui/window_manager/modules/shared/store/domain.ts
  src/ui/window_manager/modules/shared/store/infra.ts
  src/ui/window_manager/modules/shared/utils.ts
  static/plugins/wm_123_stack.yml
  static/plugins/wm_bsp.yml
  static/plugins/wm_wide.yml
  static/themes/default/seelen/window-manager.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  rust-code-check: any of: **/*.rs
