Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

enh(twm): animations on move window to another monitor
  changelog.md
  libs/positioning/src/lib.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/hook.rs
  src/ui/svelte/window-manager/layout/application.ts
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(twm): not moving window if fullscreen app on target monitor
  changelog.md
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

enh(cli): ascii art
  src/slu/art.rs
Due: rust-format, rust-linter

fix: restore taskbar topmost state (#1688)
  src/background/widgets/weg/mod.rs
Due: rust-format, rust-linter

fix(weg): fallback to primary monitor when current monitor id is missing
  src/ui/svelte/weg/state/system.svelte.ts
Due: ts-type-check, js-linter

enh(themes): add theme tokens to support no webview clients
  libs/core/src/state/theme/mod.rs
  libs/core/src/system_state/ui_colors.rs
  src/background/cli/uri/mod.rs
  src/background/server/http/mod.rs
Due: rust-format, rust-linter

build(ci): fix build on github actions
  .cargo/config.toml
  Cargo.toml
Due: none

fix(taskbar): restore native taskbar topmost state (#1689)
  src/background/widgets/weg/mod.rs
Due: rust-format, rust-linter

Revert "fix(taskbar): restore native taskbar topmost state (#1689)"
  src/background/widgets/weg/mod.rs
Due: rust-format, rust-linter

Revert(#1689): restore native taskbar topmost state (#1697)
  src/background/widgets/weg/mod.rs
Due: rust-format, rust-linter

fix(#1686): native taskbar autohide removed while dock disabled
  changelog.md
  libs/slu-ipc/src/messages.rs
  src/background/utils/mod.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/weg/mod.rs
  src/service/cli/processing.rs
  src/service/shutdown.rs
Due: rust-format, rust-linter

refactor(tb): items and plugins
  libs/core/src/state/placeholder.rs
  libs/core/src/state/plugin/mod.rs
  libs/core/src/state/plugin/value.rs
  libs/core/src/state/plugin/weg.rs
  libs/core/src/state/weg_items.rs
  libs/ui/svelte/runes/date.svelte.ts
  libs/ui/svelte/utils/scopes.svelte.ts
  src/background/state/application/toolbar_items.rs
  src/ui/svelte/fancy-toolbar/EvaluatedComponents.svelte
  src/ui/svelte/fancy-toolbar/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/evaluatedComponents.ts
  src/ui/svelte/fancy-toolbar/remoteData.svelte.ts
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/fancy-toolbar/state/scopes.svelte.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/fancy-toolbar/widgetTrigger.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(weg): plugins system
  changelog.md
  libs/core/src/state/plugin/weg.rs
  src/static/widgets/calendar-popup/dock-plugin.yml
  src/static/widgets/calendar-popup/dock_plugin.js
  src/static/widgets/calendar-popup/metadata.yml
  src/ui/svelte/weg/appMenu.ts
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/components/WegItemSwitch.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/components/items/RecycleBin.svelte
  src/ui/svelte/weg/components/items/ShowDesktop.svelte
  src/ui/svelte/weg/components/items/StartMenu.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/dockMenu.ts
  src/ui/svelte/weg/generalMenu.ts
  src/ui/svelte/weg/i18n/translations/en.yml
  src/ui/svelte/weg/pluginEval.svelte.ts
  src/ui/svelte/weg/state/getters.svelte.ts
  src/ui/svelte/weg/state/items.svelte.ts
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/types.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(i18n): missing translation on icon editor
  changelog.md
  libs/ui/svelte/utils/i18n.ts
  src/ui/react/settings/state/mod.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/calendar-popup/state.svelte.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/flyouts/state/config.svelte.ts
  src/ui/svelte/icon-editor/state.svelte.ts
  src/ui/svelte/keyboard-selector/state.svelte.ts
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/quick-settings/state.svelte.ts
  src/ui/svelte/user-menu/state/mod.svelte.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
Due: ts-type-check, js-linter

feat(weg): add network plugin
  changelog.md
  libs/ui/svelte/utils/scopes.svelte.ts
  src/static/widgets/calendar-popup/dock_plugin.js
  src/static/widgets/network-popup/dock-plugin.yml
  src/static/widgets/network-popup/dock_plugin.js
  src/static/widgets/network-popup/metadata.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: ts-type-check, js-linter

feat(weg): add bluetooth plugin
  changelog.md
  src/static/widgets/bluetooth-popup/dock-plugin.yml
  src/static/widgets/bluetooth-popup/dock_plugin.js
  src/static/widgets/bluetooth-popup/metadata.yml
Due: ts-type-check, js-linter

refactor(weg): rename plugin field
  libs/core/src/state/plugin/weg.rs
  src/static/widgets/bluetooth-popup/dock-plugin.yml
  src/static/widgets/calendar-popup/dock-plugin.yml
  src/static/widgets/network-popup/dock-plugin.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: rust-format, rust-linter

feat(weg): add notifications plugin
  changelog.md
  libs/core/src/state/plugin/weg.rs
  src/static/themes/default/styles/weg.css
  src/static/widgets/notifications/dock-plugin.yml
  src/static/widgets/notifications/dock_plugin.js
  src/static/widgets/notifications/metadata.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(weg): add tray plugin
  changelog.md
  libs/ui/svelte/utils/scopes.svelte.ts
  src/static/widgets/system-tray/dock-plugin.yml
  src/static/widgets/system-tray/dock_plugin.js
  src/static/widgets/system-tray/metadata.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: ts-type-check, js-linter

feat(weg): add tray plugin
  changelog.md
  libs/ui/svelte/utils/scopes.svelte.ts
  src/static/widgets/keyboard-selector/dock-plugin.yml
  src/static/widgets/keyboard-selector/dock_plugin.js
  src/static/widgets/keyboard-selector/metadata.yml
Due: ts-type-check, js-linter

chore(release): start v2.8.0
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  scripts/versionish.ts
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: ts-type-check, js-linter

enh(dock): plugin icons adjustments
  src/static/widgets/bluetooth-popup/dock_plugin.js
  src/static/widgets/keyboard-selector/dock_plugin.js
Due: ts-type-check, js-linter

feat(weg): add battery plugin
  changelog.md
  src/static/plugins/weg_default_power/i18n/description.yml
  src/static/plugins/weg_default_power/i18n/display_name.yml
  src/static/plugins/weg_default_power/metadata.yml
  src/static/plugins/weg_default_power/plugin/dock_plugin.js
  src/static/plugins/weg_default_power/plugin/tooltip.js
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/pluginEval.svelte.ts
Due: ts-type-check, js-linter

feat(weg): add volume plugin
  changelog.md
  src/static/widgets/media-popup/dock-plugin.yml
  src/static/widgets/media-popup/dock_plugin.js
  src/static/widgets/media-popup/metadata.yml
Due: ts-type-check, js-linter

fix(weg): plugins no updated on dark mode change
  src/static/plugins/weg_default_power/plugin/dock_plugin.js
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: ts-type-check, js-linter

refactor(weg): migrate show desktop module to new plugins system
  libs/core/src/state/plugin/weg.rs
  src/static/plugins/weg_show_desktop/i18n/description.yml
  src/static/plugins/weg_show_desktop/i18n/display_name.yml
  src/static/plugins/weg_show_desktop/metadata.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/generalMenu.ts
  src/ui/svelte/weg/pluginEval.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(weg): migrate trash bin module to new plugins system
  libs/ui/svelte/utils/scopes.svelte.ts
  src/static/plugins/weg_trash_bin/i18n/description.yml
  src/static/plugins/weg_trash_bin/i18n/display_name.yml
  src/static/plugins/weg_trash_bin/metadata.yml
  src/static/widgets/system-tray/dock-plugin.yml
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/generalMenu.ts
Due: ts-type-check, js-linter

refactor(weg): migrate start module to new plugins system
  src/static/plugins/weg_start_menu/i18n/description.yml
  src/static/plugins/weg_start_menu/i18n/display_name.yml
  src/static/plugins/weg_start_menu/metadata.yml
  src/ui/svelte/weg/pluginEval.svelte.ts
Due: ts-type-check, js-linter

refactor(weg): deprecate old dock items
  libs/core/src/state/weg_items.rs
  src/background/state/application/weg_items.rs
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/WegItemSwitch.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/components/items/RecycleBin.svelte
  src/ui/svelte/weg/components/items/ShowDesktop.svelte
  src/ui/svelte/weg/components/items/StartMenu.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/dockMenu.ts
  src/ui/svelte/weg/generalMenu.ts
  src/ui/svelte/weg/i18n/translations/en.yml
  src/ui/svelte/weg/state/getters.svelte.ts
  src/ui/svelte/weg/state/items.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
  src/ui/svelte/weg/types.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(weg): sorting and sizing
  changelog.md
  src/static/themes/default/styles/weg.css
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/components/items/Separator.svelte
  src/ui/svelte/weg/styles/global.css
Due: none

feat(weg): separators
  changelog.md
  documentation/FEATURES.md
  libs/core/src/state/settings/mod.rs
  src/static/themes/default/styles/weg.css
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/components/items/Separator.svelte
  src/ui/svelte/weg/dockMenu.ts
  src/ui/svelte/weg/generalMenu.ts
  src/ui/svelte/weg/i18n/translations/en.yml
  src/ui/svelte/weg/state/items.svelte.ts
  src/ui/svelte/weg/styles/global.css
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(twm): unminimizing a stacked window in another workspace
  changelog.md
  src/background/virtual_desktops/events.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(#1685): widgets not being updated correctly on monitor changes
  changelog.md
  libs/core/src/state/widget/mod.ts
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/manager.rs
  src/background/widgets/mod.rs
  src/background/windows_api/mod.rs
  src/ui/svelte/fancy-toolbar/state/system.svelte.ts
  src/ui/svelte/wallpaper-manager/index.ts
  src/ui/svelte/wallpaper-manager/modules/Monitor/Monitor.svelte
  src/ui/svelte/wallpaper-manager/modules/Monitor/infra.svelte
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
  src/ui/svelte/window-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

build(cargo): update flags
  .cargo/config.toml
  Cargo.toml
Due: none

fix(tooltips): being displayed indefinitely
  changelog.md
  src/ui/svelte/tooltip/state.svelte.ts
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: ts-type-check, js-linter

fix(wm): not loading initial workspaces state
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(tb): crashing by duplicated ids
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/state/items.svelte.ts
Due: ts-type-check, js-linter

fix(tooltips): toolbar and dock tooltip texts
  src/static/plugins/tb_default_power/plugin/tooltip.js
  src/static/plugins/weg_show_desktop/metadata.yml
  src/static/plugins/weg_start_menu/metadata.yml
  src/static/plugins/weg_trash_bin/metadata.yml
  src/static/themes/default/styles/media-popup.scss
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/tooltip/app.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/i18n/translations/en.yml
Due: ts-type-check, js-linter

fix(sorting): dock and toolbar
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/state/items.svelte.ts
Due: ts-type-check, js-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
