Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

fix(tb): context menu reorder
  src/apps/toolbar/modules/main/ContextMenu.tsx
Due: js-linter, ts-type-check

fix(tb): showing unhandable tray icons
  changelog.md
  src/background/error_handler.rs
  src/background/modules/tray/application.rs
  src/background/windows_api/iterator.rs
Due: rust-linter, rust-code-check

enh(svc): messages between app and svc
  .cargo/config.toml
  src/background/main.rs
  src/background/modules/cli/domain.rs
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
  src/background/utils/updater.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
  src/service/cli.rs
  src/service/cli/actions.rs
  src/service/cli/mod.rs
  src/service/cli/tcp.rs
  src/service/main.rs
Due: rust-linter, rust-code-check

fix(lib): failure by new lib version
  src/background/state/application/toolbar_items.rs
Due: rust-linter, rust-code-check

fix(updater): no kill task before update
  changelog.md
  templates/installer-hooks.nsh
Due: none

fix(tb): elevated user properties
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

fix(lib): failure by new lib version
  src/apps/seelenweg/modules/shared/store/storeApi.ts
Due: js-linter, ts-type-check

chore(release): v2.1.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(updater): change command
  changelog.md
  templates/installer-hooks.nsh
Due: none

chore(release): v2.1.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

build(msix): fix file version on release
  scripts/bundle.msix.ts
Due: js-linter, ts-type-check

fix(tb): incorrect user name
  Cargo.toml
  changelog.md
  src/apps/toolbar/modules/user/infra/UserProfile.tsx
  src/background/modules/user/application.rs
  src/background/windows_api/mod.rs
  static/plugins/tb_default_user_folder.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.1.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

build(msix): fix error on upload of assets
  templates/AppxManifest.xml
Due: none

fix(tb): slow loading
  src/apps/toolbar/modules/media/application.ts
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/infra.ts
Due: js-linter, ts-type-check

fix(tb): user module deadlock
  changelog.md
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
  src/background/system/mod.rs
Due: rust-linter, rust-code-check

build(msix): remove service as an application
  templates/AppxManifest.xml
Due: none

revert(focus): restore old focus event
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
  src/apps/settings/modules/shared/utils/app.ts
  src/apps/shared/interfaces/common.ts
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/apps/toolbar/modules/user/infra/UserAppHistory.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/application_history/application.rs
  src/background/modules/application_history/hooks.rs
  src/background/modules/application_history/infrastructure.rs
  src/background/modules/application_history/mod.rs
  src/background/modules/media/application.rs
  src/background/modules/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(icons): pwa from edge
  changelog.md
  src/background/modules/uwp/domain.rs
  src/background/modules/uwp/mod.rs
Due: rust-linter, rust-code-check

fix(tb,web): icons stucks with init state
  src/apps/shared/hooks.ts
Due: js-linter, ts-type-check

fix(weg): stop thumbnail generation when it is disabled
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter, ts-type-check

fix(icons): not being updated on some modules
  changelog.md
  documentation/toolbar.md
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/StringElement.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/shared/store/domain.ts
  src/background/modules/media/application.rs
  src/background/modules/media/domain.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

delete(oldOnClick): remove deprecated code
  src/apps/toolbar/modules/item/app.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
Due: js-linter, ts-type-check

fix(crash): on reading user files
  src/background/modules/cli/mod.rs
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

enh(code): polish code
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

fix(weg): bad pinned items execution command
  changelog.md
  src/background/modules/notifications/application.rs
  src/background/seelen_weg/weg_items_impl.rs
Due: rust-linter, rust-code-check

chore(release): v2.1.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(code): code cleaning
  changelog.md
  scripts/translate/mod.ts
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
  src/apps/settings/modules/information/infrastructure.tsx
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/toolbar/modules/user/infra/UserFolder.tsx
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/cli/mod.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
  src/background/utils/winver.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): using wrong properties
  changelog.md
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_power.yml
Due: none

enh(debug): prettier multiline errors
  src/background/error_handler.rs
Due: rust-linter, rust-code-check

fix(dock): missing icon on media while not playing
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
Due: js-linter, ts-type-check

fix(msix): not showing admin prompt
  changelog.md
  src/background/modules/cli/mod.rs
Due: rust-linter, rust-code-check

revert(tb,weg): centralised reoder block
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter, ts-type-check

fix(settings): links not opening
  capabilities/migrated.json
  changelog.md
Due: none

fix(translation): improve ru translation in toolbar and settings
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

fix(msix): add service as an application
  Cargo.toml
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/cli/mod.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mod.rs
  src/background/windows_api/mod.rs
  src/service/cli/tcp.rs
  src/service/logger.rs
  src/service/main.rs
  src/service/task_scheduler.rs
  src/service/windows_api/mod.rs
  templates/AppxManifest.xml
Due: rust-linter, rust-code-check

chore(release): v2.1.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

feat(tb): #369
  src/apps/toolbar/modules/Power/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/power/domain.rs
  src/background/modules/power/infrastructure.rs
  src/background/system/mod.rs
  static/plugins/tb_default_power.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(weg): instance counter #452
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/seelenweg/infra.tsx
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  rust-code-check: any of: **/*.rs
