Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(players): not loading portrait on song change
  changelog.md
  src/background/modules/media/players/application.rs
Due: rust-format, rust-linter

fix(#1434): settings stealing focus on reload
  src/background/widgets/weg/cli.rs
  src/background/widgets/weg/handler.rs
  src/background/windows_api/window/mod.rs
  src/ui/react/settings/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(#1443): show percentage on volume and brightness flyouts
  changelog.md
  src/static/themes/default/styles/flyouts.css
  src/ui/svelte/flyouts/app/Brightness.svelte
  src/ui/svelte/flyouts/app/MediaDevices.svelte
Due: none

fix(#1299): broken path enviroment variable after setup
  changelog.md
  src/service/enviroment.rs
Due: rust-format, rust-linter

fix(backup): loop on download/upload
  changelog.md
  src/background/backups/application.rs
Due: rust-format, rust-linter

fix(#1377): notifications trigger not working for msix uwp apps
  changelog.md
  libs/core/src/handlers/commands.rs
  src/background/modules/apps/application/msix.rs
  src/background/modules/apps/application/msix_manifest.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/ui/svelte/notifications/components/Notification.svelte
  src/ui/svelte/notifications/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(bundler): not serializing groups properly
  changelog.md
  libs/core/src/state/theme/config.rs
  libs/core/src/state/widget/declaration.rs
Due: rust-format, rust-linter

fix(notifications): not removing win32 notifications on clear all
  changelog.md
  src/background/modules/notifications/application.rs
Due: rust-format, rust-linter

chore(release): finish v2.5.9
  changelog.md
Due: none

chore(release): start v2.6.0
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

refactor(dock): remove specific background logic
  src/background/app.rs
  src/background/app_instance.rs
  src/background/hook.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/static/widgets/weg/metadata.yml
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/react/weg/modules/shared/state/windows.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(autohide): not working all the time
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/modules/shared/state/hidden.ts
Due: ts-type-check, js-linter

ci(dependabot): auto merge
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
  package-lock.json
  package.json
Due: none

Fix: [BUG] Can`t log in or install any theme (Auto-generated by Conway Bot)
  documentation/images/colors.png
Due: none

refactor(apps-menu): context menu
  changelog.md
  libs/core/src/state/widget/context_menu.rs
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/system_state/user_apps/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/mod.rs
  src/background/widgets/webview.rs
  src/background/windows_api/window/cache.rs
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/components/SortableAppItem.svelte
  src/ui/svelte/apps-menu/components/StartMenuBody.svelte
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/power-menu/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(bars): position of widgets changed after setting an app bar
  src/ui/react/fancy-toolbar/modules/shared/state/mod.ts
  src/ui/react/weg/modules/shared/state/settings.ts
Due: ts-type-check, js-linter

fix(popups): not being closed after inactivity
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/workspaces-viewer/index.ts
Due: ts-type-check, js-linter

fix(tooltips): multiline
  changelog.md
  src/static/plugins/tb_default_power/plugin/template.js
  src/static/plugins/tb_default_power/plugin/tooltip.js
  src/ui/svelte/tooltip/app.svelte
Due: ts-type-check, js-linter

feat(perf): game mode support
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/state/application/performance.rs
  src/background/widgets/loader.rs
  src/background/widgets/manager.rs
  src/background/widgets/mod.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/general/application.ts
  src/ui/react/settings/modules/general/infra/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(webview): optimizations
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/background/widgets/webview.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/developer/application.ts
  src/ui/react/settings/modules/developer/infra.tsx
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(lib): init options documentation
  libs/core/src/state/widget/interfaces.ts
Due: ts-type-check, js-linter

fix(apps-menu): context menu
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/Submenu.svelte
Due: ts-type-check, js-linter

fix(shell): native shell api calls failing
  changelog.md
  src/background/windows_api/com.rs
Due: rust-format, rust-linter

fix(multimonitor): multi monitor widgets not being disabled
  src/background/widgets/loader.rs
  src/ui/react/fancy-toolbar/modules/shared/state/mod.ts
  src/ui/react/weg/modules/shared/state/settings.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(wall): dynamic accent color
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/system_state/ui_colors.rs
  libs/core/src/system_state/ui_colors.ts
  libs/ui/svelte/components/Wallpaper/Wallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/ImageWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/VideoWallpaper.svelte
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/infrastructure.rs
  src/static/themes/default/styles/wallpaper-manager.css
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/settings/app.tsx
  src/ui/react/settings/modules/general/infra/Colors.tsx
  src/ui/react/weg/app.tsx
  src/ui/svelte/wallpaper_manager/modules/Monitor/Monitor.svelte
  src/ui/svelte/wallpaper_manager/modules/accentExtractor.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(wall): media player on wallpapers
  changelog.md
  libs/core/src/state/wallpaper/mod.rs
  libs/ui/svelte/components/BackgroundByLayers/BackgroundByLayers.svelte
  libs/ui/svelte/components/Wallpaper/Wallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/ThemedWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/state.svelte.ts
  src/ui/svelte/wallpaper_manager/app.svelte
  src/ui/svelte/wallpaper_manager/modules/Monitor/Monitor.svelte
  src/ui/svelte/wallpaper_manager/modules/Monitor/infra.svelte
  src/ui/svelte/wallpaper_manager/modules/accentExtractor.ts
  src/ui/svelte/wallpaper_manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(settings): resource list views
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  src/background/cli/application/uri.rs
  src/ui/react/fancy-toolbar/modules/shared/state/items.ts
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/Wall/WallpaperList.tsx
  src/ui/react/settings/modules/Wall/index.module.css
  src/ui/react/settings/modules/Wall/infra.tsx
  src/ui/react/settings/modules/general/infra/Performance.tsx
  src/ui/react/settings/modules/resources/ResourceCard.tsx
  src/ui/react/settings/modules/resources/Theme/View.tsx
  src/ui/react/settings/modules/resources/Wallpapers/AllView.tsx
  src/ui/react/settings/modules/resources/Widget/View.tsx
  src/ui/react/settings/modules/resources/infra.module.css
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/resources.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(pods): move session resumed reload to background
  src/background/widgets/loader.rs
  src/background/windows_api/event_window.rs
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(app-bars): flickering on initial show
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/mod.ts
  src/ui/react/weg/app.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
Due: ts-type-check, js-linter

fix(reaper): removing same window many times
  src/background/hook.rs
Due: rust-format, rust-linter

fix(resources): emit plugins on widget load/unload
  src/background/resources/emitters.rs
  src/background/resources/mod.rs
Due: rust-format, rust-linter

enh(settings): resource list views
  changelog.md
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/widget/mod.rs
  src/background/widgets/loader.rs
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/ByMonitor/infra/index.tsx
  src/ui/react/settings/modules/resources/IconPacks.tsx
  src/ui/react/settings/modules/resources/Theme/AllView.tsx
  src/ui/react/settings/modules/resources/UpdatesModal.tsx
  src/ui/react/settings/modules/resources/Widget/application.ts
  src/ui/react/settings/modules/resources/infra.tsx
  src/ui/react/settings/modules/resources/updates.module.css
  src/ui/react/settings/modules/shortcuts/application.ts
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/resources.ts
  src/ui/vanilla/entry-point/ConsoleWrapper.ts
Due: rust-format, ts-type-check, js-linter, rust-linter
