Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

chore(release): v2.2.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(win): fix
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  changelog.md
Due: none

chore(release): v2.2.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(weg): items not opening
  changelog.md
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/shared/Command.test.ts
  src/apps/shared/Command.ts
  src/background/exposed.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/weg_items_impl.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.2.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Refine Chinese localization in zh.ym
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

chore(lang): refine chinese localization (#768)
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

fix(startup): wait for native shell before start
  changelog.md
  src/service/cli/mod.rs
  src/service/logger.rs
  src/service/main.rs
  src/service/windows_api/mod.rs
Due: rust-linter, rust-code-check

enh(svc): export logs to a file
  Cargo.lock
  Cargo.toml
  changelog.md
  src/service/cli/mod.rs
  src/service/logger.rs
  src/service/main.rs
Due: rust-linter, rust-code-check

chore(release): v2.2.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(fix): fix winget updater step
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/web_deployment.yml
Due: none

build(deps): fix cargo deps
  Cargo.lock
Due: none

ci(ng): fix workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  changelog.md
Due: none

ci(ng): fix workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci(test): add
  .github/workflows/test.yml
Due: none

ci(test): test
  .github/workflows/test.yml
Due: none

ci(test): test
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci(test): delete
  .github/workflows/test.yml
Due: none

chore(release): v2.2.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(styles): media player on toolbar
  changelog.md
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/apps/shared/components/Icon/index.module.css
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, ts-type-check

fix(weg): some items not being pinned correctly
  changelog.md
  src/background/seelen_weg/weg_items_impl.rs
Due: rust-linter, rust-code-check

enh(hook): add orphans windows cleaner
  src/background/hook.rs
  src/background/modules/tray/application.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

enh(svc): reduce cpu usage
  changelog.md
  src/background/main.rs
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
  src/service/cli/mod.rs
  src/service/cli/tcp.rs
  src/service/main.rs
Due: rust-linter, rust-code-check

build(fix): workflow
  src/service/main.rs
Due: rust-linter, rust-code-check

Fixed Hungarian translations
  src/apps/toolbar/i18n/translations/hu.yml
Due: none

chore(lang): improve czech translations (#749)
  src/apps/seelen_rofi/i18n/translations/cs.yml
  src/apps/seelenweg/i18n/translations/cs.yml
  src/apps/settings/i18n/translations/cs.yml
  src/apps/toolbar/i18n/translations/cs.yml
Due: none

chore(lang): improve hungarian translations (#795)
  src/apps/toolbar/i18n/translations/hu.yml
Due: none

fix(deps): dependencies
  Cargo.lock
  package-lock.json
  package.json
  src/apps/settings/modules/WindowManager/main/infra/index.tsx
  src/apps/settings/modules/general/main/infra/IconPacks.tsx
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/shared/index.ts
  src/apps/toolbar/modules/user/infra/ThemeTool.tsx
Due: js-linter, ts-type-check

revert(focus): testing change as posible bugfix of #763
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/utils/integrity.rs
Due: rust-linter, rust-code-check

build(deps): update quinn-proto
  Cargo.lock
Due: none

feat(popup): add popups impl
  Cargo.lock
  Cargo.toml
  changelog.md
  src/apps/popup/app.tsx
  src/apps/popup/global.css
  src/apps/popup/index.tsx
  src/apps/popup/public/index.html
  src/apps/shared/components/Icon/index.tsx
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/popups/handlers.rs
  src/background/popups/mod.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/plugins.rs
  src/background/state/mod.rs
  src/background/utils/constants.rs
  src/background/utils/icon_extractor/mod.rs
  src/globals.d.ts
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(build): error
  package-lock.json
  package.json
  src/apps/settings/modules/Home/MiniStore.tsx
Due: js-linter, ts-type-check

enh(uri): allow load resources from different enviroments
  src/background/modules/cli/application/mod.rs
Due: rust-linter, rust-code-check

fix(tb): plugins not being updated
  changelog.md
  src/background/state/application/plugins.rs
Due: rust-linter, rust-code-check

refactor(tb): plugin implementation
  changelog.md
  package-lock.json
  package.json
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/app.tsx
  src/apps/toolbar/modules/item/infra/ContextMenu.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/StringElement.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/background/hook.rs
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_date.yml
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_keyboard.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_network.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_power.yml
  static/plugins/tb_default_quick_settings.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/tb_default_user_folder.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(tb): allow remote data on plugins
  changelog.md
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/state/application/toolbar_items.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check
