Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

enh(twm): customizable float size
  changelog.md
  src/background/widgets/window_manager/state_v2.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/WindowManager/application.ts
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/FloatingSize.tsx
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(media): keep default device flags when the new default is not loaded yet
  src/background/modules/media/devices/application.rs
Due: rust-format, rust-linter

fix(tb): do not show the muted icon when there is no default audio device
  changelog.md
  libs/ui/svelte/utils/scopes.svelte.ts
Due: ts-type-check, js-linter

refactor(media): com objects usage and registration
  src/background/modules/media/devices/application.rs
  src/background/utils/mod.rs
  src/background/windows_api/com.rs
Due: rust-format, rust-linter

chore(release): finish v2.8.3
  changelog.md
Due: none

chore(release): start v2.8.4
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

fix(apps): refresh umid-dependent fields on window name change
  changelog.md
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/cache.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

fix(tb): maximized colors sorting
  changelog.md
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
Due: ts-type-check, js-linter

enh(settings): styles
  src/ui/react/settings/components/header/index.module.css
  src/ui/react/settings/components/layout/index.module.css
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/react/settings/styles/global.css
Due: none

fix(dock): preserve plugin canvas resolution when zoomed
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: none

fix(apps-menu): show feedback while content initializes
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/loading.css
  src/ui/svelte/apps-menu/state/geometry.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: ts-type-check, js-linter

enh(media): add seekable progress bar to media popup
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/ui/utils.ts
  package-lock.json
  src/background/modules/media/players/infrastructure.rs
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/media-popup.scss
  src/ui/svelte/flyouts/app/MediaPlaying.svelte
  src/ui/svelte/media-popup/components/MediaPlayer.svelte
  src/ui/svelte/media-popup/components/MediaProgress.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(lib): internal icons components
  libs/ui/react/components/Icon/FileIcon.tsx
  libs/ui/react/components/Icon/MissingIcon.tsx
  libs/ui/react/components/Icon/SpecificIcon.tsx
  libs/ui/react/components/Icon/common.ts
  libs/ui/react/components/Icon/index.module.css
  libs/ui/react/components/Icon/index.tsx
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/Icon.svelte
  libs/ui/svelte/components/Icon/InlineSVG.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SluIconRenderer.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/power-menu.scss
  src/static/themes/default/styles/quick-settings.scss
  src/static/themes/default/styles/user-menu.scss
  src/static/themes/default/styles/window-manager.css
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/media-popup/components/DeviceView.svelte
  src/ui/svelte/media-popup/components/MainView.svelte
  src/ui/svelte/media-popup/components/MediaDevice.svelte
  src/ui/svelte/network-popup/app.svelte
  src/ui/svelte/network-popup/components/WlanEntry.svelte
  src/ui/svelte/quick-settings/components/RadioButtons.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
Due: ts-type-check, js-linter

fix(tb): stop showing the muted icon when the default audio device is lost (#1775)
  changelog.md
  libs/ui/svelte/utils/scopes.svelte.ts
  src/background/modules/media/devices/application.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(dock): remove unused field
  libs/core/src/state/settings/mod.rs
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/styles/variables.css
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(notifications): activate Win32 toasts through their COM activator
  src/background/modules/notifications/application.rs
Due: rust-format, rust-linter

fix(weg): keep dock topmost
  src/ui/svelte/weg/App.svelte
Due: none

feat(weg): add transitions and flip animations
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
  src/ui/svelte/weg/styles/global.css
Due: ts-type-check, js-linter

fix(weg): remove mounted guard causing 0ms exit transition in Svelte 5
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/weg/components/DockItemsGroup.svelte
Due: none

fix(weg): remove animate:flip conflict and use global transitions
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/styles/global.css
Due: none

fix(weg): harmonize entrance/exit transitions and prevent clipping
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/styles/global.css
Due: none

feat(weg): animate dock items flying in from bottom and out to bottom
  src/ui/svelte/weg/components/DockItemsGroup.svelte
Due: none

refactor(weg): attach transitions to DraggableItem for dock wave
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/styles/global.css
  src/ui/svelte/weg/transitions.ts
Due: ts-type-check, js-linter

fix(weg): scale dock items proportionally to prevent horizontal roll
  src/ui/svelte/weg/transitions.ts
Due: ts-type-check, js-linter

fix(weg): center dock items symmetrically during transitions
  src/ui/svelte/weg/styles/global.css
  src/ui/svelte/weg/transitions.ts
Due: ts-type-check, js-linter

fix(weg): lock drag overlay icon, badge and indicator in alignment
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/styles/global.css
Due: none

fix(weg, toolbar): allow coordinate tolerance for screen edge detection on high-DPI displays
  src/background/hook.rs
  src/ui/svelte/fancy-toolbar/state/system.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(state): avoid temp-file race in atomic_write_file
  src/background/state/application/toolbar_items.rs
  src/background/state/application/weg_items.rs
  src/background/utils/mod.rs
Due: rust-format, rust-linter

chore(release): finish v2.8.5
  changelog.md
Due: none

chore(release): start v2.8.6
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

refactor(bg): split user structures
  libs/slu-ipc/src/commands.rs
  src/background/cli/debugger.rs
  src/background/exposed.rs
  src/background/modules/user/application.rs
  src/background/modules/user/indexing/application.rs
  src/background/modules/user/indexing/infrastructure.rs
  src/background/modules/user/indexing/mod.rs
  src/background/modules/user/infrastructure.rs
  src/background/modules/user/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/app_bar.rs
Due: rust-format, rust-linter

fix(state): avoid temp-file race in atomic_write_file with multiple monitors (#1813)
  src/background/state/application/toolbar_items.rs
  src/background/state/application/weg_items.rs
  src/background/utils/mod.rs
Due: rust-format, rust-linter

fix(dpi): dock and toolbar edge detection
  changelog.md
  src/ui/svelte/fancy-toolbar/state/system.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
Due: ts-type-check, js-linter

feat(ui): smooth entrance/exit transitions and drag overlay alignment for dock & toolbar (#1809)
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
  src/ui/svelte/weg/styles/global.css
  src/ui/svelte/weg/transitions.ts
Due: ts-type-check, js-linter

enh(tb): customizable in/out transitions for items
  changelog.md
  libs/ui/svelte/utils/animations.ts
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/utils.ts
  src/ui/svelte/notifications/components/Notification.svelte
Due: ts-type-check, js-linter

enh(weg): customizable in/out transitions for items
  changelog.md
  libs/ui/svelte/utils/animations.ts
  libs/ui/utils.ts
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/metadata.yml
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/weg.scss
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/DockItemsGroup.svelte
  src/ui/svelte/weg/components/DraggableItem.svelte
  src/ui/svelte/weg/components/items/UserApplication.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/items.svelte.ts
  src/ui/svelte/weg/styles/global.css
Due: ts-type-check, js-linter

fix(#1814): network api crashing when hotspot never configured
  src/background/modules/network/application.rs
Due: rust-format, rust-linter

enh(network): detailed information when devtools enabled
  changelog.md
  libs/core/src/system_state/network/mod.rs
  src/background/modules/radios/wifi/adapter.rs
  src/background/modules/radios/wifi/mod.rs
  src/static/themes/default/styles/network-popup.scss
  src/ui/svelte/network-popup/components/WlanEntry.svelte
  src/ui/svelte/network-popup/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(bluetooth): detailed information when devtools enabled
  changelog.md
  libs/core/src/system_state/bluetooth/mod.rs
  src/background/modules/radios/bluetooth/classic.rs
  src/background/modules/radios/bluetooth/low_energy.rs
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/ui/svelte/bluetooth-popup/components/BluetoothDevice.svelte
  src/ui/svelte/bluetooth-popup/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
