Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

fix(#17): no listening monitors changes
  src/apps/seelenweg-hitbox/index.tsx
  src/apps/toolbar-hitbox/index.tsx
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/cli/infrastructure.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/mod.rs
  src/background/modules/monitors/mod.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/background/windows_api/app_bar.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check

fix(#18): no closing or starting wigets on settings changes
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/background/hook.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/state/mod.rs
  src/background/tray.rs
Due: js-linter, rust-linter, rust-code-check

fix(wm): no handling window moved of virtual desktop event
  changelog.md
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm/hook.rs
  src/background/seelen_wm/mod.rs
Due: js-linter, rust-linter, rust-code-check

docs(v1.9.1): update changelog
  changelog.md
Due: none

1.9.1
  package-lock.json
  package.json
Due: none

ci(msix): always skipping
  .github/workflows/msix.yml
Due: none

ci(lefthook): skip steps if they are not neecesary
  lefthook.yml
Due: none

ci(msix): winget release no working
  .github/workflows/msix.yml
Due: none

ci(msix): update token
  .github/workflows/msix.yml
Due: none

ci(msix): update script versions
  .github/workflows/msix.yml
Due: none

feat(settings): add live reload to settings file
  changelog.md
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/events.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/state/application/mod.rs
  src/background/state/domain.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

docs(readme): update readme
  readme.md
Due: none

build(nsis): add .slu file associations
  src/background/modules/file_extensions/infrastructure.rs
  src/background/seelen.rs
  tauri.conf.json
  templates/installer.nsi
Due: rust-linter, rust-code-check

ci(postversion): update cargo.toml on new version
  .npmrc
  package.json
  scripts/postversion.ts
Due: js-linter

docs(changelog): update
  changelog.md
Due: none

chore(v1.9.2): package.json
  package-lock.json
  package.json
Due: none

chore(release): 1.9.2
  .npmrc
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
  scripts/postversion.ts
Due: js-linter

fix(cli): cli no working on production
  Cargo.toml
  changelog.md
  src/background/main.rs
  src/background/modules/cli/application.rs
  src/background/modules/media/application.rs
  src/background/seelen_bar/cli.rs
  src/background/seelen_wm/cli.rs
Due: rust-linter, rust-code-check

refactor(uri): refactor uri implementation
  Cargo.lock
  Cargo.toml
  capabilities/migrated.json
  changelog.md
  package-lock.json
  package.json
  src/background/main.rs
  src/background/modules/cli/application.rs
  src/background/modules/file_extensions/application.rs
  src/background/modules/file_extensions/infrastructure.rs
  src/background/modules/file_extensions/mod.rs
  src/background/modules/mod.rs
  src/background/plugins.rs
  tauri.conf.json
  templates/installer.nsi
Due: rust-linter, rust-code-check

feat(.slu): implement .slu and uri logic
  Cargo.lock
  Cargo.toml
  changelog.md
  src/background/error_handler.rs
  src/background/main.rs
  src/background/modules/cli/application.rs
  src/background/modules/cli/domain.rs
  src/background/modules/cli/infrastructure.rs
  src/background/modules/cli/mod.rs
  src/background/state/application/mod.rs
  src/background/state/domain/mod.rs
  src/background/state/domain/settings.rs
  src/background/utils/rect.rs
  src/background/windows_api/mod.rs
  tauri.conf.json
  templates/installer.msix
  templates/installer.nsi
Due: rust-linter, rust-code-check

feat(wallpaper): allow change wallpaper from settings
  Cargo.lock
  Cargo.toml
  changelog.md
  src/apps/settings/components/SettingsBox/index.module.css
  src/apps/settings/components/monitor/index.module.css
  src/apps/settings/components/monitor/index.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/modules/cli/domain.rs
  src/background/modules/tray/application.rs
  src/background/plugins.rs
  src/background/seelen.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/windows_api/mod.rs
  src/shared.interfaces.ts
  tauri.conf.json
Due: js-linter, rust-linter, rust-code-check

perf(load): improve load time speed
  Cargo.lock
  Cargo.toml
  changelog.md
  src/apps/settings/index.tsx
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/cli/application.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/modules/uwp/load_uwp_apps.ps1
  src/background/modules/uwp/mod.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/apps_config.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/background/tray.rs
  src/background/utils/ahk/mod.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, rust-code-check

fix(taskbar): no hidding taskbar and xamlisland
  src/apps/seelenweg/modules/bar/index.tsx
  src/background/hook.rs
  src/background/modules/tray/application.rs
  src/background/seelen.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/app_bar.rs
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, rust-code-check

style(animation): add wallpaper fade animation on settings
  src/apps/settings/app.tsx
  src/apps/settings/components/monitor/index.tsx
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/apps/settings/modules/general/main/infra/index.module.css
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/settings/styles/global.css
  src/shared.interfaces.ts
Due: js-linter

chore(release): v1.9.3
  package-lock.json
  package.json
Due: none

chore(release): v1.9.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
  scripts/postversion.ts
Due: js-linter

fix(crash): app crashing for new users
  changelog.md
  src/apps/shared/schemas/Settings.ts
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check

chore(release): v1.9.4
  package-lock.json
  package.json
Due: none

chore(release): v1.9.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(crash): app crashing by tray icon module
  changelog.md
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/cli/mod.rs
  src/background/modules/monitors/mod.rs
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/mod.rs
  src/background/state/domain/settings.rs
  src/background/state/mod.rs
  src/background/system/mod.rs
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check

improve Japanese Translation
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
  src/apps/update/i18n/translations/ja.yml
Due: none

ci(postversion): fix tag commit on new versions
  scripts/postversion.ts
Due: js-linter

chore(release): v1.9.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

chore(release): v1.9.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(postversion): sign git tag
  scripts/postversion.ts
Due: js-linter

fix(settings): calling settings two times
  src/background/main.rs
Due: rust-linter, rust-code-check

docs(readme): more info about installers
  readme.md
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
