Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(svc): missing messages on startup
  changelog.md
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/common.rs
  libs/slu-ipc/src/error.rs
  libs/slu-ipc/src/launcher.rs
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/service.rs
Due: rust-format, rust-linter

enh(themes): expose complementary colors
  CLAUDE.md
  changelog.md
  libs/core/src/state/theme/theming.ts
  libs/core/src/state/wallpaper/mod.ts
  libs/core/src/system_state/ui_colors.ts
  libs/core/src/utils/DOM.ts
  libs/core/src/utils/Wrapper.ts
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  libs/widgets-shared/components/Icon/index.module.css
  libs/widgets-shared/components/Wallpaper/index.module.css
  libs/widgets-shared/styles/colors.css
  src/background/modules/notifications/application.rs
  src/background/utils/icon_extractor/queue.rs
  src/static/themes/animated-start-icon/seelen/weg.scss
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/launcher.css
  src/static/themes/default/styles/task-switcher.scss
  src/static/themes/default/styles/weg.css
  src/static/themes/default/styles/window-manager.css
  src/ui/react/popup/global.css
  src/ui/react/settings/components/monitor/index.module.css
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/react/settings/modules/Home/News.module.css
  src/ui/react/toolbar/styles/variables.css
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(themes): add shadow to standard popovers
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/widgets-shared/styles/reset.css
  src/static/icons/icon_v2.svg
  src/static/themes/default/shared/index.scss
  src/ui/react/toolbar/modules/item/app/services/widgetTrigger.ts
  src/ui/svelte/bluetooth-popup/app.svelte
  src/ui/svelte/quick-settings/app.svelte
  src/ui/svelte/system-tray/app.svelte
  src/ui/vanilla/third_party/reset.css
Due: ts-type-check, js-linter

fix(theme): settings rendering
  changelog.md
  libs/core/src/state/theme/config.rs
  src/ui/react/settings/modules/resources/Theme/View.tsx
  src/ui/react/settings/modules/resources/Theme/components/ThemeConfigDefinition.tsx
  src/ui/react/settings/modules/resources/Theme/components/ThemeSetting.tsx
  src/ui/react/settings/modules/resources/Theme/constants.ts
  src/ui/react/settings/modules/resources/Theme/hooks/useThemeVariable.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(hook): missing events and slow location change
  changelog.md
  src/background/hook.rs
  src/background/windows_api/window/event.rs
Due: rust-format, rust-linter

refactor(switcher): migrate task switcher to svelte
  libs/core/src/state/widget/mod.ts
  src/static/widgets/task-switcher/metadata.yml
  src/ui/react/task_switcher/app.tsx
  src/ui/react/task_switcher/app/bar.tsx
  src/ui/react/task_switcher/app/item.tsx
  src/ui/react/task_switcher/app/state.ts
  src/ui/react/task_switcher/index.css
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/task-switcher/public/index.html
  src/ui/svelte/task-switcher/state.svelte.ts
Due: ts-type-check, js-linter

enh(widget): add init options
  libs/core/src/state/widget/mod.ts
  src/static/widgets/task-switcher/metadata.yml
  src/ui/svelte/bluetooth-popup/index.ts
  src/ui/svelte/power-menu/actions.ts
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/quick-settings/index.ts
  src/ui/svelte/system-tray/index.ts
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/window_manager/App.svelte
  src/ui/svelte/window_manager/index.ts
Due: ts-type-check, js-linter

fix(wm): unnecesary margins
  changelog.md
  src/background/app.rs
  src/background/app_instance.rs
  src/background/state/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/window_manager/instance.rs
Due: rust-format, rust-linter

fix(theme): wrong syntax usage
  changelog.md
  libs/core/src/state/theme/config.rs
  libs/core/src/state/theme/mod.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(build): type check
  src/ui/react/settings/modules/resources/Theme/components/ThemeSetting.tsx
Due: ts-type-check, js-linter

fix(widgets): incorrect default enabled values
  libs/core/src/state/settings/by_widget.rs
  src/background/state/mod.rs
  src/ui/react/settings/modules/resources/Widget/View.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(widget): add auto close on popup preset
  changelog.md
  libs/core/src/state/widget/mod.ts
  src/background/utils/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/manager.rs
  src/background/widgets/mod.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(certs): replace nightly msix cert files
  .cert/Seelen.cer
  .cert/Seelen.pfx
  .cert/Seelen.pfx.pwd
  .cert/readme.md
Due: none

ci(release): fix uploading self signed files
  .github/workflows/msix.yml
  .github/workflows/release.yml
Due: none

ci(release): fix wrong pass on self signing
  scripts/bundle.msix.ts
Due: ts-type-check, js-linter

fix(#1290): dock and toolbar showing on other monitors
  changelog.md
  src/ui/react/toolbar/modules/shared/state/system.ts
  src/ui/react/weg/modules/shared/state/system.ts
Due: ts-type-check, js-linter

fix(#1239): incorrect behaviours on icon packs
  changelog.md
  libs/core/src/resource/interface.rs
  src/background/resources/commands.rs
  src/background/resources/emitters.rs
  src/background/resources/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/restoration_and_migrations.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/utils/constants.rs
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

fix(settings): cached icons view
  src/ui/react/settings/modules/IconPackEditor/index.tsx
Due: ts-type-check, js-linter

fix(power): add size limits for large monitors
  src/static/themes/default/styles/power-menu.scss
Due: none

chore(release): start v2.4.11
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(tray): tray hook not loading on msix
  .cert/readme.md
  changelog.md
  scripts/bundle.msix.ts
  src/background/modules/system_tray/application/tray_hook_loader.rs
  src/tauri.conf.json
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): start v2.5.0
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  scripts/versionish.ts
  src/Cargo.toml
Due: ts-type-check, js-linter

enh(app): monitor changing events
  changelog.md
  src/background/app.rs
  src/background/app_instance.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/system/mod.rs
  src/background/utils/lock_free/sync_hash_map.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/background/widgets/window_manager/cli.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

ci(nightly): fix version setter
  .github/workflows/nightly.yml
  scripts/versionish.ts
Due: ts-type-check, js-linter

fix(wm): movement of windows via drag
  changelog.md
  libs/core/src/lib.rs
  libs/core/src/rect.rs
  src/Cargo.toml
  src/background/app.rs
  src/background/hook.rs
  src/background/modules/apps/infrastructure.rs
  src/background/modules/input/domain.rs
  src/background/modules/input/mod.rs
  src/background/modules/monitors/application.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/node_ext.rs
  src/background/widgets/window_manager/state.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor/mod.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

fix(svc): wrong widget enabled checker
  changelog.md
  libs/core/src/state/settings/by_widget.rs
  libs/core/src/state/settings/mod.rs
  libs/core/src/system_state/monitors.rs
  src/background/state/mod.rs
Due: rust-format, rust-linter

enh(app): implement show desktop buttons
  changelog.md
  libs/core/src/state/weg_items.rs
  package-lock.json
  src/background/modules/apps/infrastructure.rs
  src/background/resources/system_icon_pack.rs
  src/background/widgets/weg/weg_items_impl.rs
  src/static/icons/desktop.svg
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/toolbar/modules/main/CornerAction.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/styles/global.css
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/bar/menu.tsx
  src/ui/react/weg/modules/item/infra/Menu.tsx
  src/ui/react/weg/modules/item/infra/ShowDesktop.tsx
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/types.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(workspace): improvements on internal code
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/wm_layout.rs
  libs/core/src/state/workspaces/mod.rs
  src/background/app.rs
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/monitors/application.rs
  src/background/utils/lock_free/sync_hash_map.rs
  src/background/utils/lock_free/sync_vec.rs
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/win_hook.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/instance.rs
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/state/mod.rs
  src/background/widgets/window_manager/state/node_ext.rs
  src/background/windows_api/window/mod.rs
  src/ui/react/toolbar/modules/Workspaces/index.tsx
  src/ui/svelte/window_manager/App.svelte
  src/ui/svelte/window_manager/modules/layout/infra/Layout.svelte
  src/ui/svelte/window_manager/modules/layout/infra/containers/Stack.svelte
  src/ui/svelte/window_manager/modules/shared/state.svelte.ts
  src/ui/svelte/window_manager/styles/global.css
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wall): showing paused message on no videos
  changelog.md
  libs/ui/react/components/Wallpaper/index.tsx
Due: ts-type-check, js-linter

feat(wall): add video thumbnails and refactor wallpaper components
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/resource/mod.rs
  libs/core/src/state/wallpaper/mod.rs
  libs/ui/react/components/Wallpaper/components/ImageWallpaper.tsx
  libs/ui/react/components/Wallpaper/components/ThemedWallpaper.tsx
  libs/ui/react/components/Wallpaper/components/VideoWallpaper.tsx
  libs/ui/react/components/Wallpaper/index.tsx
  libs/ui/react/components/Wallpaper/types.ts
  libs/ui/react/components/Wallpaper/utils.ts
  src/background/cli/application/uri.rs
  src/background/state/application/icons.rs
  src/background/virtual_desktops/handlers.rs
  src/ui/react/settings/app.tsx
  src/ui/react/settings/components/ThumbnailGeneratorModal/index.tsx
  src/ui/react/settings/components/ThumbnailGeneratorModal/thumbnailGenerator.ts
  src/ui/react/settings/components/ThumbnailGeneratorModal/videoThumbnail.ts
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Wallpapers/View.module.css
  src/ui/react/settings/modules/resources/Wallpapers/View.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

build(ui): icons extraction failing
  libs/ui/icons.ts
  libs/ui/react/components/Icon/index.tsx
  libs/ui/svelte/components/Icon/Icon.svelte
  libs/ui/svelte/components/Icon/icons.ts
  scripts/build/steps/icons.ts
  src/ui/react/popup/app.tsx
  src/ui/react/settings/modules/resources/ResourceCard.tsx
  src/ui/react/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/toolbar/modules/network/infra/WlanSelectorEntry.tsx
  src/ui/react/toolbar/modules/user/infra/UserHome.tsx
Due: ts-type-check, js-linter

feat(vd): add workspaces viewer (part 2)
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/workspaces/mod.rs
  libs/ui/react/components/Wallpaper/components/ImageWallpaper.tsx
  libs/ui/svelte/components/BackgroundByLayers/BackgroundByLayers.svelte
  libs/ui/svelte/components/BackgroundByLayers/index.ts
  libs/ui/svelte/components/Wallpaper/Wallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/ImageWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/ThemedWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/VideoWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/index.ts
  libs/ui/svelte/components/Wallpaper/types.ts
  libs/ui/svelte/components/Wallpaper/utils.ts
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/wallpapers.rs
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/workspaces-viewer.scss
  src/ui/react/toolbar/modules/Workspaces/index.tsx
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/svelte/workspaces-viewer/app/Window.svelte
  src/ui/svelte/workspaces-viewer/app/Workspace.svelte
  src/ui/svelte/workspaces-viewer/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

revert(paths): restore index.html on the paths
  src/background/utils/integrity.rs
  src/background/widgets/launcher/mod.rs
  src/background/widgets/mod.rs
  src/background/widgets/popups/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/wallpaper_manager/mod.rs
  src/background/widgets/webview.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/window_manager/instance.rs
Due: rust-format, rust-linter
