Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

revert(shell): remove shell overlap
  src/apps/toolbar/modules/Tray/index.tsx
  src/background/modules/tray/application.rs
  src/background/modules/tray/infrastructure.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/event_window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

style(tb): improvement
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

replaced not found url / Update toolbar.md
  documentation/toolbar.md
Due: none

Replaced "maison" with "acceuil" for better translation
  src/apps/settings/i18n/translations/fr.yml
Due: none

docs(readme): fix not found url (#707)
  documentation/toolbar.md
Due: none

chore(lang): enh on fr lang (#708)
  src/apps/settings/i18n/translations/fr.yml
Due: none

chore(release): v2.2.0
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(styles): add new bundled theme
  changelog.md
  static/icons/start-menu.svg
  static/themes/animated-start-icon/seelen/weg.scss
  static/themes/animated-start-icon/theme.yml
  static/themes/default/seelen/weg.css
  static/themes/dock-animation/seelen/weg.scss
Due: none

chore(msix): remove unused capability
  templates/AppxManifest.xml
Due: none

chore(img): add images
  static/icons/profile.png
  static/icons/profile_ko-fi.png
  static/icons/profile_nitro.png
Due: none

Better french translation.
  src/apps/settings/i18n/translations/fr.yml
Due: none

chore(lang): french translation. (#713)
  src/apps/settings/i18n/translations/fr.yml
Due: none

build(msix): disable virtualization on paths
  src/background/modules/tray/application.rs
  templates/AppxManifest.xml
Due: rust-linter, rust-code-check

chore(release): v2.2.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix korean translation
  src/apps/settings/i18n/translations/ko.yml
Due: none

fix(monitors): crash when disabling a monitor
  Cargo.toml
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
  src/background/windows_api/string_utils.rs
Due: rust-linter, rust-code-check

fix(tb): notifications not appearing
  changelog.md
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/background/modules/notifications/application.rs
  tauri.conf.json
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(lang): fix korean translation (#724)
  src/apps/settings/i18n/translations/ko.yml
Due: none

enh(tb): reduce notification arrival time on screen
  changelog.md
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
Due: js-linter, ts-type-check

fix(#722): unsyncronized clock
  changelog.md
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Date/infra.tsx
Due: js-linter, ts-type-check

chore(release): v2.2.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

docs(fund): update yml file
  .github/FUNDING.yml
Due: none

docs(readme): add links
  readme.md
Due: none

docs(issues): update mds
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/translation.md
Due: none

enh(logs): wrap console as soon as posible
  changelog.md
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_task_switcher_rename_later/index.tsx
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wm_v2/index.tsx
  src/apps/seelenweg/index.tsx
  src/apps/settings/index.tsx
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/integrity.ts
  src/apps/toolbar/index.tsx
  src/apps/widget_loader/index.ts
  src/background/state/application/apps_config.rs
  src/globals.d.ts
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(media): panic on initial load
  changelog.md
  src/background/modules/media/application/mod.rs
Due: rust-linter, rust-code-check

enh(sys): split managers initialization on threads
  src/background/modules/language/infrastructure.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/system/mod.rs
Due: rust-linter, rust-code-check

fix(weg): crash
  src/apps/seelenweg/index.tsx
Due: js-linter, ts-type-check

Revised Korean translation
  src/apps/settings/i18n/translations/ko.yml
Due: none

revised korean trnslation
  src/apps/settings/i18n/translations/ko.yml
Due: none

fix(workflow): msix to release
  .github/workflows/msix.yml
Due: none

fix(workflow): msix run once at day instead each 6 hours
  .github/workflows/msix.yml
Due: none

chore(lang): revised of korean translation (#730)
  src/apps/settings/i18n/translations/ko.yml
Due: none

fix(lang): ru translation improve
  src/apps/seelen_rofi/i18n/translations/ru.yml
  src/apps/seelenweg/i18n/translations/ru.yml
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

fix(view): remove browser context menu
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wm_v2/index.tsx
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/index.tsx
  src/apps/settings/index.tsx
  src/apps/toolbar/index.tsx
Due: js-linter, ts-type-check

fix(weg): discord no permanently pinned
  changelog.md
  src/apps/shared/ConsoleWrapper.ts
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(lang): improve ru translation (#733)
  src/apps/seelen_rofi/i18n/translations/ru.yml
  src/apps/seelenweg/i18n/translations/ru.yml
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none
