Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-format, rust-format, ts-type-check, js-linter, rust-linter

js-format:
  priority: 1
  run: deno fmt --check

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

feat(build): arm64 support (#1179)
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

feat(arm64): add arm build to nightly
  .github/workflows/nightly.yml
  src/background/utils/icon_extractor/mod.rs
Due: rust-format, rust-linter

feat(arm64): add arm build to nightly try 2
  .github/workflows/nightly.yml
Due: none

feat(arm64): add arm build to nightly try 3
  .github/workflows/nightly.yml
Due: none

feat(arm64): add arm build to nightly try 4
  .github/workflows/nightly.yml
  scripts/bundle.msix.ts
Due: js-format, ts-type-check, js-linter

feat(arm64): add arm build to nightly try 5
  .github/workflows/nightly.yml
Due: none

ci(nightly): add cache key
  .github/workflows/nightly.yml
Due: none

ci(nightly): linter
  .github/workflows/nightly.yml
Due: none

fix(tb): stuck style after drag end
  changelog.md
  src/ui/toolbar/modules/item/infra/Inner.tsx
  src/ui/toolbar/modules/item/infra/infra.tsx
  src/ui/toolbar/modules/main/ItemsContainer.tsx
  src/ui/toolbar/modules/main/Toolbar.tsx
  src/ui/toolbar/modules/main/mappins.tsx
Due: js-format, ts-type-check, js-linter

ci(nightly): add latest.json
  .github/workflows/nightly.yml
Due: none

ci(nightly): fix latest.json gen script
  .github/workflows/nightly.yml
Due: none

ci(nightly): update cache key
  .github/workflows/nightly.yml
Due: none

ci(nightly): fix tauri signature
  .github/workflows/nightly.yml
Due: none

ci(nightly): refactor cargo cache steps
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

ci(nightly): refactor cargo cache steps try 2
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

ci(nightly): refactor cargo cache steps try 3
  .github/workflows/nightly.yml
Due: none

ci(nightly): refactor cargo cache steps try 4
  .github/workflows/nightly.yml
Due: none

ci(nightly): linter
  .github/workflows/nightly.yml
  lefthook.yml
Due: none

ci(nightly): refactor cargo cache steps try 5
  .github/workflows/nightly.yml
Due: none

ci(build): fix signing failing
  .github/workflows/nightly.yml
Due: none

enh(settings): drpc disabled by default
  changelog.md
  libs/core/src/state/settings/mod.rs
Due: rust-format, rust-linter

ci(build): remove old signatures
  .github/workflows/nightly.yml
Due: none

ci(build): trying to fix tauri sign part 700
  .github/workflows/nightly.yml
Due: none

enh(wm): improve on animations
  libs/positioning/src/api/windows.rs
  libs/positioning/src/lib.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/state.rs
Due: rust-format, rust-linter

fix(build): set specific toolchain
  rust-toolchain.toml
Due: none

enh(settings): version warning
  changelog.md
  src/ui/settings/modules/resources/ResourceCard.tsx
Due: js-format, ts-type-check, js-linter

enh(svc): ensure service was started
  src/background/cli/svc_pipe.rs
Due: rust-format, rust-linter

ci(release): update workflows
  .github/actions/generate-update-manifest/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  package.json
  scripts/versionish.ts
Due: js-format, ts-type-check, js-linter

ci(release): update workflows
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

Update zh-CN.yml
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

Update Chinese translations for clarity and accuracy
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

zh-CN.yml の更新
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

zh-CN.yml の更新
  src/background/i18n/zh-CN.yml
Due: none

ci(build): failing on release
  .github/actions/generate-update-manifest/action.yml
  .github/workflows/release.yml
Due: none

ci(msix): add arm64 msix bundle
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  scripts/SubmitToStore.ps1
  scripts/bundle.msix.ts
  src/templates/AppxManifest.xml
Due: js-format, ts-type-check, js-linter

ci(ms-store): testing new workflow
  .github/workflows/test-ms-store.yml
Due: none

ci(nightly): fix workflow
  .github/workflows/nightly.yml
  .github/workflows/test-ms-store.yml
Due: none

chore(next): v2.4.5
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

Path conditions:
  js-format: any of: **/*.{js,jsx,ts,tsx}
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
