Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

enh(tb): maximized color state
  changelog.md
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_weg/weg_items_impl.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.3.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(settings): setting by monitor
  changelog.md
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
Due: js-linter, ts-type-check

chore(release): v2.3.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(cli): improve console client code
  Cargo.lock
  changelog.md
  src/background/cli/application/debugger.rs
  src/background/cli/application/mod.rs
  src/background/cli/application/resources.rs
  src/background/cli/domain.rs
  src/background/cli/mod.rs
  src/background/cli/self_pipe.rs
  src/background/cli/svc_pipe.rs
  src/background/main.rs
  src/background/modules/cli/application/debugger.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/cli/domain.rs
  src/background/modules/cli/mod.rs
  src/background/modules/mod.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/mod.rs
  src/background/seelen.rs
  src/background/seelen_bar/cli.rs
  src/background/seelen_rofi/cli.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/utils/mod.rs
  src/background/utils/updater.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

Update pl.yml
  src/apps/settings/i18n/translations/pl.yml
Due: none

Update pl.yml
  src/apps/toolbar/i18n/translations/pl.yml
Due: none

Update pl.yml
  src/apps/seelen_rofi/i18n/translations/pl.yml
Due: none

Update pl.yml
  src/apps/seelenweg/i18n/translations/pl.yml
Due: none

chore(lang): update pl (#880)
  src/apps/seelenweg/i18n/translations/pl.yml
Due: none

chore(lang): update pl (#883)
  src/apps/toolbar/i18n/translations/pl.yml
Due: none

chore(lang): update pl (#881)
  src/apps/settings/i18n/translations/pl.yml
Due: none

chore(lang): update pl (#882)
  src/apps/seelen_rofi/i18n/translations/pl.yml
Due: none

chore(deps): update slu lib
  Cargo.lock
Due: none

fix(#867): matching strategy not working as expected
  src/background/state/application/apps_config.rs
Due: rust-linter, rust-code-check

fix(#900): app not starting on cache corruption
  changelog.md
  src/background/modules/start/application.rs
Due: rust-linter, rust-code-check

fix(ci): workflow
  src/background/modules/network/application/v2.rs
Due: rust-linter, rust-code-check

enh(widget): implementation
  Cargo.lock
  changelog.md
  package-lock.json
  package.json
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wm_v2/index.tsx
  src/apps/seelenweg/index.tsx
  src/apps/settings/index.tsx
  src/apps/settings/modules/resources/Widget/ConfigRenderer.tsx
  src/apps/settings/modules/resources/Widget/View.tsx
  src/apps/shared/layered.ts
  src/apps/shared/setup.ts
  src/apps/toolbar/index.tsx
  src/apps/widget_loader/index.ts
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(lang): improvements on hebrew language
  src/apps/seelenweg/i18n/translations/he.yml
  src/apps/settings/i18n/translations/he.yml
  src/apps/toolbar/i18n/translations/he.yml
  src/background/i18n/he.yml
Due: none

feat(bg): expose translation method
  Cargo.lock
  Cargo.toml
  src/background/error_handler.rs
  src/background/exposed.rs
Due: rust-linter, rust-code-check

fix(bg): translator helper not working for zh
  src/background/exposed.rs
Due: rust-linter, rust-code-check

enh(settings): add missing widget declarations
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/modules/resources/Widgets.tsx
  src/background/popups/mod.rs
  static/widgets/popup.yml
  static/widgets/settings.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.3.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(media): expose timeline
  Cargo.lock
  changelog.md
  package-lock.json
  package.json
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
Due: rust-linter, rust-code-check

chore(deps): update tauri dependencies
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
  scripts/UpdateTauri.ts
Due: js-linter, ts-type-check

enh(integrity): remove unneeded code
  src/apps/popup/public/index.html
  src/apps/seelen_rofi/public/index.html
  src/apps/seelen_task_switcher_rename_later/public/index.html
  src/apps/seelen_wall/public/index.html
  src/apps/seelen_wm_v2/public/index.html
  src/apps/seelenweg/public/index.html
  src/apps/settings/public/index.html
  src/apps/shared/integrity.ts
  src/apps/toolbar/public/index.html
  src/apps/widget_loader/public/index.html
Due: js-linter, ts-type-check

fix(linter): lint files
  src/background/cli/application/mod.rs
  src/background/cli/self_pipe.rs
  src/background/cli/svc_pipe.rs
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/bluetooth/application/bluetooth_pair_manager.rs
  src/background/modules/language/application.rs
  src/background/modules/language/infrastructure.rs
  src/background/modules/media/application/device.rs
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/scanner.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/start/application.rs
  src/background/modules/tray/application.rs
  src/background/modules/user/application.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/popups/mod.rs
  src/background/restoration_and_migrations/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/plugins.rs
  src/background/state/application/profiles.rs
  src/background/state/application/widgets.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/integrity.rs
  src/background/utils/mod.rs
  src/service/cli/tcp.rs
  src/service/logger.rs
Due: rust-linter, rust-code-check

enh(bundle): reduce bundle size
  changelog.md
  package-lock.json
  package.json
  scripts/build.ts
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/_ConsoleWrapper.ts
  src/apps/shared/_tauri.ts
  src/apps/widget_loader/index.ts
  src/globals.d.ts
  tauri.conf.json
Due: js-linter, ts-type-check

enh(logs): reduce verbosity on logs from the webview
  changelog.md
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/_ConsoleWrapper.ts
Due: js-linter, ts-type-check

chore(release): v2.3.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix translate tr.yml
  src/apps/settings/i18n/translations/tr.yml
Due: none

Fixed french translation issues
  src/apps/seelen_rofi/i18n/translations/fr.yml
  src/apps/settings/i18n/translations/fr.yml
  src/apps/toolbar/i18n/translations/fr.yml
  src/background/i18n/fr.yml
  static/plugins/wm_bsp.yml
  static/widgets/popup.yml
  static/widgets/toolbar.yml
Due: none

Fixed some more translations
  src/apps/seelenweg/i18n/translations/fr.yml
Due: none

Fixed a typo
  src/apps/settings/i18n/translations/fr.yml
Due: none

chore(lang): improvements on pt-br translations
  src/apps/seelen_rofi/i18n/translations/pt.yml
  src/apps/seelenweg/i18n/translations/pt.yml
  src/apps/settings/i18n/translations/pt.yml
  src/apps/toolbar/i18n/translations/pt.yml
  src/background/i18n/pt.yml
Due: none

Update readme.md
  readme.md
Due: none

fix(#897): wrong behaviours on notification arrival
  changelog.md
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/background/hook.rs
  src/background/seelen_weg/hook.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  rust-code-check: any of: **/*.rs
