Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

refactor(api): radios de/serialization
  libs/core/src/system_state/radios/mod.rs
  package-lock.json
  src/Cargo.toml
  src/background/windows_api/devices.rs
  src/ui/svelte/bluetooth-popup/app.svelte
  src/ui/svelte/network-popup/app.svelte
Due: rust-format, rust-linter

fix(#1821): not inmediately re-scanning after radio turned on
  changelog.md
  src/background/modules/radios/bluetooth/manager.rs
  src/background/modules/radios/bluetooth/mod.rs
  src/background/modules/radios/device.rs
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/quick-settings/components/RadioButtons.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(dock): stuck behind windows
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(dock): canvas not redrawing on size changes
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: none

fix(tb-dock): missing on fullscreen exit
  src/ui/reduxRootState.ts
  src/ui/svelte/fancy-toolbar/App.svelte
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/weg/App.svelte
  src/ui/svelte/weg/state/settings.svelte.ts
Due: ts-type-check, js-linter

chore(release): finish v2.8.6
  changelog.md
Due: none

fix(start): never block the StartMenuManager initializer on a cold start
  src/background/modules/start/application.rs
Due: rust-format, rust-linter

fix(brightness): don't log an error when WMI brightness is unsupported
  src/background/modules/monitors/brightness/application.rs
Due: rust-format, rust-linter

fix(brightness): don't log an error when WMI brightness is unsupported (#1825)
  src/background/modules/monitors/brightness/application.rs
Due: rust-format, rust-linter

fix(tb): plugins media player controls
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/svelte/fancy-toolbar/actionEvaluator.ts
Due: ts-type-check, js-linter

feat(ui): redesign power menu layout and interactions
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/power-menu/app.svelte
Due: none

fix(ui): resolve timeout race condition and correct icon selector
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/power-menu/app.svelte
Due: none

feat(power-menu): refresh user profile on menu open
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

perf(start): reduce startup time
  libs/core/src/resource/file.rs
  libs/core/src/resource/yaml_ext.rs
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/app.rs
  libs/utils/src/checksums.rs
  src/background/app.rs
  src/background/error.rs
  src/background/main.rs
  src/background/migrations.rs
  src/background/modules/start/application.rs
  src/background/modules/start/infrastructure.rs
  src/background/resources/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/server/http/mod.rs
  src/background/utils/integrity/checksums.rs
  src/background/utils/integrity/mod.rs
  src/background/utils/integrity/webview.rs
  src/background/utils/mod.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

feat(brightness): control external monitors through DDC/CI
  src/background/modules/monitors/brightness/application.rs
  src/background/modules/monitors/brightness/infrastructure.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

fix(brightness): publish DDC/CI reads under the lock, keep every panel
  src/background/modules/monitors/brightness/application.rs
  src/background/windows_api/monitor/brightness.rs
Due: rust-format, rust-linter

fix(wm): don't abort a layout render when one window fails to resolve
  src/background/widgets/window_manager/handler.rs
Due: rust-format, rust-linter

fix(wm): stop treating ShowWindow's return value as an error
  src/background/widgets/window_manager/handler.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(wm): don't tile user-minimized windows in the startup layout
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(wm): don't tile user-minimized windows in the startup layout (#1834)
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(theme): map boolean to <number> and remove heuristics
  libs/core/src/state/theme/mod.ts
  src/ui/react/settings/modules/resources/Theme/components/ThemeSetting.tsx
Due: ts-type-check, js-linter

fix 1
  src/ui/svelte/quick-settings/i18n/translations/zh-CN.yml
Due: none

fix 2
  src/ui/svelte/fancy-toolbar/i18n/translations/zh-CN.yml
Due: none

Update translation for 'disabled' in zh-CN.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-CN.yml
Due: none

Update Chinese translations for icon editor fix3
  src/ui/svelte/icon-editor/i18n/translations/zh-CN.yml
Due: none

Apply suggestion from @greptile-apps[bot]
  src/ui/svelte/fancy-toolbar/i18n/translations/zh-CN.yml
Due: none

Update translation for 'not_now' in zh-CN.yml (fix 4)
  src/ui/react/settings/i18n/translations/zh-CN.yml
Due: none

﻿修正简体中文翻译：术语一致性与用词改进
  src/background/i18n/zh-CN.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-CN.yml
Due: none

Update zh-CN.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-CN.yml
Due: none

Update translation for 'pin_to_dock' key
  src/ui/svelte/apps-menu/i18n/translations/zh-CN.yml
Due: none

enh(widgets): customizable show/hide animations
  changelog.md
  libs/core/src/state/theme/theming.ts
  libs/core/src/state/widget/abstractions/4_visibility.ts
  libs/core/src/state/widget/abstractions/mod.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/performance.ts
  src/background/widgets/webview.rs
  src/background/windows_api/mod.rs
  src/static/themes/default/shared/index.scss
  src/ui/vanilla/entry-point/MainSetup.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(lang): fix translation errors for zh-cn (#1835)
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/svelte/fancy-toolbar/i18n/translations/zh-CN.yml
  src/ui/svelte/icon-editor/i18n/translations/zh-CN.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-CN.yml
Due: none

fix(clipboard): not capturing entries on background
  src/background/app.rs
  src/background/modules/clipboard/infrastructure.rs
Due: rust-format, rust-linter
