Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(webview): remove webview default behaviours
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wm_v2/index.tsx
  src/apps/seelenweg/index.tsx
  src/apps/seelenweg/styles/global.css
  src/apps/settings/index.tsx
  src/apps/settings/styles/global.css
  src/apps/shared/setup.ts
  src/apps/shared/styles/reset.css
  src/apps/toolbar/index.tsx
  src/apps/toolbar/styles/global.css
  static/themes/default/seelen/fancy-toolbar.scss
  tsconfig.json
Due: js-linter, ts-type-check

enh(media): wait 1.5s before remotion
  changelog.md
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
Due: rust-linter, rust-code-check

rotating in the wrong way
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

style(tb): change rotation direction
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

fix(tb): focused app title
  changelog.md
  src/background/hook.rs
Due: rust-linter, rust-code-check

refactor(styles): change css modules classnames
  changelog.md
  package-lock.json
  package.json
  scripts/build.ts
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/styles/global.css
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, ts-type-check

fix(tb): wrong total size on appbar declaration
  changelog.md
  src/background/modules/media/application/mod.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/system_settings/mod.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

fix(#680): wheel not changing volume level
  changelog.md
  src/apps/toolbar/modules/media/infra/Module.tsx
Due: js-linter, ts-type-check

fix(#741): clear all notifications not working
  changelog.md
  src/background/modules/notifications/application.rs
Due: rust-linter, rust-code-check

chore(release): v2.2.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(#137): native taskbar hidden
  changelog.md
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/updater.rs
  src/background/windows_api/window.rs
  src/service/main.rs
  src/service/shutdown.rs
  src/service/windows_api/app_bar.rs
  src/service/windows_api/iterator.rs
  src/service/windows_api/mod.rs
  tauri.conf.json
Due: rust-linter, rust-code-check

fix(tb): clear all notifications button not updating UI
  changelog.md
  src/background/modules/notifications/application.rs
Due: rust-linter, rust-code-check

enh(cache): prettify start-menu cached json
  src/background/modules/start/application.rs
Due: rust-linter, rust-code-check

fix(tb): untranslated date for zh and no
  changelog.md
  src/apps/toolbar/modules/Date/infra.tsx
Due: js-linter, ts-type-check

enh(sys): add suspend and resume logic
  changelog.md
  src/background/modules/power/application.rs
Due: rust-linter, rust-code-check

chore(release): v2.2.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(bt): add custom icons
  .gitignore
  changelog.md
  scripts/build.ts
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/modules/bluetooth/application.ts
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelector.tsx
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/modules/bluetooth/application/mod.rs
  src/background/modules/bluetooth/domain.rs
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/shared/radio/mod.rs
  src/globals.d.ts
  tsconfig.json
Due: js-linter, rust-linter, ts-type-check, rust-code-check

Improve Czech translations (Native speaker review)
  src/apps/seelen_rofi/i18n/translations/cs.yml
  src/apps/seelenweg/i18n/translations/cs.yml
  src/apps/settings/i18n/translations/cs.yml
  src/apps/toolbar/i18n/translations/cs.yml
Due: none

fix(#751): files and folders not dragable on dock
  changelog.md
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter, ts-type-check

fix(build): type check errors
  .gitignore
  scripts/build.ts
  src/icons.ts
Due: js-linter, ts-type-check

enh(logs): add more logs
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/tray/application.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/utils/integrity.rs
  src/service/cli/mod.rs
  src/service/main.rs
  src/service/task_scheduler.rs
  src/service/windows_api/mod.rs
Due: rust-linter, rust-code-check

Minor Korean translation fixes
  src/apps/settings/i18n/translations/ko.yml
Due: none

enh(tray): faster first load when open popup
  src/apps/toolbar/modules/Tray/index.tsx
Due: js-linter, ts-type-check

"feat(lang): improve spanish texts"
  src/apps/seelenweg/i18n/translations/es.yml
Due: none

feat(lang): Update settings spanish lang
  src/apps/settings/i18n/translations/es.yml
Due: none

feat(lang): Update seelen_rofi spanish lang
  src/apps/seelen_rofi/i18n/translations/es.yml
Due: none

enh(tb): reduce collitions
  src/background/modules/notifications/application.rs
Due: rust-linter, rust-code-check

enh(widgets): avoid getting focus on creation
  changelog.md
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/language/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/system/mod.rs
  src/background/utils/integrity.rs
Due: rust-linter, rust-code-check

chore(lang): improve spanish texts (#759)
  src/apps/seelen_rofi/i18n/translations/es.yml
  src/apps/seelenweg/i18n/translations/es.yml
  src/apps/settings/i18n/translations/es.yml
Due: none

chore(lang): minor korean translation fixes (#758)
  src/apps/settings/i18n/translations/ko.yml
Due: none

style(tb): remove unused style
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

enh(icons): add dark version and masks to icons
  changelog.md
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/apps/shared/styles.ts
  src/background/exposed.rs
  src/background/modules/media/application/players.rs
  src/background/modules/notifications/application.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/application/icons.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

ci(msix): fix
  .github/workflows/msix.yml
Due: none

enh(icons): add mask icons styles
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/apps/shared/components/Icon/index.module.css
  src/background/state/application/icons.rs
  static/themes/default/seelen/weg.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(settings): not opening on re-runing the app
  changelog.md
  src/background/main.rs
  src/background/modules/cli/mod.rs
Due: rust-linter, rust-code-check

enh(trace): add more trace logs
  src/background/seelen_wm_v2/hook.rs
  src/background/state/application/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/event_window.rs
  src/service/native_service.rs
Due: rust-linter, rust-code-check

ci(winget): remove deprecated action
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci(win): change windows runner version
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none
