Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(lib): wrong import name
  libs/core/src/state/widget/positioning.ts
Due: ts-type-check, js-linter

ci(lib): fix npm publish
  .github/workflows/publish-core.yml
  libs/core/scripts/build_npm.ts
Due: ts-type-check, js-linter

ci(lib): fix npm publish try #6
  .github/workflows/publish-core.yml
Due: none

chore(release): init v2.4.6
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package.json
  src/Cargo.toml
Due: none

fix(vd): infity switching loop
  changelog.md
  src/background/exposed.rs
  src/background/hook.rs
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/win_hook.rs
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/styles/fancy-toolbar.scss
Due: rust-format, rust-linter

fix(bg): memory leak on long sessions
  changelog.md
  libs/core/src/state/widget/mod.rs
  libs/widgets-integrity/mod.ts
  src/Cargo.toml
  src/background/widgets/mod.rs
  src/static/widgets/wallpaper-manager.yml
  src/ui/react/weg/app.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(i18n): update translations for video background settings
  src/ui/react/settings/i18n/translations/zh-CN.yml
Due: none

refactor(wm): migration to svelte
  .claude/settings.local.json
  changelog.md
  src/background/widgets/window_manager/instance.rs
  src/ui/react/window_manager/app.tsx
  src/ui/react/window_manager/modules/layout/infra/containers/leaf.tsx
  src/ui/react/window_manager/modules/layout/infra/containers/reserved.tsx
  src/ui/react/window_manager/modules/layout/infra/containers/stack.tsx
  src/ui/react/window_manager/modules/layout/infra/index.tsx
  src/ui/react/window_manager/modules/shared/state/mod.ts
  src/ui/svelte/window_manager/App.svelte
  src/ui/svelte/window_manager/index.ts
  src/ui/svelte/window_manager/modules/layout/application.ts
  src/ui/svelte/window_manager/modules/layout/domain.ts
  src/ui/svelte/window_manager/modules/layout/infra/Container.svelte
  src/ui/svelte/window_manager/modules/layout/infra/Layout.svelte
  src/ui/svelte/window_manager/modules/layout/infra/containers/Leaf.svelte
  src/ui/svelte/window_manager/modules/layout/infra/containers/Reserved.svelte
  src/ui/svelte/window_manager/modules/layout/infra/containers/Stack.svelte
  src/ui/svelte/window_manager/modules/layout/infra/index.css
  src/ui/svelte/window_manager/modules/shared/state.svelte.ts
  src/ui/svelte/window_manager/modules/shared/utils.ts
  src/ui/svelte/window_manager/public/index.html
  src/ui/svelte/window_manager/styles/global.css
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wm): dev tools being open
  changelog.md
  src/background/widgets/window_manager/instance.rs
Due: rust-format, rust-linter

fix(settings): links not working
  changelog.md
  src/capabilities/general.json
Due: none

enh(wall): improvements on wallpaper manager code
  .claude/settings.local.json
  changelog.md
  src/background/widgets/wallpaper_manager/mod.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(weg): taskbar not being correctly hidden
  src/background/modules/system_tray/application/util.rs
  src/background/widgets/weg/mod.rs
  src/background/windows_api/event_window.rs
  src/service/shutdown.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

refactor(hook): remove window hook, use win32 hook api
  Cargo.lock
  Cargo.toml
  changelog.md
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/messages.rs
  src/background/cli/application/mod.rs
  src/background/cli/self_pipe.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_hook_loader.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/application/tray_spy.rs
  src/background/modules/system_tray/application/util.rs
  src/background/modules/system_tray/mod.rs
  src/background/modules/tray (old)/application.rs
  src/background/modules/tray (old)/domain.rs
  src/background/modules/tray (old)/infrastructure.rs
  src/background/modules/tray (old)/mod.rs
  src/background/windows_api/app_bar.rs
  src/service/hotkeys.rs
  src/tray_hook_dll/Cargo.toml
  src/tray_hook_dll/src/lib.rs
Due: rust-format, rust-linter

fix(dll): not being added to the installer
  Cargo.lock
  Cargo.toml
  scripts/bundle.msix.ts
  src/background/modules/system_tray/application/tray_hook_loader.rs
  src/hook_dll/Cargo.toml
  src/hook_dll/src/lib.rs
  src/templates/installer-hooks.nsh
Due: rust-format, ts-type-check, js-linter, rust-linter

ci(build): add step to build the dlls
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Cargo.lock
  src/hook_dll/Cargo.toml
Due: none

fix(#1266): power menu on multiple monitors
  changelog.md
  libs/core/src/system_state/monitors.rs
  package-lock.json
  src/background/modules/monitors/domain.rs
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(#1255): allow close window using middle click
  changelog.md
  src/ui/react/weg/modules/item/infra/UserApplicationPreview.tsx
Due: ts-type-check, js-linter

ci(nightly): use semver
  .github/workflows/nightly.yml
  scripts/bundle.msix.ts
Due: ts-type-check, js-linter

ci(release): fix wrong urls in update file
  .github/actions/generate-update-manifest/action.yml
  .github/workflows/release.yml
Due: none

ci(store): fix msix upload script
  scripts/SubmitToStore.ps1
Due: none

chore(release): start v2.4.8
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  scripts/versionish.ts
  src/Cargo.toml
Due: ts-type-check, js-linter

enh(nightly): add pdb files
  libs/core/src/state/settings_by_app.rs
  src/background/app.rs
  src/background/state/application/apps_config.rs
  src/templates/installer-hooks.nsh
  src/templates/installer.nsi
Due: rust-format, rust-linter

chore(tauri): update deps
  Cargo.lock
  Cargo.toml
  libs/core/deno.json
  libs/core/deno.lock
  package-lock.json
  package.json
  scripts/UpdateTauri.ts
Due: ts-type-check, js-linter

enh(tb): overlapped and hidden behaviours
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/settings/mod.rs
  libs/core/src/state/widget/mod.ts
  libs/core/src/system_state/ui_colors.rs
  libs/core/src/system_state/user_apps/mod.rs
  libs/utils/Cargo.toml
  libs/utils/src/lib.rs
  libs/utils/src/throttle.rs
  libs/widgets-shared/LazySignal.ts
  libs/widgets-shared/layered.ts
  libs/widgets-shared/signals.ts
  package-lock.json
  src/Cargo.toml
  src/background/hook.rs
  src/background/modules/apps/infrastructure.rs
  src/background/widgets/toolbar/hook.rs
  src/background/widgets/toolbar/mod.rs
  src/background/windows_api/window/cache.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/fancyToolbar/infra.tsx
  src/ui/react/toolbar/app.tsx
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/toolbar/modules/shared/state/system.ts
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/react/toolbar/modules/shared/store/app.ts
  src/ui/react/toolbar/modules/shared/store/domain.ts
  src/ui/react/toolbar/modules/shared/store/infra.ts
  src/ui/react/toolbar/styles/global.css
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(dock): overlapped and hidden behaviours
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  src/background/utils/constants.rs
  src/background/utils/mod.rs
  src/background/widgets/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/wallpaper_manager/mod.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/weg/instance.rs
  src/ui/react/weg/app.tsx
  src/ui/react/weg/index.tsx
  src/ui/react/weg/modules/bar/DraggableItem.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/File.tsx
  src/ui/react/weg/modules/item/infra/MediaSession.tsx
  src/ui/react/weg/modules/item/infra/Menu.tsx
  src/ui/react/weg/modules/item/infra/Separator.tsx
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationPreview.tsx
  src/ui/react/weg/modules/shared/state/hidden.ts
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/state/mod.ts
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/react/weg/modules/shared/state/system.ts
  src/ui/react/weg/modules/shared/state/windows.ts
  src/ui/react/weg/modules/shared/store/app.ts
  src/ui/react/weg/modules/shared/store/infra.ts
  src/ui/react/weg/modules/shared/types.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(dock): ghost windows appearing on dock
  changelog.md
  src/background/modules/apps/application/windows.rs
  src/static/apps_templates/system.yml
Due: rust-format, rust-linter

fix(wall): wallpaper traits
  libs/core/src/resource/interface.rs
  libs/core/src/state/wallpaper/mod.rs
  src/ui/react/settings/modules/resources/ResourceCard.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(wall): implement downloadable wallpapers
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/widgets-shared/components/Wallpaper/index.tsx
  package-lock.json
  package.json
  src/Cargo.toml
  src/background/cli/application/uri.rs
  src/ui/react/settings/components/monitor/index.tsx
  src/ui/react/settings/modules/Wall/WallpaperList.tsx
  src/ui/react/settings/modules/resources/Wallpapers/View.tsx
  src/ui/react/wallpaper_manager/modules/Monitor/infra.tsx
  src/ui/react/wallpaper_manager/modules/shared/state.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(wall): layered wallpapers
  changelog.md
  libs/core/src/state/theme/mod.ts
  libs/core/src/state/theme/theming.ts
  libs/core/src/state/wallpaper/mod.rs
  libs/widgets-shared/components/Wallpaper/index.module.css
  libs/widgets-shared/components/Wallpaper/index.tsx
  package-lock.json
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/wallpaper-manager.css
  src/ui/react/settings/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(code): idk maybe fix of ghost windows
  src/background/hook.rs
  src/background/modules/apps/application/windows.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

chore(release): start v2.4.10
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

ci(setup): fix post run timeout
  .github/actions/setup/action.yml
Due: none

enh(wall): add new information fields
  libs/core/src/state/wallpaper/mod.rs
Due: rust-format, rust-linter

enh(resources): allow additional metadata fields
  libs/core/src/resource/mod.rs
  libs/core/src/state/wallpaper/mod.rs
Due: rust-format, rust-linter

fix(apps): ghost items on dock
  changelog.md
  src/background/modules/apps/application/windows.rs
  src/background/state/application/apps_config.rs
  src/background/widgets/window_manager/mod.rs
Due: rust-format, rust-linter
