Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

fix(twm): stacks showing over after float op
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

feat(#1452): system updates indicator for power menu
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/modules/power/application.rs
  src/background/modules/power/infrastructure.rs
  src/background/windows_api/mod.rs
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/i18n/translations/en.yml
  src/ui/svelte/power-menu/options.ts
  src/ui/svelte/power-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(twm): smother animations
  Cargo.lock
  changelog.md
  libs/positioning/Cargo.toml
  libs/positioning/src/api/windows.rs
  libs/positioning/src/error.rs
  libs/positioning/src/lib.rs
  libs/positioning/src/overlay.rs
  libs/positioning/src/shell_view.rs
  libs/positioning/src/timer.rs
  src/background/modules/apps/application/windows.rs
  src/service/cli/processing.rs
Due: rust-format, rust-linter

refactor(core): interactable windows detection algorithm
  libs/positioning/src/lib.rs
  libs/positioning/src/shell_view.rs
  src/background/error.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

refactor(core): remove unneded dependency
  Cargo.lock
  Cargo.toml
  libs/core/deno.json
  libs/core/deno.lock
  libs/core/package-lock.json
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/re-exports/tauri.ts
  package-lock.json
  src/Cargo.toml
  src/background/exposed.rs
  src/background/tauri_plugins.rs
  src/capabilities/settings_widget.json
  src/ui/react/settings/components/header/index.tsx
  src/ui/react/settings/modules/extras/infrastructure.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(core): remove unneded dependency
  Cargo.lock
  Cargo.toml
  src/Cargo.toml
  src/background/error.rs
  src/background/exposed.rs
  src/background/tauri_plugins.rs
  src/background/utils/integrity/webview.rs
  src/background/utils/pwsh.rs
  src/background/widgets/weg/handler.rs
  src/capabilities/general.json
Due: rust-format, rust-linter

refactor(core): avoid being parent process on run of apps
  src/background/exposed.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/utils/integrity/webview.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(core): still being parent process
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

chore(lang): russian translation edits (#1880)
  src/static/widgets/wallpaper-manager/i18n/description.yml
  src/static/widgets/weg-preview/i18n/display_name.yml
  src/static/widgets/window-manager/i18n/description.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-cycle-stack-next.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-cycle-stack-prev.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-focus-left.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-increase-height.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-bottom.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-float.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-left.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-right.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-stack.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-top.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-toggle.yml
  src/ui/react/settings/i18n/translations/ru.yml
Due: none

feat(apps-menu): add a setting to choose the view shown when opening
  src/static/widgets/apps-menu/i18n/settings/default-view-all.yml
  src/static/widgets/apps-menu/i18n/settings/default-view-favorites.yml
  src/static/widgets/apps-menu/i18n/settings/default-view.yml
  src/static/widgets/apps-menu/metadata.yml
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: ts-type-check, js-linter

style(project): follow design manifest
  AGENTS.md
  documentation/design-system.md
  libs/core/styles/radius.css
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/shared/index.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/apps-menu.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/calendar-popup.scss
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/keyboard-selector.scss
  src/static/themes/default/styles/media-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/notifications.scss
  src/static/themes/default/styles/power-menu.scss
  src/static/themes/default/styles/quick-settings.scss
  src/static/themes/default/styles/task-switcher.scss
  src/static/themes/default/styles/user-menu.scss
  src/static/themes/default/styles/weg-preview.scss
  src/static/themes/default/styles/weg.scss
  src/static/themes/default/styles/window-manager.css
  src/static/themes/default/styles/workspaces-viewer.scss
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
  src/ui/svelte/calendar-popup/app.svelte
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/icon-editor/CanvasRenderer.svelte
  src/ui/svelte/icon-editor/app.svelte
  src/ui/svelte/media-popup/components/MediaPlayer.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
Due: ts-type-check, js-linter

style(project): create a design manifest
  AGENTS.md
  documentation/design-system.md
  documentation/docs-manifest.json
  libs/core/styles/radius.css
  libs/ui/react/components/Wallpaper/index.module.css
  libs/ui/svelte/components/Wallpaper/Wallpaper.svelte
  src/static/themes/default/shared/index.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/apps-menu.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/calendar-popup.scss
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/keyboard-selector.scss
  src/static/themes/default/styles/media-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/power-menu.scss
  src/static/themes/default/styles/quick-settings.scss
  src/static/themes/default/styles/weg-preview.scss
  src/static/themes/default/styles/weg.scss
  src/static/themes/default/styles/workspaces-viewer.scss
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/vanilla/entry-point/index.ts
Due: ts-type-check, js-linter

chore(icons): update app icons
  src/background/resources/system_icon_pack.rs
  src/static/icons/1024x1024.png
  src/static/icons/desktop.svg
  src/static/icons/desktop_dark.svg
  src/static/icons/desktop_light.svg
  src/static/icons/installer.ico
  src/static/icons/installer.svg
  src/static/icons/missing.png
  src/static/icons/missing.svg
  src/static/icons/trash_bin_empty.png
  src/static/icons/trash_bin_empty_dark.svg
  src/static/icons/trash_bin_empty_light.svg
  src/static/icons/trash_bin_full.png
  src/static/icons/trash_bin_full_dark.svg
  src/static/icons/trash_bin_full_light.svg
  src/static/icons/trash_bin_mask.png
  src/static/icons/uninstaller.ico
  src/static/icons/uninstaller.svg
  src/static/icons/url.png
  src/static/icons/url.svg
  src/tauri.conf.json
Due: rust-format, rust-linter

fix(#1883): wallpaper flashing
  src/background/widgets/wallpaper_manager/handlers.rs
  src/background/widgets/wallpaper_manager/mod.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

chore(release): finish v2.8.7
  changelog.md
Due: none

chore(release): start v2.8.8
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

fix(security): only accept known environments on resource URIs
  changelog.md
  src/background/cli/uri/mod.rs
Due: rust-format, rust-linter

fix(security): validate tray WM_COPYDATA size in the hook dll
  changelog.md
  src/hook_dll/src/lib.rs
Due: rust-format, rust-linter

fix(security): never block explorer.exe tray thread on IPC
  changelog.md
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/common.rs
  libs/slu-ipc/src/messages.rs
Due: rust-format, rust-linter

fix(security): require widget permissions for config and window commands
  changelog.md
  libs/core/src/handlers/commands.rs
  src/background/i18n/en.yml
  src/background/i18n/es.yml
  src/background/modules/apps/infrastructure.rs
  src/background/resources/commands.rs
  src/background/state/infrastructure.rs
  src/background/virtual_desktops/handlers.rs
  src/background/widgets/permissions.rs
  src/background/widgets/weg/handler.rs
  src/background/widgets/window_manager/handler.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

fix(security): restrict IPC pipes to the session user
  .cargo/config.toml
  Cargo.lock
  changelog.md
  libs/slu-ipc/Cargo.toml
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/common.rs
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/messages.rs
  libs/slu-ipc/src/security.rs
  libs/slu-ipc/src/service.rs
Due: rust-format, rust-linter

chore(release): finish v2.8.8
  changelog.md
Due: none

fix(tray): add icons whose owner can't be opened or whose uid isn't registered
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(tray): keep both icons when two of them fall back to the same entry
  src/background/modules/system_tray/application/tray_icon.rs
Due: rust-format, rust-linter

fix(i18n): correct Spanish dock strings
  src/ui/svelte/weg/i18n/translations/es.yml
Due: none

feat(settings): security tab
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/mod.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/permissions.rs
  package-lock.json
  src/background/resources/emitters.rs
  src/background/widgets/permissions.rs
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/components/navigation/routes.tsx
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/es.yml
  src/ui/react/settings/modules/security/infra.tsx
  src/ui/react/settings/router.tsx
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/permissions.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(tb): pinned tray icons not being updated
  changelog.md
  documentation/toolbar-plugins.md
  src/static/widgets/system-tray/toolbar-plugin.js
  src/ui/svelte/fancy-toolbar/components/Evaluated/Unknown.svelte
  src/ui/svelte/fancy-toolbar/components/Evaluated/definitions.ts
Due: ts-type-check, js-linter

fix(#1893): showing windows on another monitor in the dock
  changelog.md
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/items/UserApplication.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
Due: ts-type-check, js-linter

chore(release): start v2.8.9
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

fix(#1887): using property store for apps with start menu shortcut
  AGENTS.md
  changelog.md
  src/background/modules/apps/application/windows.rs
  src/background/modules/start/application.rs
  src/background/windows_api/window/cache.rs
Due: rust-format, rust-linter

feat(apps-menu): add a setting to choose the view shown when opening (#1884)
  src/static/widgets/apps-menu/i18n/settings/default-view-all.yml
  src/static/widgets/apps-menu/i18n/settings/default-view-favorites.yml
  src/static/widgets/apps-menu/i18n/settings/default-view.yml
  src/static/widgets/apps-menu/metadata.yml
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: ts-type-check, js-linter

chore(lang): correct spanish strings (#1895)
  src/ui/svelte/weg/i18n/translations/es.yml
Due: none

fix(tray): handle protected/SYSTEM-owned tray icons and avoid img.save panic
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
Due: rust-format, rust-linter

enh(notificiations): set dnd api
  changelog.md
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/windows_api/com.rs
  src/background/windows_api/undocumented/mod.rs
  src/background/windows_api/undocumented/quiet_hours_settings.rs
  src/ui/svelte/notifications/app.svelte
Due: rust-format, rust-linter

enh(core): new events layers
  Cargo.lock
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events_channel.ts
  libs/core/src/handlers/mod.ts
  src/Cargo.toml
  src/background/app.rs
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/system_settings/language/infrastructure.rs
  src/background/server/events/connection.rs
  src/background/server/events/hub.rs
  src/background/server/events/mod.rs
  src/background/server/events/protocol.rs
  src/background/server/events/tokens.rs
  src/background/server/http/mod.rs
  src/background/server/mod.rs
  src/background/tauri_handlers.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(widgets): external links not opening on browser
  changelog.md
  src/background/widgets/webview.rs
Due: rust-format, rust-linter

fix(tray): link icons whose live uid differs from the registry entry
  changelog.md
  libs/slu-ipc/src/messages.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/application/util.rs
  src/hook_dll/src/lib.rs
Due: rust-format, rust-linter

fix(tray): get the exe path of processes we are not allowed to open
  changelog.md
  src/background/error.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/undocumented/mod.rs
  src/background/windows_api/undocumented/process_image_name.rs
Due: rust-format, rust-linter

enh(tray): support for glyph icons
  changelog.md
  libs/core/src/system_state/tray.rs
  package-lock.json
  src/background/logger.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/static/themes/default/styles/tray-menu.scss
  src/ui/svelte/system-tray/TrayEntry.svelte
Due: rust-format, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
