Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    pre-hook:
      priority: 3
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      priority: 5
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json
    post-hook:
      priority: 6
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    pre-hook:
      priority: 2
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test
    post-hook:
      priority: 4
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

enh(weg-tb): handle tablet-mode, display-orientation #2
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/apps/toolbar/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/instance.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(crash): failing start on fresh installations
  changelog.md
  src/background/restoration_and_migrations/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(weg): popup association behaviour
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

enh(weg): context menu handling
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

chore(weg): add some comments & rename
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

chore(weg): associated-view class rename
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

fix(style): popup window loose root variables and settings
  static/themes/default/theme.toolbar.css
Due: none

style(launcher): scrollbar was default
  static/themes/default/theme.launcher.css
Due: none

enh(weg): preview placement css info propagation
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

enh(tb): remove unintended context menu from popovers
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
Due: js-linter

refactor(weg): web behaviour style improvements comments
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

docs(toolbar): fix path
  documentation/toolbar.md
Due: none

fix(wall): randomized freezed sometimes
  changelog.md
  src/apps/seelen_wall/app.tsx
Due: js-linter

doc(lang): Chinese translation improvements
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/seelenweg/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

lang(#295): chinese translation improvements
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/seelenweg/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

fix(#279): popups improvements
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/theme.launcher.css
  static/themes/default/theme.toolbar.css
Due: js-linter

lang: Optimize Chinese expression of new features
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/seelenweg/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

refactor(weg): removed currently not used classes
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter

fix(tb): #294 added ip detection change to network change
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

feat(weg-tb): add icons for context menus
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/Menu.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_date.yml
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_network.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_power.yml
  static/plugins/tb_default_quick_settings.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/tb_default_user_folder.yml
Due: js-linter

feat(icons): added icons for the context menus
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/Menu.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_date.yml
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_network.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_power.yml
  static/plugins/tb_default_quick_settings.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/tb_default_user_folder.yml
Due: js-linter

chore(lang): optimize chinese expression of new features
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/seelenweg/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
  src/apps/toolbar/i18n/translations/zh.yml
Due: none

enh(settings): show dev on version when running on local
  src/apps/settings/modules/information/infrastructure.tsx
  src/apps/shared/index.ts
  src/background/main.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

refactor(tb): review comment, remove REsult from callback
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(weg): add shortcut handling #281
  documentation/schemas/settings.schema.json
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shortcuts/infrastructure.tsx
  src/background/seelen.rs
  src/background/seelen_weg/cli.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mocks/seelen.weg.ahk
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

revert(win_api): revert used functionality improvement
  src/background/windows_api/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(weg): async_force_set_foreground
  src/background/windows_api/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

enh(icons): change some ctx menu icons
  changelog.md
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
Due: js-linter

chore(release): v2.0.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(#304): xbox game bar widgets showing on dock
  changelog.md
  static/apps_templates/gaming.yml
Due: none

chore(lib): migrate to published lib instead submodules
  .gitmodules
  Cargo.lock
  Cargo.toml
  documentation/project.md
  package-lock.json
  package.json
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/seelen_wall/app.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/settings/modules/Home/News.tsx
  src/apps/settings/modules/WindowManager/main/app.ts
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  tsconfig.json
Due: js-linter
