Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

fix(wallpapers): allow download wallpapers without thumbnail
  changelog.md
  src/background/cli/uri/mod.rs
  src/background/session/application.rs
Due: rust-format, rust-linter

fix(widgets): don't respawn widgets destroyed by game mode suspension (#1865)
  src/background/widgets/loader.rs
Due: rust-format, rust-linter

feat(apps-menu): add an uninstall entry to the app context menu (#1859)
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/apps-menu/i18n/translations/en.yml
  src/ui/svelte/apps-menu/i18n/translations/es.yml
Due: ts-type-check, js-linter

fix(apps-menu): preselect the first folder item only on keyboard open (#1856)
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
Due: none

refactor(vd): fix bugs in manager
  changelog.md
  libs/core/src/state/workspaces/mod.rs
  src/background/modules/mod.rs
  src/background/virtual_desktops/bridge.rs
  src/background/virtual_desktops/cli.rs
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/background/virtual_desktops/wallpapers.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/state_v2.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

build(deps): update tauri
  Cargo.lock
  Cargo.toml
  libs/core/deno.json
  libs/core/deno.lock
  libs/core/package-lock.json
  package-lock.json
  package.json
Due: none

fix(release): keep SignPath signature of seelen-ui.exe on setup installers
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  changelog.md
Due: none

chore(lang): russian translations (#1867)
  src/ui/react/settings/i18n/translations/ru.yml
  src/ui/svelte/apps-menu/i18n/translations/ru.yml
  src/ui/svelte/bluetooth-popup/i18n/translations/ru.yml
  src/ui/svelte/calendar-popup/i18n/translations/ru.yml
  src/ui/svelte/fancy-toolbar/i18n/translations/ru.yml
  src/ui/svelte/icon-editor/i18n/translations/ru.yml
  src/ui/svelte/media-popup/i18n/translations/ru.yml
  src/ui/svelte/network-popup/i18n/translations/ru.yml
  src/ui/svelte/notifications/i18n/translations/ru.yml
  src/ui/svelte/power-menu/i18n/translations/ru.yml
  src/ui/svelte/quick-settings/i18n/translations/ru.yml
  src/ui/svelte/user-menu/i18n/translations/ru.yml
  src/ui/svelte/wallpaper-manager/i18n/translations/ru.yml
  src/ui/svelte/weg/i18n/translations/ru.yml
Due: none

build(deps): tauri deps
  Cargo.lock
  Cargo.toml
  package-lock.json
Due: none

build(cargo): update min version required
  libs/core/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  src/Cargo.toml
Due: none

build(deps): bump time from 0.3.47 to 0.3.55
  Cargo.lock
  Cargo.toml
  src/background/logger.rs
  src/service/logger.rs
Due: rust-format, rust-linter

ci(build): fix bundling workflow
  src/tauri.conf.json
  src/templates/installer.nsi
Due: none

feat(weg): highlight dock items when a window requests attention (#1855)
  libs/core/src/state/settings/mod.rs
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/apps/application/flashing.rs
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/cache.rs
  src/static/themes/default/styles/weg.scss
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/es.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

style(weg): attention default theme styles
  src/static/themes/default/styles/weg.scss
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
Due: ts-type-check, js-linter

feat(tray): pinnable and sortable icons
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/system_state/tray.rs
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/infrastructure.rs
  src/background/utils/mod.rs
  src/hook_dll/src/lib.rs
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/tray-menu.scss
  src/static/widgets/system-tray/toolbar-plugin.js
  src/static/widgets/system-tray/toolbar-plugin.yml
  src/ui/svelte/fancy-toolbar/EvaluatedComponents.svelte
  src/ui/svelte/fancy-toolbar/components/Evaluated/Button.svelte
  src/ui/svelte/fancy-toolbar/components/Evaluated/Unknown.svelte
  src/ui/svelte/fancy-toolbar/components/Evaluated/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Evaluated/definitions.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/evaluatedComponents.ts
  src/ui/svelte/fancy-toolbar/styles/global.css
  src/ui/svelte/system-tray/TrayEntry.svelte
  src/ui/svelte/system-tray/app.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(#856): add support for badge notifications
  AGENTS.md
  Cargo.lock
  Cargo.toml
  changelog.md
  libs/core/src/system_state/notification.rs
  libs/core/src/system_state/user_apps/mod.rs
  libs/slu-ipc/src/messages.rs
  src/Cargo.toml
  src/background/cli/self_pipe.rs
  src/background/error.rs
  src/background/modules/apps/application/badges.rs
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/windows.rs
  src/background/modules/notifications/mod.rs
  src/background/modules/notifications/wpn_service.rs
  src/background/modules/system_tray/application/tray_hook_loader.rs
  src/background/modules/system_tray/application/util.rs
  src/background/windows_api/window/cache.rs
  src/hook_dll/src/lib.rs
  src/static/themes/default/styles/weg.scss
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/badge.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(tb): allow plugins to know about item placement
  src/static/widgets/system-tray/dock_plugin.js
  src/static/widgets/system-tray/toolbar-plugin.js
  src/ui/svelte/fancy-toolbar/components/Evaluated/Button.svelte
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/ItemsGroup.svelte
  src/ui/svelte/fancy-toolbar/components/SortableItem.svelte
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: ts-type-check, js-linter

refactor(api): monitors
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/monitors.rs
  src/background/modules/monitors/brightness/application.rs
  src/background/modules/monitors/brightness/infrastructure.rs
  src/background/modules/monitors/brightness/mod.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/windows_api/monitor/mod.rs
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/app/Brightness.svelte
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/quick-settings/components/BrightnessControl.svelte
  src/ui/svelte/quick-settings/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wall): flickering while changing brightness
  libs/ui/deepEqual.ts
  libs/ui/svelte/runes/monitors.svelte.ts
  libs/ui/svelte/utils/derivedWith.svelte.ts
  libs/ui/utils.ts
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/state/getters.svelte.ts
  src/ui/svelte/task-switcher/state/index.svelte.ts
  src/ui/svelte/wallpaper-manager/getters.svelte.ts
  src/ui/svelte/wallpaper-manager/modules/Monitor/Monitor.svelte
  src/ui/svelte/wallpaper-manager/modules/Monitor/infra.svelte
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/workspaces-viewer/app.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/svelte/workspaces-viewer/state.svelte.ts
Due: ts-type-check, js-linter

fix(widgets): non focusable widgets stealing the focus
  Cargo.lock
  Cargo.toml
  changelog.md
  libs/core/src/state/widget/mod.ts
Due: ts-type-check, js-linter

Add Russian translation for applications preview
  src/static/widgets/weg-preview/i18n/display_name.yml
Due: none

Update Russian translation for applications preview
  src/static/widgets/weg-preview/i18n/display_name.yml
Due: none

Revise Russian translation in description.yml
  src/static/widgets/wallpaper-manager/i18n/description.yml
Due: none

Fix Russian translation in description.yml
  src/static/widgets/window-manager/i18n/description.yml
Due: none

Update Russian translation for 'Cycle Stack Next'
  src/static/widgets/window-manager/i18n/shortcuts/wm-cycle-stack-next.yml
Due: none

Fix Russian translation for 'Cycle Stack Previous'
  src/static/widgets/window-manager/i18n/shortcuts/wm-cycle-stack-prev.yml
Due: none

Update Russian translation for focus left shortcut
  src/static/widgets/window-manager/i18n/shortcuts/wm-focus-left.yml
Due: none

Fix Russian translation for increase height shortcut
  src/static/widgets/window-manager/i18n/shortcuts/wm-increase-height.yml
Due: none

Update Russian translation for 'Reserve Bottom'
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-bottom.yml
Due: none

enh(tb): allow tooltips on inner item buttons
  libs/ui/svelte/utils/sandbox.ts
  src/static/plugins/tb_workspaces_dotted/plugin/template.js
  src/static/plugins/tb_workspaces_numbered/plugin/template.js
  src/static/widgets/system-tray/toolbar-plugin.js
  src/static/widgets/system-tray/toolbar-plugin.yml
  src/ui/svelte/fancy-toolbar/components/Evaluated/Button.svelte
  src/ui/svelte/fancy-toolbar/components/Evaluated/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Evaluated/definitions.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/itemMenu.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/pluginEval.svelte.ts
Due: ts-type-check, js-linter

refactor(weg): reduce webview size on cursor
  src/ui/svelte/weg/state/settings.svelte.ts
Due: ts-type-check, js-linter

enh(wm): handle overlay z-order on foreground instead of topmost
  changelog.md
  src/background/widgets/webview.rs
  src/background/widgets/window_manager/hook.rs
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
Due: rust-format, rust-linter

Update Russian translation for 'Reserve Float'
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-float.yml
Due: none

Update wm-reserve-left.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-left.yml
Due: none

Update Russian translation for 'Reserve Right'
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-right.yml
Due: none

Update wm-reserve-stack.yml
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-stack.yml
Due: none

Update Russian translation for 'Reserve Top'
  src/static/widgets/window-manager/i18n/shortcuts/wm-reserve-top.yml
Due: none

Update Russian translation for wm-toggle shortcuts
  src/static/widgets/window-manager/i18n/shortcuts/wm-toggle.yml
Due: none

Update ru.yml
  src/ui/react/settings/i18n/translations/ru.yml
Due: none

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
