Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

chore(release): start v2.7.2
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(state): toolbar and dock svelte versions
  src/ui/svelte/fancy-toolbar/App.svelte
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/state/hidden.svelte.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/fancy-toolbar/state/system.svelte.ts
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/weg/App.svelte
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/items/StartMenu.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/components/items/UserApplicationPreview.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
  src/ui/svelte/window-manager/state.svelte.ts
Due: ts-type-check, js-linter

enh(twm): animations
  changelog.md
  libs/positioning/Cargo.toml
  libs/positioning/src/api/windows.rs
  libs/positioning/src/lib.rs
Due: rust-format, rust-linter

fix(weg): not showing unpinned items
  src/ui/svelte/weg/state/index.ts
  src/ui/svelte/weg/state/items.svelte.ts
Due: ts-type-check, js-linter

refactor(weg): split previews popover to separated widget
  AGENTS.md
  src/static/themes/default/metadata.yml
  src/static/themes/default/styles/weg-preview.scss
  src/static/themes/default/styles/weg.css
  src/static/widgets/weg-preview/i18n/display_name.yml
  src/static/widgets/weg-preview/metadata.yml
  src/ui/react/weg/styles/global.css
  src/ui/svelte/fancy-toolbar/widgetTrigger.ts
  src/ui/svelte/weg-preview/App.svelte
  src/ui/svelte/weg-preview/index.ts
  src/ui/svelte/weg-preview/public/index.html
  src/ui/svelte/weg-preview/state.svelte.ts
  src/ui/svelte/weg/components/items/UserApplication.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/previewWidget.ts
  src/ui/svelte/weg/styles/global.css
Due: ts-type-check, js-linter

enh(widgets): lazy translations
  changelog.md
  libs/ui/svelte/utils/i18n.svelte.ts
  scripts/build/builders/react.ts
  scripts/build/builders/svelte.ts
  scripts/build/builders/vanilla.ts
  scripts/build/plugins/index.ts
  src/ui/react/settings/i18n/index.ts
  src/ui/react/settings/index.tsx
  src/ui/svelte/apps-menu/i18n/index.ts
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/bluetooth-popup/i18n/index.ts
  src/ui/svelte/bluetooth-popup/index.ts
  src/ui/svelte/calendar-popup/i18n/index.ts
  src/ui/svelte/calendar-popup/index.ts
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/i18n/index.ts
  src/ui/svelte/fancy-toolbar/index.ts
  src/ui/svelte/flyouts/i18n/index.ts
  src/ui/svelte/flyouts/index.ts
  src/ui/svelte/icon-editor/i18n/index.ts
  src/ui/svelte/icon-editor/index.ts
  src/ui/svelte/keyboard-selector/i18n/index.ts
  src/ui/svelte/keyboard-selector/index.ts
  src/ui/svelte/media-popup/i18n/index.ts
  src/ui/svelte/media-popup/index.ts
  src/ui/svelte/network-popup/i18n/index.ts
  src/ui/svelte/network-popup/index.ts
  src/ui/svelte/notifications/i18n/index.ts
  src/ui/svelte/notifications/index.ts
  src/ui/svelte/power-menu/i18n/index.ts
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/quick-settings/i18n/index.ts
  src/ui/svelte/quick-settings/index.ts
  src/ui/svelte/user-menu/i18n/index.ts
  src/ui/svelte/user-menu/index.ts
  src/ui/svelte/wallpaper-manager/i18n/index.ts
  src/ui/svelte/wallpaper-manager/index.ts
  src/ui/svelte/weg/i18n/index.ts
  src/ui/svelte/weg/index.ts
Due: ts-type-check, js-linter

enh(widgets): allow force hardware acceleration
  libs/core/src/state/widget/mod.rs
  src/background/widgets/webview.rs
  src/static/widgets/wallpaper-manager/metadata.yml
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(widgets): improve boot speed for toolbar and dock
  changelog.md
  libs/ui/svelte/components/Wallpaper/state.svelte.ts
  src/ui/svelte/fancy-toolbar/state/getters.svelte.ts
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/fancy-toolbar/state/system.svelte.ts
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/wallpaper-manager/getters.svelte.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/weg/state/getters.svelte.ts
  src/ui/svelte/weg/state/items.svelte.ts
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/state/system.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
Due: ts-type-check, js-linter

fix(tooltip): incorrect trigger logic
  libs/core/src/state/widget/mod.ts
  package-lock.json
  src/ui/globals.d.ts
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: ts-type-check, js-linter

fix(weg): previews position
  src/ui/svelte/weg/previewWidget.ts
Due: ts-type-check, js-linter

fix(toolbar): app bar registration
  changelog.md
  src/background/exposed.rs
  src/background/widgets/mod.rs
  src/background/windows_api/app_bar.rs
  src/ui/svelte/fancy-toolbar/App.svelte
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/weg/App.svelte
  src/ui/svelte/weg/state/settings.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(toolbar): not being on top after fullscreen exit
  changelog.md
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

refactor(backend): replace rayon by tokio
  Cargo.lock
  libs/core/Cargo.toml
  libs/core/src/resource/file.rs
  libs/core/src/resource/interface.rs
  libs/core/src/resource/yaml_ext.rs
  libs/core/src/state/theme/tests.rs
  libs/core/src/state/wallpaper/mod.rs
  libs/core/src/utils/mod.rs
  scripts/build.ts
  scripts/build/plugins/index.ts
  scripts/build/steps/cleanup.ts
  src/background/app.rs
  src/background/cli/uri/icons_downloader.rs
  src/background/cli/uri/mod.rs
  src/background/main.rs
  src/background/resources/cli.rs
  src/background/resources/commands.rs
  src/background/resources/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/resources/user_icon_pack.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/utils/mod.rs
  src/background/virtual_desktops/handlers.rs
  src/slu/resources.rs
  src/static/plugins/tb_default_power/metadata.yml
  src/static/themes/bubbles/metadata.yml
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(tests): core lib failing
  libs/core/Cargo.toml
  libs/core/src/system_state/tray.rs
Due: rust-format, rust-linter

fix(apps-menu): unable to pin files
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
Due: ts-type-check, js-linter

fix(themes): old layers for dock an toolbar
  libs/ui/svelte/components/BackgroundByLayers/BackgroundByLayers.svelte
  libs/ui/svelte/components/Wallpaper/components/ThemedWallpaper.svelte
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/weg/components/Dock.svelte
Due: none

feat(wall): allow html in wallpapers
  changelog.md
  libs/core/src/state/wallpaper/mod.rs
  libs/ui/react/components/Wallpaper/components/ThemedWallpaper.tsx
  libs/ui/svelte/components/BackgroundByLayers/BackgroundByLayers.svelte
  libs/ui/svelte/components/Wallpaper/components/Default.svelte
  libs/ui/svelte/components/Wallpaper/components/ImageWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/ThemedWallpaper.svelte
  libs/ui/svelte/components/Wallpaper/components/VideoWallpaper.svelte
  package-lock.json
  package.json
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(apps-menu): remove native window border and shadow
  scripts/build/builders/react.ts
  scripts/build/builders/svelte.ts
  scripts/build/builders/vanilla.ts
  src/static/themes/default/styles/apps-menu.scss
  src/static/widgets/apps-menu/metadata.yml
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/state/config.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: ts-type-check, js-linter

chore(release): finish v2.7.2
  changelog.md
Due: none

chore(release): start v2.7.3
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(cli): slu client failing without useful errors
  changelog.md
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/error.rs
  libs/slu-ipc/src/messages.rs
  src/background/cli/mod.rs
  src/background/cli/self_pipe.rs
  src/background/cli/uri/mod.rs
  src/background/resources/cli.rs
  src/slu/main.rs
Due: rust-format, rust-linter

fix(tooltip): show and hide logic
  changelog.md
  libs/core/src/state/widget/mod.ts
  src/background/widgets/webview.rs
  src/ui/svelte/tooltip/app.svelte
  src/ui/svelte/tooltip/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.7.3
  changelog.md
Due: none

chore(release): start v2.7.4
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

enh(styles): default theme
  changelog.md
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/styles/reset.css
  libs/ui/react/components/Wallpaper/index.module.css
  package-lock.json
  src/static/themes/default/shared/index.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/apps-menu.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/keyboard-selector.scss
  src/static/themes/default/styles/media-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/notifications.scss
  src/static/themes/default/styles/user-menu.scss
  src/static/themes/default/styles/weg-preview.scss
  src/static/themes/default/styles/weg.css
  src/ui/react/dialog/global.css
  src/ui/react/settings/components/navigation/index.module.css
  src/ui/react/settings/index.tsx
  src/ui/react/settings/modules/developer/ColorPalette.module.css
  src/ui/react/settings/modules/extras/session/infra.module.css
  src/ui/react/settings/modules/general/infra/index.module.css
  src/ui/react/settings/modules/resources/infra.module.css
  src/ui/react/settings/state/system.ts
  src/ui/react/settings/styles/global.css
  src/ui/react/settings/styles/variables.css
  src/ui/vanilla/entry-point/MainSetup.ts
  src/ui/vanilla/entry-point/index.ts
Due: ts-type-check, js-linter

enh(styles): default theme inconsistencies
  libs/core/styles/reset.css
  src/static/themes/default/shared/index.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/media-popup.scss
  src/static/themes/default/styles/tray-menu.scss
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/Submenu.svelte
  src/ui/svelte/system-tray/app.svelte
Due: none

fix(settings): styles
  src/ui/react/settings/modules/developer/ColorPalette.module.css
  src/ui/react/settings/modules/extras/session/infra.module.css
  src/ui/react/settings/modules/resources/infra.module.css
Due: none

fix(linter): run deno 2.9.0 linter
  documentation/theme_guidelines.md
  src/static/icons/desktop.svg
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/tooltip.scss
  src/templates/AppxManifest.xml
  src/ui/react/settings/modules/Home/index.module.css
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/index.module.css
  src/ui/react/settings/modules/resources/infra.module.css
  src/ui/react/settings/public/index.html
Due: none

enh(perf): reduce ram usage on hardware acceleration off
  src/background/widgets/webview.rs
Due: rust-format, rust-linter

enh(widgets): reload widgets on definition change
  changelog.md
  src/ui/vanilla/entry-point/MainSetup.ts
Due: ts-type-check, js-linter

enh(styles): little design improvements
  src/static/plugins/tb_disk_usage/plugin/template.js
  src/static/plugins/tb_network_usage/plugin/template.js
  src/static/themes/default/shared/index.scss
Due: ts-type-check, js-linter

enh(core): support disabled attribute
  changelog.md
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/shared/inputs.scss
Due: none

fix(workspaces): allowing move of non-interactable windows
  changelog.md
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

fix(i18n): lossing regional variants on install and no loading fallbacks
  changelog.md
  libs/core/src/state/settings/mod.rs
  libs/ui/svelte/utils/i18n.ts
  src/background/main.rs
  src/background/state/mod.rs
  src/background/utils/integrity/mod.rs
  src/ui/react/settings/modules/general/application.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(widgets): not fitting into monitor when restoring position
  changelog.md
  libs/core/src/state/widget/mod.ts
Due: ts-type-check, js-linter

fix(settings): edit of readonly shortcuts via dev tools
  changelog.md
  libs/core/src/state/settings/shortcuts.rs
  src/ui/react/settings/modules/shortcuts/application.ts
Due: rust-format, ts-type-check, js-linter, rust-linter
