Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

style(i18n): use CJK corner brackets for quotes in zh-CN strings
  src/background/i18n/zh-CN.yml
  src/static/themes/bubbles/i18n/description.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
Due: none

fix(i18n): unify terminology flagged in pre-submission review
  src/background/i18n/zh-CN.yml
  src/static/plugins/weg_default_power/i18n/display_name.yml
  src/static/plugins/weg_start_menu/i18n/description.yml
  src/static/plugins/weg_trash_bin/i18n/description.yml
  src/static/plugins/wm_columns/i18n/description.yml
  src/static/plugins/wm_rows/i18n/description.yml
  src/static/widgets/settings/i18n/description.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/svelte/fancy-toolbar/i18n/translations/zh-CN.yml
  src/ui/svelte/media-popup/i18n/translations/zh-CN.yml
Due: none

fix(i18n): align system terms with Windows wording and tighten punctuation spacing
  src/background/i18n/zh-CN.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/svelte/network-popup/i18n/translations/zh-CN.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-CN.yml
Due: none

fix(i18n): use 账户名称 for the profile-name option
  src/static/widgets/user/i18n/settings/display-name-source-profile-name.yml
Due: none

build(release): set the NSIS bundle type before SignPath signs seelen-ui.exe
  .github/workflows/release.yml
Due: none

feat(weg): highlight dock items when a window requests attention
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/apps/application/flashing.rs
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/cache.rs
  src/static/themes/default/styles/weg.scss
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
Due: rust-format, rust-linter

feat(weg): reveal the auto-hidden dock when a window requests attention
  libs/core/src/state/settings/mod.rs
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/apps/application/flashing.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/cache.rs
  src/static/themes/default/styles/weg.scss
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/es.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(apps-menu): preselect the first folder item only on keyboard open
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
Due: none

feat(wm): option to keep the stack bar usable when focus leaves the layout
  libs/core/src/state/settings/mod.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/es.yml
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/index.tsx
  src/ui/svelte/window-manager/layout/infra/Container.svelte
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/layout/infra/containers/Stack.svelte
  src/ui/svelte/window-manager/layout/infra/index.css
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(tray): sort tray icons by dragging them and remember the order
  libs/core/src/system_state/tray.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/static/themes/default/styles/tray-menu.scss
  src/ui/svelte/system-tray/TrayItem.svelte
  src/ui/svelte/system-tray/app.svelte
  src/ui/svelte/system-tray/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wm): hide the stack bars over a focused maximized or fullscreen window
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
Due: none

feat(apps-menu): add an Uninstall entry to the app context menu
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/apps-menu/i18n/translations/en.yml
  src/ui/svelte/apps-menu/i18n/translations/es.yml
Due: ts-type-check, js-linter

fix(tray): unique icon keys, keep absent icons in place, encapsulate state
  src/ui/svelte/system-tray/TrayItem.svelte
  src/ui/svelte/system-tray/app.svelte
  src/ui/svelte/system-tray/state.svelte.ts
Due: ts-type-check, js-linter

fix(apps-menu): show Uninstall only for apps, not for searched files
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
Due: ts-type-check, js-linter

feat(flyouts): redesign notification flyout
  src/static/themes/default/styles/flyouts.css
  src/ui/svelte/flyouts/state/placement.svelte.ts
Due: ts-type-check, js-linter

fix(fancy-toolbar): improve toolbar interactions
  src/ui/svelte/fancy-toolbar/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/styles/global.css
Due: ts-type-check, js-linter

fix(quick-settings): wait for initial locale
  src/ui/svelte/quick-settings/state.svelte.ts
Due: ts-type-check, js-linter

fix(quick-settings): fall back when locale loading fails
  src/ui/svelte/quick-settings/state.svelte.ts
Due: ts-type-check, js-linter

fix(vd): don't track a window on two monitors after a display change
  src/background/virtual_desktops/mod.rs
  src/background/windows_api/window/mod.rs
Due: rust-format, rust-linter

fix(vd): move an already-tracked window to the monitor it shows up on
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

Update Russian translations for UI elements
  src/ui/svelte/apps-menu/i18n/translations/ru.yml
Due: none

Update Russian translations for Bluetooth popup
  src/ui/svelte/bluetooth-popup/i18n/translations/ru.yml
Due: none

Update Russian translations for calendar view labels
  src/ui/svelte/calendar-popup/i18n/translations/ru.yml
Due: none

Update Russian translations for various terms
  src/ui/svelte/fancy-toolbar/i18n/translations/ru.yml
Due: none

Update Russian translations in ru.yml
  src/ui/svelte/icon-editor/i18n/translations/ru.yml
Due: none

Update Russian translation for multimedia volume
  src/ui/svelte/media-popup/i18n/translations/ru.yml
Due: none

Update Russian translations for network popup
  src/ui/svelte/network-popup/i18n/translations/ru.yml
Due: none

Update Russian translations for notifications
  src/ui/svelte/notifications/i18n/translations/ru.yml
Due: none

Update Russian translations for power menu
  src/ui/svelte/power-menu/i18n/translations/ru.yml
Due: none

Update Russian translations for settings labels
  src/ui/svelte/quick-settings/i18n/translations/ru.yml
Due: none

Update Russian translations for user menu
  src/ui/svelte/user-menu/i18n/translations/ru.yml
Due: none

Update Russian translation for performance mode message
  src/ui/svelte/wallpaper-manager/i18n/translations/ru.yml
Due: none

Update Russian translations for UI elements
  src/ui/svelte/weg/i18n/translations/ru.yml
Due: none

Improve Russian translations in UI
  src/ui/react/settings/i18n/translations/ru.yml
Due: none

Refine Russian translations in i18n/ru.yml
  src/background/i18n/ru.yml
Due: none

fix(fancy-toolbar): address review feedback
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/notifications/components/Notification.svelte
Due: ts-type-check, js-linter

fix(fancy-toolbar): refine review feedback fixes
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/notifications/components/Notification.svelte
Due: none

chore(release): start v2.8.7
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

chore(lang): refine russian translations (#1866)
  src/background/i18n/ru.yml
Due: none
