Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

refactor(bg): remove unused code
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/ui/react/utils/layered.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(service): prevent service exit on suspend/resume
  changelog.md
  src/service/app_management.rs
  src/service/main.rs
  src/service/power.rs
Due: rust-format, rust-linter

fix(twm): not working as expected
  changelog.md
  libs/slu-ipc/src/commands.rs
  src/background/widgets/window_manager/cli.rs
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(#1577): incorrect accent color when using pure grays
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/weg.css
Due: none

fix(weg): interactable hitbox not working fine
  libs/ui/react/utils/layered.ts
  src/ui/react/weg/modules/shared/state/settings.ts
Due: ts-type-check, js-linter

fix(wall): wallpaper stale state
  libs/ui/svelte/components/Wallpaper/components/VideoWallpaper.svelte
Due: none

chore(release): finish v2.6.9
  changelog.md
Due: none

feat(system-tray): add pinned toolbar icons
  libs/core/src/handlers/commands.rs
  src/background/modules/system_tray/infrastructure.rs
  src/static/themes/default/styles/tray-menu.scss
  src/ui/react/fancy-toolbar/modules/item/infra/infra.tsx
  src/ui/react/fancy-toolbar/modules/main/ItemsContainer.tsx
  src/ui/react/fancy-toolbar/modules/main/PinnedTrayIcons.tsx
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/fancy-toolbar/styles/global.css
  src/ui/svelte/system-tray/app.svelte
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): start v2.6.10
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(widgets): not applying user cofigured language
  changelog.md
  src/ui/svelte/apps-menu/state/config.svelte.ts
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/calendar-popup/app.svelte
  src/ui/svelte/calendar-popup/state.svelte.ts
  src/ui/svelte/flyouts/state/config.svelte.ts
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/quick-settings/state.svelte.ts
  src/ui/svelte/user-menu/state/mod.svelte.ts
Due: ts-type-check, js-linter

fix(date): always use latin numbers
  src/ui/react/fancy-toolbar/modules/item/app/hooks/scope.ts
  src/ui/svelte/calendar-popup/state.svelte.ts
  src/ui/svelte/notifications/i18n/index.ts
Due: ts-type-check, js-linter

chore(release): finish v2.6.10
  changelog.md
Due: none

feat(weg): add folder/group items with color customization
  .gitignore
  libs/core/src/state/weg_items.rs
  libs/core/src/state/widget/context_menu.rs
  src/background/widgets/mod.rs
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/DockMenu.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
  src/ui/react/weg/modules/item/infra/Separator.tsx
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/types.ts
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/Submenu.svelte
  src/ui/svelte/context-menu/app.svelte
  src/ui/svelte/context-menu/index.ts
  src/ui/svelte/context-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): start v2.7.0
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(rpc): discord rpc not updated after settings change
  changelog.md
  src/background/app.rs
  src/background/utils/discord.rs
Due: rust-format, rust-linter

feat(weg): toggle dock module menu items between add and remove
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/DockMenu.tsx
  src/ui/react/weg/modules/shared/state/items.ts
Due: ts-type-check, js-linter

feat(weg): add "Remove from taskbar" to app context menu
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
Due: ts-type-check, js-linter

feat(weg): folder popover icons-only with hover wave magnification
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
  src/ui/react/weg/styles/global.css
Due: ts-type-check, js-linter

feat(weg): anchor folder context menu to icon position
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
Due: ts-type-check, js-linter

feat(weg): drag apps into folder groups with vertical popover
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/DraggableItem.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
  src/ui/react/weg/modules/shared/state/items.ts
  src/ui/react/weg/modules/shared/state/mod.ts
  src/ui/react/weg/styles/global.css
Due: ts-type-check, js-linter

feat(weg): custom folder icons imported as base64
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
  src/ui/react/weg/modules/shared/state/folderIcons.ts
  src/ui/react/weg/styles/global.css
Due: ts-type-check, js-linter

style(weg): render folder icon slightly larger than dock items
  src/ui/react/weg/styles/global.css
Due: none

fix(bg): silence benign errors and fix atomic write race
  src/background/modules/apps/application/previews.rs
  src/background/modules/monitors/brightness/application.rs
  src/background/utils/mod.rs
  src/ui/react/fancy-toolbar/modules/item/infra/ContextMenu.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(toolbar): stabilize pinned tray icons and add double-click
  src/ui/react/fancy-toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/fancy-toolbar/modules/item/infra/infra.tsx
  src/ui/react/fancy-toolbar/modules/main/PinnedTrayIcons.tsx
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/items.ts
  src/ui/react/fancy-toolbar/modules/shared/state/systemTray.ts
Due: ts-type-check, js-linter

chore(release): bump version to 2.8.0
  Cargo.lock
  libs/core/Cargo.toml
  libs/core/deno.json
  package.json
  src/Cargo.toml
Due: none

fix(styles): widgets inconsistency
  .gitignore
  changelog.md
  src/static/themes/default/styles/quick-settings.scss
  src/static/themes/default/styles/weg.css
  src/ui/svelte/quick-settings/components/MediaDevices.svelte
  src/ui/svelte/quick-settings/components/RadioButtons.svelte
Due: none

enh(keyboard): show active IME
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/language.rs
  package-lock.json
  src/background/modules/system_settings/language/application.rs
  src/background/modules/system_settings/language/application.rs.old
  src/background/modules/system_settings/language/infrastructure.rs
  src/background/windows_api/com.rs
  src/background/windows_api/mod.rs
  src/static/widgets/keyboard-selector/plugin/template.js
  src/static/widgets/keyboard-selector/toolbar-plugin.yml
  src/ui/react/fancy-toolbar/modules/item/app/hooks/scope.ts
  src/ui/react/fancy-toolbar/modules/shared/state/lazy.ts
  src/ui/svelte/keyboard-selector/app.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(toolbar): hide pinned tray icon when its app is closed
  src/ui/react/fancy-toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/fancy-toolbar/styles/global.css
Due: ts-type-check, js-linter

chore(release): bump version to 2.8.1
  Cargo.lock
  libs/core/Cargo.toml
  libs/core/deno.json
  package.json
  src/Cargo.toml
Due: none

feat(weg): open-sign for folders and themed popover background
  src/ui/react/weg/modules/item/infra/FolderItem.tsx
  src/ui/react/weg/styles/global.css
Due: ts-type-check, js-linter

fix(weg): consistent spacing for square dock icons
  src/ui/react/weg/styles/global.css
Due: none

fix(widgets): avoid drag activation on touchpad tap
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
Due: ts-type-check, js-linter

enh(styles): danger class for context menu items
  libs/core/src/state/widget/context_menu.rs
  src/static/themes/default/styles/context-menu.scss
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/svelte/context-menu/MenuItem.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(touch): improvements for touch devices
  changelog.md
  libs/ui/react/utils/layered.ts
  libs/ui/react/utils/signals.ts
  src/ui/react/fancy-toolbar/modules/shared/state/mod.ts
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/fancyToolbar/infra.tsx
  src/ui/react/settings/modules/seelenweg/infra.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/shared/state/hidden.ts
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/svelte/window-manager/index.ts
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/state.svelte.ts
Due: ts-type-check, js-linter

fix(widgets): improve touchpad tap handling
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/components/dnd.ts
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/bluetooth-popup/index.ts
  src/ui/svelte/calendar-popup/index.ts
  src/ui/svelte/keyboard-selector/index.ts
  src/ui/svelte/media-popup/index.ts
  src/ui/svelte/network-popup/index.ts
  src/ui/svelte/notifications/index.ts
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/quick-settings/index.ts
  src/ui/svelte/system-tray/index.ts
  src/ui/svelte/user-menu/index.ts
Due: ts-type-check, js-linter

chore(lang): add translations
  src/static/plugins/wm_ultrawide/i18n/description.yml
  src/static/widgets/icon-editor/i18n/description.yml
  src/static/widgets/icon-editor/i18n/display_name.yml
Due: none

enh(icons): improvements on user icon pack feature
  src/background/exposed.rs
  src/background/modules/mod.rs
  src/background/modules/user_icon_pack/mod.rs
  src/background/resources/mod.rs
  src/background/resources/system_icon_pack.rs
  src/background/resources/user_icon_pack.rs
  src/static/themes/default/styles/weg.css
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/svelte/apps-menu/components/context-menu.svelte.ts
  src/ui/svelte/icon-editor/CanvasRenderer.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
