Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

refactor(ui/power-menu): remove custom JS transitions
  src/ui/svelte/power-menu/app.svelte
Due: none

fix(window-manager): honour per-monitor settings overrides
  src/ui/svelte/window-manager/state.svelte.ts
Due: ts-type-check, js-linter

refactor(ui): redesign power menu layout and interactions (#1822)
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(ui): start transitions
  libs/core/src/state/widget/mod.ts
  libs/ui/svelte/utils/RootEffect.svelte.ts
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/power-menu.scss
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/weg/state/settings.svelte.ts
Due: ts-type-check, js-linter

chore(lang): translations fix (#1836)
  src/background/i18n/zh-CN.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/svelte/apps-menu/i18n/translations/zh-CN.yml
Due: none

fix(wm): honour per-monitor settings overrides (#1837)
  src/ui/svelte/window-manager/state.svelte.ts
Due: ts-type-check, js-linter

fix(#1838): hotspot api failing on windows 10
  changelog.md
  src/background/modules/network/application.rs
Due: rust-format, rust-linter

fix(wm): stop treating ShowWindow's return value as an error
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(windows): stop treating ShowWindow's return value as an error (#1833)
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(notifications): degrade gracefully when the mode api is missing
  src/background/modules/notifications/application.rs
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

Update zh-cn
  src/ui/svelte/user-menu/i18n/translations/zh-CN.yml
Due: none

Update src/ui/svelte/user-menu/i18n/translations/zh-CN.yml
  src/ui/svelte/user-menu/i18n/translations/zh-CN.yml
Due: none

chore(commitlint): increase header max lenghth
  .commitlintrc.yml
Due: none

Delete src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
Due: ts-type-check, js-linter

Revert "Delete src/ui/svelte/notifications/state.svelte.ts"
  src/ui/svelte/notifications/state.svelte.ts
Due: ts-type-check, js-linter

revert: keep only the Rust fix, drop frontend mode-api fallback
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
Due: ts-type-check, js-linter

fix(notifications): api crashing on windows 10 (#1839)
  src/background/modules/notifications/application.rs
Due: rust-format, rust-linter

chore(lang): fix zh-cn translation (#1840)
  src/ui/svelte/user-menu/i18n/translations/zh-CN.yml
Due: none

fix(tray): drop icons whose owner window no longer exists
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/infrastructure.rs
Due: rust-format, rust-linter

fix(tray): notify consumers on prune and guard against recycled handles
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/infrastructure.rs
Due: rust-format, rust-linter

fix(tray): prune icons as soon as their owner window is destroyed
  src/background/modules/system_tray/application/mod.rs
Due: rust-format, rust-linter

fix(vd): don't panic when a workspace has no monitor any more
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

fix(tray): build the hook DLL against the static CRT
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_no_signed.yml
  src/hook_dll/src/lib.rs
Due: rust-format, rust-linter

docs(tray): give shell-valid commands for the static CRT build
  src/hook_dll/src/lib.rs
Due: rust-format, rust-linter

feat(brightness): control external monitors through DDC/CI
  src/background/modules/monitors/brightness/application.rs
  src/background/modules/monitors/brightness/infrastructure.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

fix(brightness): publish DDC/CI reads under the lock, keep every panel
  src/background/modules/monitors/brightness/application.rs
  src/background/windows_api/monitor/brightness.rs
Due: rust-format, rust-linter

feat(notifications): smooth card dismiss and synchronous popup height collapse
  src/ui/svelte/notifications/app.svelte
  src/ui/svelte/notifications/transitions.ts
Due: ts-type-check, js-linter

fix(notifications): prevent over-shrink and bounce on last card
  src/ui/svelte/notifications/app.svelte
Due: none

fix(notifications): handle zero gap, IPC debounce, and edge cases
  src/ui/svelte/notifications/app.svelte
  src/ui/svelte/notifications/transitions.ts
Due: ts-type-check, js-linter

fix(notifications): inherit body gap in layout stack and cards layer
  src/ui/svelte/notifications/app.svelte
Due: none

feat(brightness): control external monitors through DDC/CI (#1832)
  src/background/modules/monitors/brightness/application.rs
  src/background/modules/monitors/brightness/infrastructure.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

fix(tray): drop icons whose owner window no longer exists (#1841)
  src/background/modules/system_tray/application/mod.rs
  src/background/modules/system_tray/application/tray_icon.rs
  src/background/modules/system_tray/infrastructure.rs
Due: rust-format, rust-linter

feat(notifications): themeable card dismiss and height stabilization
  src/static/themes/default/styles/notifications.scss
  src/ui/svelte/notifications/app.svelte
  src/ui/svelte/notifications/components/Notification.svelte
Due: none

fix(vd): don't panic when a workspace has no monitor any more (#1843)
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

build(dll): statically link MSVC CRT to remove VCRUNTIME140.dll dependency
  .cargo/config.toml
Due: none

build(dll): fix not statically linking MSVC CRT for arm64
  .cargo/config.toml
Due: none

fix(i18n): improve zh-CN translations in the settings app
  src/ui/react/settings/i18n/translations/zh-CN.yml
Due: none

fix(i18n): improve zh-CN translations in the UI widgets
  src/ui/svelte/apps-menu/i18n/translations/zh-CN.yml
  src/ui/svelte/bluetooth-popup/i18n/translations/zh-CN.yml
  src/ui/svelte/fancy-toolbar/i18n/translations/zh-CN.yml
  src/ui/svelte/flyouts/i18n/translations/zh-CN.yml
  src/ui/svelte/icon-editor/i18n/translations/zh-CN.yml
  src/ui/svelte/media-popup/i18n/translations/zh-CN.yml
  src/ui/svelte/network-popup/i18n/translations/zh-CN.yml
  src/ui/svelte/quick-settings/i18n/translations/zh-CN.yml
  src/ui/svelte/user-menu/i18n/translations/zh-CN.yml
  src/ui/svelte/weg/i18n/translations/zh-CN.yml
Due: none

fix(i18n): improve zh-CN translations in the backend texts
  src/background/i18n/zh-CN.yml
Due: none
