Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

docs(resources): add more guidelines
  AGENTS.md
  documentation/FEATURES.md
  documentation/TODO.md
  documentation/docs-manifest.json
  documentation/plugins/dock_plugins.md
  documentation/plugins/guidelines.md
  documentation/plugins/toolbar_plugins.md
  documentation/plugins/wm_layouts.md
  documentation/resource_guidelines.md
  documentation/resource_text.md
  documentation/supported_languages.md
  documentation/widgets/guidelines.md
  documentation/widgets/js_api.md
Due: none

docs(resources): update references to work on website
  AGENTS.md
  documentation/TODO.md
  documentation/dock-plugins.md
  documentation/docs-manifest.json
  documentation/plugin-guidelines.md
  documentation/resource-guidelines.md
  documentation/resource-text.md
  documentation/supported-languages.md
  documentation/theme-guidelines.md
  documentation/toolbar-plugins.md
  documentation/widget-guidelines.md
  documentation/widget-js-api.md
  documentation/wm-layouts.md
Due: none

ci(discord): trim message send to discord
  .github/workflows/discord-notify.yml
Due: none

chore(release): finish v2.8.0
  changelog.md
Due: none

chore(release): start v2.8.1
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

enh(bg): events reliability
  src/background/hook.rs
  src/background/modules/apps/application/windows.rs
  src/background/state/application/performance.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/window_manager/cli.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/window/event.rs
Due: rust-format, rust-linter

fix(twm): forcing floating size while disabled
  changelog.md
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

build(deps): update dnd-kit libs
  package-lock.json
  package.json
Due: none

enh(plugin): add new scope on toolbar and dock plugins
  documentation/toolbar-plugins.md
  libs/ui/svelte/utils/scopes.svelte.ts
Due: ts-type-check, js-linter

feat(weg): dock items size
  changelog.md
  libs/core/src/state/plugin/weg.rs
  src/static/themes/default/styles/weg.css
  src/static/widgets/bluetooth-popup/dock_plugin.js
  src/static/widgets/calendar-popup/dock_plugin.js
  src/static/widgets/keyboard-selector/dock_plugin.js
  src/static/widgets/network-popup/dock_plugin.js
  src/static/widgets/notifications/dock_plugin.js
  src/static/widgets/system-tray/dock_plugin.js
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(dev): auto-enable resources on manual load
  src/background/cli/uri/mod.rs
  src/background/resources/cli.rs
  src/background/resources/mod.rs
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/weg/state/items.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(dev): not enabling resources on manual load
  src/background/resources/cli.rs
Due: rust-format, rust-linter

feat(tb): canvas renderer for plugins
  changelog.md
  documentation/toolbar-plugins.md
  libs/core/src/state/placeholder.rs
  libs/ui/svelte/utils/sandbox.ts
  src/ui/svelte/fancy-toolbar/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/evaluatedComponents.ts
  src/ui/svelte/fancy-toolbar/state/items.svelte.ts
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/pluginEval.svelte.ts
  src/ui/svelte/weg/state/items.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(#1707): disabling widget on shortcuts change
  changelog.md
  libs/core/src/state/settings/by_monitor.rs
  libs/core/src/state/settings/by_widget.rs
  libs/core/src/state/settings/mod.rs
  src/ui/react/settings/modules/resources/Widget/application.ts
  src/ui/react/settings/modules/shortcuts/application.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(#1316): workspace switching on multi-monitors
  changelog.md
  src/background/virtual_desktops/cli.rs
Due: rust-format, rust-linter

fix(build): type check failing
  libs/core/src/state/settings/mod.ts
  libs/core/src/state/widget/mod.ts
  src/ui/react/settings/modules/shortcuts/application.ts
Due: ts-type-check, js-linter

fix(weg): item sizing
  src/static/themes/default/styles/weg.css
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/state/settings.svelte.ts
Due: ts-type-check, js-linter

enh(tooltip): toolbar a dock tooltips placement
  changelog.md
  libs/core/src/state/widget/mod.rs
  libs/ui/svelte/utils/sandbox.ts
  src/background/widgets/mod.rs
  src/static/themes/default/styles/tooltip.scss
  src/ui/svelte/fancy-toolbar/actionEvaluator.ts
  src/ui/svelte/fancy-toolbar/components/Item.svelte
  src/ui/svelte/fancy-toolbar/evaluatedComponents.ts
  src/ui/svelte/fancy-toolbar/state/settings.svelte.ts
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/tooltip/app.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/components/items/PluginItem.svelte
  src/ui/svelte/weg/components/items/UserApplicationItem.svelte
  src/ui/svelte/weg/pluginEval.svelte.ts
  src/ui/svelte/weg/previewWidget.ts
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(styles): deprecate shared class
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/notifications.scss
  src/static/themes/default/styles/task-switcher.scss
  src/static/themes/default/styles/tooltip.scss
  src/static/themes/default/styles/workspaces-viewer.scss
  src/ui/react/settings/modules/developer/SharedComponents.tsx
  src/ui/svelte/bluetooth-popup/app.svelte
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/network-popup/app.svelte
  src/ui/svelte/notifications/components/Notification.svelte
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/tooltip/app.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/svelte/workspaces-viewer/app/Window.svelte
  src/ui/svelte/workspaces-viewer/app/Workspace.svelte
Due: ts-type-check, js-linter

fix(monitors): avoid emitting monitor events with no real state diff
  changelog.md
  libs/core/src/system_state/monitors.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/infrastructure.rs
Due: rust-format, rust-linter

fix(#1704): infinity loop recreating workerw
  src/background/widgets/wallpaper_manager/mod.rs
Due: rust-format, rust-linter

ci(nightly): optimize scritps
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

build(deps): bump rand from 0.9.4 to 0.10.2
  Cargo.lock
  Cargo.toml
  src/background/virtual_desktops/wallpapers.rs
Due: rust-format, rust-linter

build(deps): bump notify-debouncer-full from 0.3.2 to 0.7.0
  Cargo.lock
  Cargo.toml
  src/background/modules/start/application.rs
  src/background/modules/user/application.rs
  src/background/state/application/mod.rs
Due: rust-format, rust-linter

build(deps): bump scc from 2.4.0 to 3.8.4
  Cargo.lock
  Cargo.toml
  libs/positioning/src/lib.rs
  src/background/resources/cli.rs
  src/background/resources/commands.rs
  src/background/resources/emitters.rs
  src/background/resources/mod.rs
  src/background/state/application/settings.rs
  src/background/state/mod.rs
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/manager.rs
  src/background/widgets/mod.rs
  src/background/widgets/permissions.rs
  src/background/widgets/window_manager/hook.rs
  src/background/widgets/window_manager/state_v2.rs
Due: rust-format, rust-linter

build(deps): fix conflicts
  package-lock.json
Due: none

feat(twm): option for stack bars visibility
  changelog.md
  libs/core/src/state/settings/mod.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/WindowManager/application.ts
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/Others.tsx
  src/ui/react/settings/modules/resources/Widget/WindowManager/main/infra/index.tsx
  src/ui/svelte/window-manager/layout/infra/containers/Stack.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.8.1
  changelog.md
Due: none

chore(release): start v2.8.2
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  libs/slu-ipc/Cargo.toml
  libs/slu-macros/Cargo.toml
  libs/utils/Cargo.toml
  package-lock.json
  package.json
  src/Cargo.toml
  src/hook_dll/Cargo.toml
Due: none

enh(gc): ensure manual gc on release
  src/background/widgets/webview.rs
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(log): not taking correct location on mutex panic
  src/background/utils/lock_free/traced_mutex.rs
Due: rust-format, rust-linter

refactor(code): inline mutex wrappers
  src/background/modules/start/application.rs
  src/background/utils/lock_free/sync_hash_map.rs
  src/background/utils/lock_free/sync_vec.rs
  src/background/utils/lock_free/traced_mutex.rs
Due: rust-format, rust-linter

fix(dev): bundling replacing variable ids
  libs/core/src/resource/file.rs
  libs/core/src/resource/yaml_ext.rs
  libs/core/src/state/settings/shortcuts.rs
Due: rust-format, rust-linter

enh(widgets): force clean memory periodically
  Cargo.lock
  Cargo.toml
  changelog.md
  src/Cargo.toml
  src/background/widgets/loader.rs
  src/background/widgets/webview.rs
  src/ui/vanilla/entry-point/LivenessProve.ts
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
  src/ui/vanilla/entry-point/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

test(mutex): failing by race condition
  src/background/utils/lock_free/traced_mutex.rs
Due: rust-format, rust-linter

fix(yml): loading resources failing
  libs/core/src/resource/yaml_ext.rs
Due: rust-format, rust-linter

fix(user): not loading account profile picture on windows 10
  changelog.md
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/ui/react/dialog/app.tsx
  src/ui/react/settings/components/header/index.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(apps-menu): sorting on search and use via keyboard
  changelog.md
  libs/ui/dnd.ts
  src/background/modules/start/application.rs
  src/static/themes/default/styles/apps-menu.scss
  src/ui/react/settings/components/SortableSelector/index.tsx
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/components/SortableAppItem.svelte
  src/ui/svelte/apps-menu/components/layout/StartMenuBody.svelte
  src/ui/svelte/apps-menu/components/layout/StartMenuFooter.svelte
  src/ui/svelte/apps-menu/keyboard-navigation.ts
  src/ui/svelte/apps-menu/state/knownFolders.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/search.svelte.ts
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
