Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

New translations en.yml (Chinese Traditional)
  src/background/i18n/zh-TW.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/ui/settings/i18n/translations/zh-TW.yml
Due: none

New translations en.yml (Chinese Traditional)
  src/ui/weg/i18n/translations/zh-TW.yml
Due: none

fix(wall): error on saving empty wallpaper list
  changelog.md
  libs/widgets-shared/components/SortableSelector/index.tsx
Due: js-linter, ts-type-check

fix(settings): ui not being updated after remove a resource
  changelog.md
  src/background/resources/commands.rs
Due: rust-linter, rust-code-check

enh(webview): remove console log
  libs/widgets-shared/components/SlPopup/index.tsx
  src/ui/wallpaper_manager/app.tsx
  src/ui/wallpaper_manager/modules/Monitor/infra.tsx
Due: js-linter, ts-type-check

fix(freeze): frozen app after sleep the pc
  src/background/main.rs
  src/background/modules/power/application.rs
Due: rust-linter, rust-code-check

fix(settings): update resource button not appearing
  Cargo.lock
  changelog.md
  libs/widgets-shared/index.ts
  package-lock.json
  package.json
  src/ui/settings/modules/resources/ResourceCard.tsx
  src/ui/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/ui/toolbar/modules/Notifications/infra/Notification.tsx
  src/ui/toolbar/modules/user/infra/FilePreview.tsx
Due: js-linter, ts-type-check

fix(crash): max integer on media players
  CLAUDE.md
  changelog.md
  src/background/modules/media/application/players.rs
Due: rust-linter, rust-code-check

fix(tb): crash on user module
  libs/widgets-shared/index.ts
  src/background/app.rs
  src/background/resources/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(perf): reduce memory usage
  changelog.md
  libs/widgets-shared/components/Wallpaper/index.tsx
  src/background/utils/integrity.rs
  src/background/widgets/launcher/mod.rs
  src/background/widgets/mod.rs
  src/background/widgets/popups/mod.rs
  src/background/widgets/third_party/mod.rs
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/wallpaper_manager/mod.rs
  src/background/widgets/weg/instance.rs
  src/background/widgets/window_manager/instance.rs
  src/ui/wallpaper_manager/modules/Monitor/infra.tsx
  templates/installer.nsi
Due: js-linter, rust-linter, ts-type-check, rust-code-check

New translations en.yml (Spanish)
  src/ui/settings/i18n/translations/es.yml
Due: none

New translations en.yml (Chinese Simplified)
  src/ui/settings/i18n/translations/zh-CN.yml
Due: none

New translations en.yml (Portuguese)
  src/ui/settings/i18n/translations/pt-PT.yml
Due: none

New translations en.yml (Portuguese, Brazilian)
  src/ui/settings/i18n/translations/pt-BR.yml
Due: none

New translations en.yml (Romanian)
  src/ui/settings/i18n/translations/ro.yml
Due: none

New translations en.yml (French)
  src/ui/settings/i18n/translations/fr.yml
Due: none

New translations en.yml (Afrikaans)
  src/ui/settings/i18n/translations/af.yml
Due: none

New translations en.yml (Arabic)
  src/ui/settings/i18n/translations/ar.yml
Due: none

New translations en.yml (Bulgarian)
  src/ui/settings/i18n/translations/bg.yml
Due: none

New translations en.yml (Catalan)
  src/ui/settings/i18n/translations/ca.yml
Due: none

New translations en.yml (Czech)
  src/ui/settings/i18n/translations/cs.yml
Due: none

New translations en.yml (Danish)
  src/ui/settings/i18n/translations/da.yml
Due: none

New translations en.yml (German)
  src/ui/settings/i18n/translations/de.yml
Due: none

New translations en.yml (Greek)
  src/ui/settings/i18n/translations/el.yml
Due: none

New translations en.yml (Basque)
  src/ui/settings/i18n/translations/eu.yml
Due: none

New translations en.yml (Finnish)
  src/ui/settings/i18n/translations/fi.yml
Due: none

New translations en.yml (Gujarati)
  src/ui/settings/i18n/translations/gu.yml
Due: none

New translations en.yml (Hebrew)
  src/ui/settings/i18n/translations/he.yml
Due: none

New translations en.yml (Hungarian)
  src/ui/settings/i18n/translations/hu.yml
Due: none

New translations en.yml (Armenian)
  src/ui/settings/i18n/translations/hy.yml
Due: none

New translations en.yml (Italian)
  src/ui/settings/i18n/translations/it.yml
Due: none

New translations en.yml (Japanese)
  src/ui/settings/i18n/translations/ja.yml
Due: none

New translations en.yml (Georgian)
  src/ui/settings/i18n/translations/ka.yml
Due: none

New translations en.yml (Korean)
  src/ui/settings/i18n/translations/ko.yml
Due: none

New translations en.yml (Kurdish)
  src/ui/settings/i18n/translations/ku.yml
Due: none

New translations en.yml (Lithuanian)
  src/ui/settings/i18n/translations/lt.yml
Due: none

New translations en.yml (Macedonian)
  src/ui/settings/i18n/translations/mk.yml
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  rust-code-check: any of: **/*.rs
