Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(tb,weg): object remove stop fullscreen
  src/background/winevent.rs
Due: rust-linter, rust-code-check

fix(tb/dock): fullscreen stucked in case of object destroy (#565)
  src/background/winevent.rs
Due: rust-linter, rust-code-check

chore(lang): improve ru translation in toolbar and settings (#559)
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

enh(tb): position variable for fancytoolbar
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/fancyToolbar/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/styles/global.css
  src/background/seelen_bar/mod.rs
  src/background/windows_api/app_bar.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.1.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(tb): power module not clickable
  changelog.md
  static/plugins/tb_default_power.yml
Due: none

refactor(media): code splitting
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/infrastructure.rs
Due: rust-linter, rust-code-check

fix(weg): apps not starting correctly
  changelog.md
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/toolbar/modules/item/app.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/media/application/players.rs
  src/background/modules/notifications/application.rs
  src/background/modules/start/application.rs
  src/background/modules/start/domain.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/types.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(weg): electron apps
  changelog.md
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

chore(release): v2.1.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(tb): blue screen on wrong templates
  changelog.md
  src/apps/toolbar/modules/item/app.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
Due: js-linter, ts-type-check

chore(release): v2.1.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

docs(readme): add ko-fi button
  .github/FUNDING.yml
  readme.md
Due: none

ci(nightly): add path to ignore
  .github/workflows/nightly.yml
Due: none

enh(tb): local account, admin user #574
  src/apps/toolbar/modules/user/infra/UserProfile.tsx
  src/background/modules/user/application.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(tb): notification max height #574
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

fix(ahk): shortcuts not working on MSIX
  changelog.md
  src/background/utils/ahk/mod.rs
Due: rust-linter, rust-code-check

fix(tb): empty username
  changelog.md
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

chore(release): v2.1.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

feat(tb): bluetooth module #2
  Cargo.toml
  src/background/modules/bluetooth/application.rs
  src/background/modules/bluetooth/domain.rs
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/bluetooth/mod.rs
  src/background/modules/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

feat(tb): position variable for fancytoolbar (#566)
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/fancyToolbar/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/styles/global.css
  src/background/seelen_bar/mod.rs
  src/background/windows_api/app_bar.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(weg): instance counter for multiple open windows (#562)
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/seelenweg/infra.tsx
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

feat(tb): add power plan for power options and display (#561)
  src/apps/toolbar/modules/Power/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/power/domain.rs
  src/background/modules/power/infrastructure.rs
  src/background/system/mod.rs
  static/plugins/tb_default_power.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(weg): add option to disable reorder on dock and toolbar (#533)
  src/apps/seelenweg/i18n/translations/en.yml
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/state/application/toolbar_items.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(weg): thumbnail generation option to disable (#534)
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/seelenweg/infra.tsx
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

fix(tsx): syntax error
  src/apps/settings/modules/seelenweg/infra.tsx
Due: js-linter, ts-type-check

docs(changelog): add missing items
  changelog.md
Due: none

fix(settings): showing window on each startup
  changelog.md
  src/background/main.rs
  src/background/state/application/toolbar_items.rs
Due: rust-linter, rust-code-check

build(deps): update tauri dependency
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
  scripts/UpdateTauri.ts
  src/background/modules/cli/mod.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

styles(tb): notification max-height (#592)
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

chore(deps): update slu-lib
  Cargo.lock
  package-lock.json
  package.json
Due: none

fix(build): error
  src/background/error_handler.rs
Due: rust-linter, rust-code-check

build(deps): update tauri dependency (#603)
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
  scripts/UpdateTauri.ts
  src/background/error_handler.rs
  src/background/modules/cli/mod.rs
  src/background/utils/integrity.rs
  src/background/utils/updater.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(deps): update windows crate
  Cargo.lock
  Cargo.toml
  changelog.md
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/cli/mod.rs
  src/background/modules/input/domain.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/players.rs
  src/background/modules/media/domain.rs
  src/background/modules/monitors/application.rs
  src/background/modules/notifications/application.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/system_settings/application.rs
  src/background/modules/tray/application.rs
  src/background/modules/virtual_desk/native.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/state/infrastructure.rs
  src/background/utils/mod.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/process.rs
  src/background/windows_api/traits.rs
  src/service/string_utils.rs
  src/service/task_scheduler.rs
  src/service/windows_api/mod.rs
Due: rust-linter, rust-code-check

fix(icons): error when loading file icons
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/modules/start/application.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(deps): update tauri
  Cargo.lock
Due: none

refactor(tauri): wait for tauri internals
  Cargo.lock
  scripts/build.ts
  src/apps/seelen_rofi/public/index.html
  src/apps/seelen_task_switcher_rename_later/public/index.html
  src/apps/seelen_wall/public/index.html
  src/apps/seelen_wm_v2/public/index.html
  src/apps/seelenweg/public/index.html
  src/apps/settings/public/index.html
  src/apps/shared/integrity.ts
  src/apps/toolbar/public/index.html
  src/apps/toolbar/styles/global.css
  src/apps/widget_loader/public/index.html
Due: js-linter, ts-type-check

feat(icons): allow custom start menu icon
  changelog.md
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/apps/shared/components/Icon/common.ts
  src/apps/shared/components/Icon/index.tsx
  src/background/state/application/icons.rs
  src/background/state/infrastructure.rs
  src/background/utils/constants.rs
  static/icons/start-menu.svg
  static/themes/default/seelen/weg.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check
