Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

enh(launcher): dropdown style & stylability
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  static/themes/default/theme.launcher.css
Due: js-linter

feat(weg): scrollbar for weg and resolve #316
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/styles/global.css
  static/themes/default/theme.weg.css
Due: js-linter

fix(msix): notifications crashing
  src/background/modules/notifications/application.rs
Due: rust-linter, rust-code-check

enh(msix): add slu-service to msix builds
  scripts/bundle.msix.ts
  src/background/main.rs
Due: js-linter, rust-linter, rust-code-check

enh(weg): add shortcut handling #281
  documentation/schemas/settings.schema.json
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shortcuts/infrastructure.tsx
  src/background/seelen.rs
  src/background/seelen_weg/cli.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mocks/seelen.weg.ahk
Due: js-linter, rust-linter, rust-code-check

refactor(weg): move write logic to background
  capabilities/general.json
  capabilities/launcher.json
  capabilities/migrated.json
  capabilities/weg.json
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/seelen_weg/handler.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
  src/background/state/application/weg_items.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

feat(weg): collapse weg items based on monitor
  documentation/schemas/settings.schema.json
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/seelenweg/infra.tsx
  src/background/exposed.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, rust-code-check

fix(win32): fake errors? maybe? fucking windows api
  src/background/error_handler.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

chore(bubbles) update bubbles style
  static/themes/bubbles.yml
Due: none

chore(bubbles): update bubbles theme (#382)
  static/themes/bubbles.yml
Due: none

refactor(weg): weg implementation part 1
  changelog.md
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check

refactor(weg): weg implementation part 2
  changelog.md
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/Menu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/shared/hooks.ts
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/weg_items.rs
Due: js-linter, rust-linter, rust-code-check

refactor(weg): weg implementation part 3
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/shared/hooks.ts
  src/background/modules/mod.rs
  src/background/modules/start/application.rs
  src/background/modules/start/domain.rs
  src/background/modules/start/infrastructure.rs
  src/background/modules/start/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/application/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check

chore(log): remove console logs
  .github/workflows/msix.yml
  scripts/UpdateTauri.ts
  scripts/build.ts
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/shared/store/infra.ts
Due: js-linter

fix(weg): running pinned apps
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/shared/Command.test.ts
  src/apps/shared/Command.ts
  src/background/exposed.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
Due: js-linter, rust-linter, rust-code-check

Fix typo in window manager link
  readme.md
Due: none

docs(readme): fix typo in window manager link (#402)
  readme.md
Due: none

refactor(paths): add a common structure for paths
  src/background/restoration_and_migrations/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/plugins.rs
  src/background/state/application/profiles.rs
  src/background/state/application/settings.rs
  src/background/state/application/weg_items.rs
  src/background/state/application/widgets.rs
  src/background/utils/constants.rs
Due: rust-linter, rust-code-check

enh(weg): compare before emit change event
  src/apps/seelenweg/modules/item/infra/UserApplicationContextMenu.tsx
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/background/seelen_weg/handler.rs
  src/background/state/application/mod.rs
  src/background/state/application/weg_items.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

Fixed some Russian translations
  src/apps/seelen_rofi/i18n/translations/ru.yml
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

Oops, typo
  src/apps/settings/i18n/translations/ru.yml
Due: none

docs(schemas): remove schemas from repo
  documentation/schemas/icon_pack.schema.json
  documentation/schemas/layout.schema.json
  documentation/schemas/placeholder.schema.json
  documentation/schemas/settings.schema.json
  documentation/schemas/settings_by_app.schema.json
  documentation/schemas/theme.schema.json
  documentation/schemas/weg_items.schema.json
  documentation/themes.md
  documentation/toolbar.md
  scripts/build.rs
Due: rust-linter, rust-code-check

enh(code): add auto-generation for tauri commands
  src/background/exposed.rs
Due: rust-linter, rust-code-check

perf(start): reduce loading time caching start-menu items
  src/background/modules/start/application.rs
  src/background/modules/start/domain.rs
  src/background/restoration_and_migrations/mod.rs
  src/background/seelen.rs
  src/background/utils/constants.rs
Due: rust-linter, rust-code-check

fix(weg): items display name
  src/background/modules/media/application.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

fix ru translate
  src/apps/settings/i18n/translations/ru.yml
Due: none

Update uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

Update settings ko.yml
  src/apps/settings/i18n/translations/ko.yml
Due: none

Update seelenweg ko.yml
  src/apps/seelenweg/i18n/translations/ko.yml
Due: none

Update toolbar ko.yml
  src/apps/toolbar/i18n/translations/ko.yml
Due: none

Fixed UA translations :)
  src/apps/seelen_rofi/i18n/translations/uk.yml
  src/apps/seelenweg/i18n/translations/uk.yml
  src/apps/settings/i18n/translations/uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

Fixed UA translations 2 :)
  src/apps/seelen_rofi/i18n/translations/uk.yml
  src/apps/seelenweg/i18n/translations/uk.yml
  src/apps/settings/i18n/translations/uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

fix(weg): drag state usage from state instead of ref apply
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

Update uk.yml
  src/apps/seelenweg/i18n/translations/uk.yml
Due: none
