Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

enh(apps): manage elevated windows
  src/background/hook.rs
  src/background/modules/cli/mod.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/seelen_wm_v2/handler.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
  src/service/cli.rs
  src/service/error.rs
  src/service/main.rs
  src/service/windows_api/mod.rs
  static/apps_templates/development.yml
  static/apps_templates/password_managers.yml
  static/apps_templates/system.yml
  static/apps_templates/uncategorized.yml
  static/apps_templates/video-and-streaming.yml
Due: rust-linter, rust-code-check

enh(apps): use service only for elevated process
  src/background/modules/cli/mod.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_wm_v2/handler.rs
  src/background/state/application/apps_config.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/service/cli.rs
Due: rust-linter, rust-code-check

enh(weg): indexing logic
  src/background/seelen_weg/cli.rs
Due: rust-linter, rust-code-check

fix(user): resolve user path from winapi
  src/background/modules/user/application.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

fix(deadlock): on fullscreen app
  src/background/modules/tray/application.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/weg_items.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

enh(win-api): improve documentation
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/handler.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

fix(winapi): activating windows on set position
  src/background/windows_api/mod.rs
  src/service/windows_api/mod.rs
Due: rust-linter, rust-code-check

enh(weg): add wave animation as separated theme
  src/apps/seelenweg/modules/item/infra/MediaSession.css
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  static/themes/default/seelen/weg.css
  static/themes/dock-animation/seelen/weg.scss
  static/themes/dock-animation/theme.yml
Due: js-linter, ts-type-check

fix(user): use tauri instead of windows known folder
  src/background/modules/user/application.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

fix(tb): missing system tray icons
  changelog.md
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/styles/global.css
  src/background/main.rs
  src/background/modules/tray/application.rs
  src/background/modules/tray/domain.rs
  src/background/modules/tray/infrastructure.rs
  static/themes/default/seelen/fancy-toolbar.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): date not being updated
  changelog.md
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Date/infra.tsx
Due: js-linter, ts-type-check

fix(weg,tb): fullscreen handling
  src/background/seelen_bar/mod.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check

fix(err): no error propagation on tray module
  src/background/modules/tray/application.rs
Due: rust-linter, rust-code-check

fix(weg): preview toggle state
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
Due: js-linter, ts-type-check

fix(tb): tray icon error on missing cached icon
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/shared/store/domain.ts
  src/background/modules/tray/application.rs
  src/background/modules/tray/domain.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): icon generation with optional umid
  src/apps/toolbar/modules/item/infra/Inner.tsx
Due: js-linter, ts-type-check

Icon generation with IconPackManager (#512)
  src/apps/toolbar/modules/item/infra/Inner.tsx
  static/plugins/tb_default_focused_app.yml
Due: js-linter, ts-type-check

fix(tb): fullscreen issue on multimonitor (#521)
  src/background/seelen_bar/mod.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check

feat(weg): notifications count on app items
  changelog.md
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/toolbar/modules/Notifications/domain.ts
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/notifications/application.rs
  static/themes/default/seelen/weg.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tray): case sensitive comparison
  src/background/modules/cli/mod.rs
  src/background/modules/tray/application.rs
Due: rust-linter, rust-code-check

style(weg): add hover effect
  static/themes/default/seelen/weg.css
Due: none

refactor(img): avoid drag using event listener
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
Due: js-linter, ts-type-check

fix(settings): bad monitor name
  src/background/modules/monitors/domain.rs
Due: rust-linter, rust-code-check

fix(media): wait for async & thumbnail rerequest
  src/background/modules/media/application.rs
  src/background/modules/media/infrastructure.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

feat(tb): user module (#377)
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/apps/toolbar/modules/user/infra/FilePreview.tsx
  src/apps/toolbar/modules/user/infra/Module.tsx
  src/apps/toolbar/modules/user/infra/ThemeTool.tsx
  src/apps/toolbar/modules/user/infra/UserFolder.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/application_history/application.rs
  src/background/modules/application_history/hooks.rs
  src/background/modules/application_history/infrastructure.rs
  src/background/modules/application_history/mod.rs
  src/background/modules/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
  src/background/modules/user/mod.rs
  src/background/seelen_bar/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
  static/plugins/tb_default_user_folder.yml
  static/themes/default/seelen/fancy-toolbar.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(weg,tb): reorder disabled from context menu #412
  src/apps/seelenweg/i18n/translations/en.yml
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/state/application/toolbar_items.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(#502): ghost notification hitbox
  changelog.md
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, ts-type-check

feat(weg): thumbnail generation #242
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/seelenweg/infra.tsx
  static/themes/default/seelen/weg.css
Due: js-linter, ts-type-check

chore(release): v2.1.0
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(weg): serde
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
Due: js-linter, ts-type-check

fix(weg): context menu order
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
Due: js-linter, ts-type-check

fix(tb): remove callback selector dependency
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter, ts-type-check

fix(tb,weg): centralised reoder block
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter, ts-type-check

fix(user): recent folder content & style fix
  src/background/modules/user/application.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: rust-linter, rust-code-check

fix(tb): style
  changelog.md
  static/themes/default/seelen/fancy-toolbar.scss
Due: none
