Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

Update uk.yml
  src/apps/seelen_rofi/i18n/translations/uk.yml
Due: none

fix(weg): drag state use both solutions
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
Due: js-linter

enh(tb): volume popover behaviour & percent render
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
Due: js-linter

style(weg-tb): animate popovers
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
Due: js-linter

enh(weg-tb): animated popup
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
Due: js-linter

enh(weg): popup animation
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedPopover/index.tsx
Due: js-linter

style(weg-tb): popup animation style
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: none

enh(weg-tb): configurable animation for context menus
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  src/apps/shared/components/AnimatedWrappers/domain.ts
  src/apps/shared/components/AnimatedWrappers/index.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/theme.launcher.css
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: js-linter

enh(launcher): dropdown style & stylability
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  static/themes/default/theme.launcher.css
Due: js-linter

fix(tb, weg): various rebase issues
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  static/themes/default/theme.toolbar.css
  static/themes/default/theme.weg.css
Due: js-linter

enh(tb): missed active logic on tb wired in
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

feat(tb): user module
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
  src/background/modules/user/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, rust-code-check

enh(weg): async_force_set_foreground
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check

feat(wall): multimonitor support
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/background/modules/monitors/domain.rs
Due: js-linter, rust-linter, rust-code-check

feat(tb): notification icons
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/background/modules/notifications/application.rs
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check

fix(appsConfigurations): resolve #431 issue
  src/apps/settings/i18n/translations/ko.yml
  src/apps/settings/modules/appsConfigurations/infra/index.module.css
Due: none

enh(lang): improve the language selector search
  changelog.md
  scripts/translate.ts
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelenweg/i18n/index.ts
  src/apps/settings/i18n/index.ts
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/shared/lang.ts
  src/apps/toolbar/i18n/index.ts
Due: js-linter

enh(icons): improve icon extraction performance
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/background/exposed.rs
  src/background/seelen_rofi/handler.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/application/events.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check

enh(toolbar): add notification icons (#430)
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/background/modules/notifications/application.rs
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check

chore(lang): fix ru translate (#411)
  src/apps/settings/i18n/translations/ru.yml
Due: none

chore(lang): update korean locale (#414)
  src/apps/seelenweg/i18n/translations/ko.yml
  src/apps/settings/i18n/translations/ko.yml
  src/apps/toolbar/i18n/translations/ko.yml
Due: none

chore(lang): fix ukranian translations (#417)
  src/apps/seelen_rofi/i18n/translations/uk.yml
  src/apps/seelenweg/i18n/translations/uk.yml
  src/apps/settings/i18n/translations/uk.yml
  src/apps/toolbar/i18n/translations/uk.yml
Due: none

enh(icons): improve icons system for notifications
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/settings/modules/shortcuts/app.ts
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Notifications/domain.ts
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/media/application.rs
  src/background/modules/notifications/application.rs
  src/background/modules/start/application.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check

fix(settings): not updating lang selectors
  src/apps/settings/modules/AppLauncher/infra.tsx
  src/apps/settings/modules/appsConfigurations/infra/Identifier.tsx
  src/apps/settings/modules/fancyToolbar/infra.tsx
  src/apps/settings/modules/seelenweg/infra.tsx
  src/apps/settings/modules/shared/utils/app.ts
Due: js-linter

fix(#431): avoid overflow on new config button
  src/apps/settings/modules/appsConfigurations/infra/index.module.css
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
Due: js-linter

fix(media): incorrect media player display name
  src/background/modules/media/application.rs
Due: rust-linter, rust-code-check

fix(deprecated): warnings on deprecated code of antd
  src/apps/shared/components/OverflowTooltip/index.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
Due: js-linter

docs(readme): add theme preview
  documentation/images/theme_preview.png
  readme.md
Due: none

fix(toolbar): blind on change
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/state/application/mod.rs
Due: js-linter, rust-linter, rust-code-check

enh(icons): avoid overriding of system icon pack
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/background/restoration_and_migrations/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check

enh(tb): user module extend folder model for user folders
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/user/application.rs
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

fix(tb): user module preload
  src/background/modules/user/infrastructure.rs
Due: rust-linter, rust-code-check

chore(release): v2.0.13
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(tb): add compatibility for IconLoader
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/user/domain.rs
  src/background/modules/user/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check

Fixed some Russian translations
  src/apps/seelen_rofi/i18n/translations/ru.yml
  src/apps/settings/i18n/translations/ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

Oops, typo
  src/apps/settings/i18n/translations/ru.yml
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
