Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

chore(release): finish v2.7.4
  changelog.md
Due: none

chore(deps): remove unnecesary tauri plugins
  Cargo.lock
  Cargo.toml
  libs/core/.gitignore
  libs/core/deno.json
  libs/core/deno.lock
  libs/core/src/re-exports/tauri.ts
  package-lock.json
  src/Cargo.toml
  src/background/error.rs
  src/background/tauri_plugins.rs
  src/capabilities/settings_widget.json
  src/ui/svelte/media-popup/components/MediaPlayer.svelte
  src/ui/vanilla/entry-point/_ConsoleWrapper.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): start v2.7.5
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

build(deps): update discord-rich-presence
  Cargo.lock
  Cargo.toml
  src/background/utils/discord.rs
Due: rust-format, rust-linter

fix(widgets): evict per-monitor widgets when a display is disconnected
  src/background/app.rs
  src/background/modules/monitors/application.rs
  src/background/widgets/loader.rs
Due: rust-format, rust-linter

fix(virtual-desktops): stop window flashing when switching workspaces
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

fix(virtual-desktops): focus only the topmost window, none if all minimized
  src/background/virtual_desktops/mod.rs
Due: rust-format, rust-linter

fix(virtual-desktops): switch workspace on the monitor under the cursor
  src/background/virtual_desktops/cli.rs
Due: rust-format, rust-linter

feat(weg): add setting to toggle per-monitor dock auto-hide
  libs/core/src/state/settings/mod.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/seelenweg/infra.tsx
  src/ui/svelte/weg/state/settings.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(weg): hide each monitor's dock based on its own window, not global focus
  src/ui/svelte/weg/state/windows.svelte.ts
Due: ts-type-check, js-linter

i18n(weg): reword per-monitor auto-hide label and add CJK translations
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/i18n/translations/ja.yml
  src/ui/react/settings/i18n/translations/ko.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/react/settings/i18n/translations/zh-TW.yml
Due: none

fix(apps-menu): open on the monitor under the cursor, not primary
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: ts-type-check, js-linter

fix(dock): autohide on multimonitor
  changelog.md
  src/ui/svelte/fancy-toolbar/state/windows.svelte.ts
  src/ui/svelte/weg/state/windows.svelte.ts
Due: ts-type-check, js-linter

fix(wm): forcing layout when fullscreen on monitor
  changelog.md
  src/background/modules/apps/application/windows.rs
Due: rust-format, rust-linter

fix(dock): hidding while dragging items
  changelog.md
  src/static/themes/default/styles/weg.css
  src/ui/svelte/fancy-toolbar/components/Toolbar.svelte
  src/ui/svelte/fancy-toolbar/state/hidden.svelte.ts
  src/ui/svelte/weg/components/Dock.svelte
  src/ui/svelte/weg/components/items/MediaSession.svelte
  src/ui/svelte/weg/state/hidden.svelte.ts
Due: ts-type-check, js-linter

fix(vd): state while switching of workspaces
  changelog.md
  libs/core/src/state/workspaces/mod.rs
  package-lock.json
  src/background/utils/lock_free/sync_hash_map.rs
  src/background/utils/lock_free/traced_mutex.rs
  src/background/virtual_desktops/events.rs
  src/background/virtual_desktops/handlers.rs
  src/background/virtual_desktops/mod.rs
  src/ui/svelte/fancy-toolbar/state/getters.svelte.ts
  src/ui/svelte/fancy-toolbar/state/hidden.svelte.ts
  src/ui/svelte/wallpaper-manager/state.svelte.ts
  src/ui/svelte/weg/state/getters.svelte.ts
  src/ui/svelte/weg/state/hidden.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(weg): ui crashing by duplicated windows
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/windows.rs
  src/background/utils/lock_free/sync_vec.rs
Due: rust-format, rust-linter

enh(tooltips): input range
  changelog.md
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/shared/inputs.scss
  src/ui/svelte/flyouts/app/MediaDevices.svelte
  src/ui/svelte/media-popup/components/VolumeControl.svelte
  src/ui/svelte/quick-settings/components/MediaDevices.svelte
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: ts-type-check, js-linter

style: satisfy rustfmt for unsigned-build changes
  src/background/utils/integrity/checksums.rs
  src/build.rs
Due: rust-format, rust-linter

ci(release): skip Tauri updater signing on forks without a signing key
  .github/workflows/release_no_signed.yml
Due: none

fix(build): allow unsigned release builds so forks/self-builds can compile
  libs/utils/src/signature.rs
  src/background/utils/integrity/checksums.rs
  src/build.rs
Due: rust-format, rust-linter

ci(release): use a unique per-run release tag to avoid v-version collisions
  .github/workflows/release_no_signed.yml
Due: none

ci(release): skip store/updater/discord jobs when their secrets are absent
  .github/workflows/release_no_signed.yml
Due: none

feat(launch-placement): follow child processes and tolerate slow launches
  src/Cargo.toml
  src/background/modules/launch_placement.rs
Due: rust-format, rust-linter

debug(launch-placement): add trace logging to diagnose unmatched launches
  src/background/exposed.rs
  src/background/modules/launch_placement.rs
Due: rust-format, rust-linter

fix(launch-placement): use IApplicationActivationManager for packaged apps
  src/background/exposed.rs
Due: rust-format, rust-linter

style: satisfy rustfmt in launch_placement (keep condition on one line)
  src/background/modules/launch_placement.rs
Due: rust-format, rust-linter

fix(ui): don't mark widget focused on null/0 focus ids
  libs/ui/svelte/utils/signals.svelte.ts
Due: ts-type-check, js-linter

fix(widgets): recover from stale webview label on rapid suspend/resume
  src/background/modules/power/infrastructure.rs
  src/background/widgets/webview.rs
Due: rust-format, rust-linter

style: wrap set_position call to satisfy rustfmt
  src/background/modules/window_placement.rs
Due: rust-format, rust-linter

feat(windows): nudge new windows out of the shell-bar reserved area
  src/background/app.rs
  src/background/modules/mod.rs
  src/background/modules/window_placement.rs
Due: rust-format, rust-linter

feat(windows): launch apps on the monitor under the cursor
  src/background/app.rs
  src/background/exposed.rs
  src/background/modules/launch_placement.rs
  src/background/modules/mod.rs
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

style: keep window_placement imports on one line for rustfmt
  src/background/modules/window_placement.rs
Due: rust-format, rust-linter

enh(tb): bluetooth module
  changelog.md
  libs/core/src/system_state/bluetooth/build_enums.rs
  libs/core/src/system_state/bluetooth/build_low_energy_enums.rs
  libs/core/src/system_state/bluetooth/class_of_device.yml
  libs/core/src/system_state/bluetooth/class_of_device_enums.rs
  libs/core/src/system_state/bluetooth/enums.rs
  libs/core/src/system_state/bluetooth/low_energy_enums.rs
  libs/core/src/system_state/bluetooth/mod.rs
  libs/ui/svelte/utils/bluetoothIcons.ts
  libs/ui/svelte/utils/index.ts
  src/background/modules/radios/bluetooth/classic.rs
  src/background/modules/radios/bluetooth/low_energy.rs
  src/static/widgets/bluetooth-popup/plugin.js
  src/static/widgets/bluetooth-popup/toolbar-plugin.yml
  src/ui/svelte/bluetooth-popup/components/BluetoothDevice.svelte
  src/ui/svelte/fancy-toolbar/state/scopes.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(twm): move paused state to backend
  libs/core/src/state/wm_layout.rs
  src/background/widgets/window_manager/cli.rs
  src/background/widgets/window_manager/state_v2.rs
  src/ui/svelte/window-manager/layout/application.ts
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
