Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    pre-hook:
      priority: 3
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      priority: 5
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json
    post-hook:
      priority: 6
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    pre-hook:
      priority: 2
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/pre_hook.rs
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test
    post-hook:
      priority: 4
      glob: "**/*.rs"
      run: rust-script ./scripts/lefthook/post_hook.rs

ci(lib): update lib before run workflows
  .github/workflows/nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Update it.yml
  src/apps/toolbar/i18n/translations/it.yml
Due: none

chore(lang): improve italian translations
  src/apps/toolbar/i18n/translations/it.yml
Due: none

Update it.yml
  src/apps/settings/i18n/translations/it.yml
Due: none

Update it.yml
  src/apps/seelenweg/i18n/translations/it.yml
Due: none

Update it.yml
  src/apps/seelen_rofi/i18n/translations/it.yml
Due: none

enh(settings): add widgets list on mods tab
  Cargo.lock
  lefthook.yml
  package-lock.json
  package.json
  scripts/build_schemas.ts
  src/apps/settings/modules/Mods/infra.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/background/state/application/widgets.rs
  static/widgets/default_clock/index.css
  static/widgets/default_clock/index.html
  static/widgets/default_clock/index.js
  static/widgets/default_clock/metadata.yml
  static/widgets/demo.yml
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(lang): improve italian translations
  src/apps/settings/i18n/translations/it.yml
Due: none

chore(lang): improve italian translations
  src/apps/seelen_rofi/i18n/translations/it.yml
  src/apps/seelenweg/i18n/translations/it.yml
Due: none

enh(widget): add capabilities
  capabilities/general.json
  capabilities/general_window.json
  scripts/build.ts
  src/apps/widget_loader/index.ts
  src/apps/widget_loader/public/index.html
  src/apps/widget_loader/public/reset.css
  src/background/instance.rs
  src/background/main.rs
  src/background/widget_loader/mod.rs
  static/widgets/default_clock/index.css
  static/widgets/default_clock/index.html
  static/widgets/default_clock/index.js
  static/widgets/default_clock/metadata.yml
  static/widgets/demo.yml
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.9-rc.0
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

refactor(widgets): refactor identifiers implementation
  Cargo.lock
  Cargo.toml
  capabilities/general.json
  capabilities/launcher.json
  capabilities/migrated.json
  capabilities/toolbar.json
  capabilities/wall.json
  package-lock.json
  package.json
  src/apps/shared/ConsoleWrapper.ts
  src/apps/shared/styles.ts
  src/background/instance.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/state/application/mod.rs
  src/background/state/mod.rs
  src/background/utils/integrity.rs
  src/background/widget_loader/mod.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

build(incremental): restore incremental flag
  Cargo.toml
Due: none

refactor(events): start spliting event from struct lock
  changelog.md
  src/background/modules/media/application.rs
  src/background/modules/mod.rs
  src/background/modules/monitors/mod.rs
  src/background/seelen.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

refactor(monitors): improve settings by monitors
  changelog.md
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/settings/components/monitor/index.module.css
  src/apps/settings/components/monitor/index.tsx
  src/apps/settings/modules/ByMonitor/infra/index.module.css
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/instance.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/modules/monitors/mod.rs
  src/background/seelen.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(#294): issue when changing from wlan to lan
  src/background/modules/network/application/mod.rs
  src/background/modules/network/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(event): fix event name
  src/background/modules/media/application.rs
  src/background/modules/monitors/infrastructure.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(wm): not working
  changelog.md
  src/apps/seelen_wm_v2/app.tsx
  src/background/instance.rs
  src/background/modules/monitors/application.rs
  src/background/modules/tray/application.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/application/icons.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

refactor(events): improve event managers
  changelog.md
  src/background/hook.rs
  src/background/instance.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/media/application.rs
  src/background/modules/mod.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/domain.rs
  src/background/modules/monitors/infrastructure.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(slu-lib): update crate
  Cargo.lock
Due: none

chore(release): v2.0.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Update project.md
  documentation/project.md
Due: none

fix(settings): cancel and save buttons behaviors
  changelog.md
  package-lock.json
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/modules/cli/application/mod.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
  src/background/state/domain/settings.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

chore(release): v2.0.10
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

docs(#333): update project md
  documentation/project.md
Due: none

docs(security): add markdown file
  SECURITY.md
Due: none

enh(weg): async_force_set_foreground
  src/background/windows_api/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

ci(depencies): add dependabot file
  .github/dependabot.yml
Due: none

ci(slu-lib): add workflow to update dependency
  .github/workflows/slu-lib.yml
Due: none

ci(slu-lib): update workflow
  .github/workflows/slu-lib.yml
Due: none

ci(builds): update workflows
  .github/workflows/nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/slu-lib.yml
Due: none

enh(weg): add shortcut handling #281
  documentation/schemas/settings.schema.json
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shortcuts/infrastructure.tsx
  src/background/seelen.rs
  src/background/seelen_weg/cli.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mocks/seelen.weg.ahk
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

revert(win_api): revert used functionality improvement
  src/background/windows_api/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook

fix(win_api): merge resolve issue
  src/background/windows_api/mod.rs
Due: rust-linter, pre-hook, rust-code-check, build-schemas, post-hook
