Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

enh(logs): improve ui logging of objects
  package-lock.json
  package.json
  src/ui/react/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/vanilla/entry-point/ConsoleWrapper.ts
Due: ts-type-check, js-linter

Update Turkish translations for UI terms
  src/ui/react/weg/i18n/translations/tr.yml
Due: none

refactor(dnd): tb and toolbar
  .gitignore
  libs/ui/react/utils/DndKit/utils.ts
  package-lock.json
  package.json
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/settings/components/SortableSelector/index.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/main/ItemsContainer.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/main/mappins.tsx
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/weg/modules/bar/DraggableItem.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/react/weg/modules/bar/index.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/svelte/apps-menu/components/PinnedView.svelte
Due: ts-type-check, js-linter

fix(msix): app failing on startup
  changelog.md
  scripts/bundle.msix.ts
Due: ts-type-check, js-linter

chore(release): finish v2.5.1
  changelog.md
Due: none

chore(release): start v2.5.2
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  scripts/versionish.ts
  src/Cargo.toml
Due: ts-type-check, js-linter

ci(discord): release post on discord
  .github/workflows/discord-notify.yml
  .github/workflows/release.yml
Due: none

feat(widgets): widget security layer for exposed commands
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/exposed.rs
  src/background/i18n/en.yml
  src/background/modules/notifications/infrastructure.rs
  src/background/widgets/mod.rs
  src/background/widgets/permissions.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/developer/application.ts
  src/ui/react/settings/modules/developer/infra.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(lang): update turkish translations (#1413)
  src/ui/react/weg/i18n/translations/tr.yml
Due: none

chore(deps): remove unused deps
  package-lock.json
  package.json
  scripts/build/builders/svelte.ts
  scripts/build/steps/icons.ts
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/power-menu/app.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
Due: ts-type-check, js-linter

enh(dialogs): show widget name instead of ids
  src/background/i18n/en.yml
  src/background/widgets/loader.rs
  src/background/widgets/permissions.rs
Due: rust-format, rust-linter

enh(svc): use shell execute api instead cmd
  libs/core/src/state/weg_items.rs
  src/background/utils/integrity/mod.rs
  src/background/utils/winver.rs
  src/service/app_management.rs
  src/service/enviroment.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

fix(tb): infinity switching loop on drag of items
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/shared/state/items.ts
Due: ts-type-check, js-linter

enh(svc): can not start the app correctly from svc
  src/background/utils/integrity/mod.rs
  src/service/app_management.rs
  src/service/windows_api/mod.rs
Due: rust-format, rust-linter

enh(svc): not closing on consecutive app crashes
  src/service/app_management.rs
  src/service/main.rs
Due: rust-format, rust-linter

ci(nightly): remove fixed bundle from nightly builds
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

fix(bg): multimonitor issues on drivers off
  changelog.md
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

fix(widget): power menu closing instanly
  changelog.md
  src/background/widgets/loader.rs
  src/ui/svelte/power-menu/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(widgets): loading times
  AGENTS.md
  changelog.md
  src/ui/react/settings/modules/shared/signals.ts
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/resources.ts
  src/ui/react/settings/state/system.ts
  src/ui/react/toolbar/modules/shared/state/system.ts
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/react/wallpaper_manager/modules/shared/state.ts
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/react/weg/modules/shared/state/system.ts
  src/ui/react/weg/modules/shared/state/windows.ts
  src/ui/svelte/apps-menu/state/knownFolders.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/keyboard-selector/state.svelte.ts
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/notifications/state.svelte.ts
  src/ui/svelte/power-menu/state.svelte.ts
  src/ui/svelte/quick-settings/state.svelte.ts
  src/ui/svelte/task-switcher/state.svelte.ts
  src/ui/svelte/user-menu/state/knownFolders.svelte.ts
  src/ui/svelte/user-menu/state/mod.svelte.ts
  src/ui/svelte/window_manager/state.svelte.ts
  src/ui/svelte/workspaces-viewer/state.svelte.ts
Due: ts-type-check, js-linter

fix(menu): crash on search
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
Due: none

enh(widgets): reduce OOM errors
  src/background/widgets/loader.rs
  src/background/widgets/webview.rs
  src/ui/vanilla/entry-point/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(apps-menu): make it no lazy
  src/background/widgets/manager.rs
  src/static/widgets/apps-menu/metadata.yml
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(settings): improve ux on resource lists
  changelog.md
  src/background/state/infrastructure.rs
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/IconPacks.tsx
  src/ui/react/settings/modules/resources/Plugins.tsx
  src/ui/react/settings/modules/resources/ResourceCard.tsx
  src/ui/react/settings/modules/resources/SoundPacks.tsx
  src/ui/react/settings/modules/resources/Theme/AllView.tsx
  src/ui/react/settings/modules/resources/Wallpapers/AllView.tsx
  src/ui/react/settings/modules/resources/Widget/AllView.tsx
  src/ui/react/settings/modules/resources/infra.module.css
  src/ui/react/settings/modules/resources/infra.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(dock): replace context menu by new implementation
  changelog.md
  libs/core/src/state/widget/context_menu.rs
  src/background/widgets/mod.rs
  src/ui/react/toolbar/modules/item/infra/ContextMenu.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/weg/components/WithContextMenu.tsx
  src/ui/react/weg/modules/bar/index.tsx
  src/ui/react/weg/modules/bar/menu.tsx
  src/ui/react/weg/modules/item/infra/File.tsx
  src/ui/react/weg/modules/item/infra/MediaSession.tsx
  src/ui/react/weg/modules/item/infra/Menu.tsx
  src/ui/react/weg/modules/item/infra/ShowDesktop.tsx
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(settings): opening links on webview
  changelog.md
  libs/ui/react/components/ResourceText/index.tsx
  src/ui/react/settings/modules/resources/ResourceCard.tsx
  src/ui/react/settings/modules/resources/Theme/View.tsx
  src/ui/react/settings/modules/resources/Wallpapers/View.tsx
  src/ui/react/settings/modules/resources/Widget/View.tsx
  src/ui/react/settings/modules/resources/infra.module.css
Due: ts-type-check, js-linter

enh(perf): limit the deep of recursive reading of common folders
  src/background/modules/user/application.rs
Due: rust-format, rust-linter

feat(apps-menu): optional acrylic effect
  changelog.md
  src/static/themes/default/styles/apps-menu.scss
  src/static/widgets/apps-menu/metadata.yml
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/state/config.svelte.ts
Due: ts-type-check, js-linter

fix(apps-menu): freeze on search
  changelog.md
  src/static/themes/default/shared/inputs.scss
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
Due: none

fix(context-menu): sub-menus not following alignments
  src/ui/svelte/context-menu/Submenu.svelte
Due: none

fix(translations): corrected Japanese translations.
  src/background/i18n/ja.yml
  src/ui/react/settings/i18n/translations/ja.yml
  src/ui/react/toolbar/i18n/translations/ja.yml
  src/ui/react/wallpaper_manager/i18n/translations/ja.yml
  src/ui/react/weg/i18n/translations/ja.yml
  src/ui/svelte/apps-menu/i18n/translations/ja.yml
  src/ui/svelte/bluetooth-popup/i18n/translations/ja.yml
  src/ui/svelte/calendar-popup/i18n/translations/ja.yml
  src/ui/svelte/media-popup/i18n/translations/ja.yml
  src/ui/svelte/network-popup/i18n/translations/ja.yml
  src/ui/svelte/power-menu/i18n/translations/ja.yml
  src/ui/svelte/user-menu/i18n/translations/ja.yml
Due: none

chore(lang): corrected Japanese translations. (#1425)
  src/background/i18n/ja.yml
  src/ui/react/settings/i18n/translations/ja.yml
  src/ui/react/toolbar/i18n/translations/ja.yml
  src/ui/react/wallpaper_manager/i18n/translations/ja.yml
  src/ui/react/weg/i18n/translations/ja.yml
  src/ui/svelte/apps-menu/i18n/translations/ja.yml
  src/ui/svelte/bluetooth-popup/i18n/translations/ja.yml
  src/ui/svelte/calendar-popup/i18n/translations/ja.yml
  src/ui/svelte/media-popup/i18n/translations/ja.yml
  src/ui/svelte/network-popup/i18n/translations/ja.yml
  src/ui/svelte/power-menu/i18n/translations/ja.yml
  src/ui/svelte/user-menu/i18n/translations/ja.yml
Due: none

fix(apps-menu): drag and drop
  changelog.md
  package-lock.json
  package.json
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
Due: none

chore(release): finish v2.5.2
  changelog.md
Due: none

chore(release): start v2.5.3
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(apps-menu): can not click items
  changelog.md
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  src/service/logger.rs
  src/static/themes/default/styles/apps-menu.scss
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
Due: rust-format, rust-linter

fix(app): crashing on new users
  changelog.md
  src/background/app.rs
  src/background/main.rs
  src/background/migrations.rs
  src/background/state/application/mod.rs
Due: rust-format, rust-linter

refactor(logs): improvements on log system
  Cargo.lock
  Cargo.toml
  libs/core/src/handlers/commands.rs
  src/Cargo.toml
  src/background/error.rs
  src/background/exposed.rs
  src/background/logger.rs
  src/background/main.rs
  src/background/tauri_plugins.rs
  src/capabilities/general.json
  src/service/main.rs
  src/ui/vanilla/entry-point/_ConsoleWrapper.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.5.3
  changelog.md
Due: none

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
