Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

fix(shortcuts): rarely stopping working
  Cargo.lock
  changelog.md
  src/service/hotkeys.rs
Due: rust-format, rust-linter

fix(apps-menu): not opening on shortcut
  Cargo.lock
  src/background/modules/user/application.rs
Due: rust-format, rust-linter

enh(session): improve auth code
  src/background/cli/application/uri.rs
  src/background/session/application.rs
  src/background/state/application/icons.rs
Due: rust-format, rust-linter

fix(apps-menu): not opening on shortcut
  Cargo.lock
  src/ui/svelte/apps-menu/components/FolderItem.svelte
Due: none

refactor(themes): default themes
  documentation/theme_guidelines.md
  libs/core/src/state/theme/theming.ts
  libs/ui/react/components/BackgroundByLayers/infra.module.css
  libs/ui/react/components/BackgroundByLayers/infra.tsx
  src/static/themes/animated-start-icon/metadata.yml
  src/static/themes/animated-start-icon/seelen/weg.scss
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/shared/buttons.scss
  src/static/themes/default/shared/index.scss
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/bluetooth-popup.scss
  src/static/themes/default/styles/calendar-popup.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/media-popup.scss
  src/static/themes/default/styles/network-popup.scss
  src/static/themes/default/styles/notifications.scss
  src/static/themes/default/styles/tray-menu.scss
  src/static/themes/default/styles/user-menu.scss
  src/static/themes/default/styles/weg.css
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/weg/modules/bar/index.tsx
  src/ui/react/weg/modules/item/infra/RecycleBin.tsx
  src/ui/react/weg/modules/item/infra/ShowDesktop.tsx
  src/ui/react/weg/modules/item/infra/StartMenu.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/svelte/bluetooth-popup/app.svelte
  src/ui/svelte/calendar-popup/app.svelte
  src/ui/svelte/context-menu/app.svelte
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/keyboard-selector/app.svelte
  src/ui/svelte/media-popup/app.svelte
  src/ui/svelte/network-popup/app.svelte
  src/ui/svelte/notifications/app.svelte
  src/ui/svelte/quick-settings/app.svelte
  src/ui/svelte/system-tray/app.svelte
  src/ui/svelte/user-menu/app.svelte
  src/ui/svelte/user-menu/components/UserProfile.svelte
Due: ts-type-check, js-linter

fix(lib): plugins without default deserialization
  libs/core/src/state/plugin/mod.rs
  libs/core/src/state/plugin/value.rs
  libs/core/src/utils/mod.rs
  src/background/widgets/weg/cli.rs
  src/ui/react/weg/modules/shared/state/windows.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(weg): not auto-hidding
  changelog.md
  src/ui/react/toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/modules/shared/state/hidden.ts
Due: ts-type-check, js-linter

feat(tooltip): tooltip widget
  changelog.md
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/core/src/utils/async.ts
  libs/core/src/utils/mod.ts
  src/background/widgets/webview.rs
  src/static/themes/default/metadata.yml
  src/static/themes/default/styles/tooltip.scss
  src/static/themes/default/styles/weg.css
  src/static/widgets/tooltip/i18n/description.yml
  src/static/widgets/tooltip/i18n/display_name.yml
  src/static/widgets/tooltip/metadata.yml
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationPreview.tsx
  src/ui/react/weg/styles/global.css
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/tooltip/app.svelte
  src/ui/svelte/tooltip/index.ts
  src/ui/svelte/tooltip/public/index.html
  src/ui/svelte/tooltip/state.svelte.ts
  src/ui/vanilla/entry-point/ConsoleWrapper.ts
  src/ui/vanilla/entry-point/MainSetup.ts
  src/ui/vanilla/entry-point/MemoryLeakWorkaround.ts
  src/ui/vanilla/entry-point/PreventDefaults.ts
  src/ui/vanilla/entry-point/UxImprovements.ts
  src/ui/vanilla/entry-point/_ConsoleWrapper.ts
  src/ui/vanilla/entry-point/_LocalStorage.ts
  src/ui/vanilla/entry-point/_tauri.ts
  src/ui/vanilla/entry-point/index.ts
  src/ui/vanilla/entry-point/setup.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(tooltip): use title and aria-label attributes as tooltip
  src/ui/react/settings/modules/resources/Widget/AllView.tsx
  src/ui/react/toolbar/i18n/translations/en.yml
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/main/CornerAction.tsx
  src/ui/vanilla/entry-point/UxImprovements.ts
Due: ts-type-check, js-linter

fix(popups): overflowing on auto resize
  changelog.md
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  src/ui/svelte/tooltip/state.svelte.ts
Due: ts-type-check, js-linter

enh(dock): better tooltips
  src/static/themes/default/styles/tooltip.scss
  src/ui/react/weg/i18n/translations/en.yml
  src/ui/react/weg/modules/bar/DraggableItem.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
Due: ts-type-check, js-linter

enh(tb): items state and sorting
  changelog.md
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/toolbar/modules/main/ItemsContainer.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/shared/state/default.ts
  src/ui/react/toolbar/modules/shared/state/items.ts
Due: ts-type-check, js-linter

fix(tb): visible separators
  src/static/plugins/tb_workspaces_dotted/plugin/template.js
  src/static/plugins/tb_workspaces_named/plugin/template.js
  src/static/plugins/tb_workspaces_numbered/plugin/template.js
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/shared/state/items.ts
  src/ui/react/toolbar/styles/global.css
Due: ts-type-check, js-linter

feat(api): add clipboard module
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/settings/shortcuts.rs
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/sizing.ts
  libs/core/src/system_state/clipboard.rs
  libs/core/src/system_state/mod.rs
  src/Cargo.toml
  src/background/exposed.rs
  src/background/modules/clipboard/application.rs
  src/background/modules/clipboard/infrastructure.rs
  src/background/modules/clipboard/mod.rs
  src/background/modules/mod.rs
  src/background/windows_api/mod.rs
  src/service/hotkeys.rs
  src/static/themes/default/shared/inputs.scss
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/power-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

ci(lib): allow publish next versions of the libary
  .github/workflows/publish-core.yml
Due: none

chore(deps): npm audit
  package-lock.json
Due: none

enh(lib): export used css to the core library
  libs/core/deno.json
  libs/core/scripts/build_npm.ts
  libs/core/src/state/widget/positioning.ts
  libs/core/styles/colors.css
  libs/core/styles/reset.css
  libs/core/styles/spacings.css
  scripts/PalletteGenerator.ts
  src/static/themes/default/shared/index.scss
  src/static/themes/default/styles/notifications.scss
  src/ui/globals.d.ts
  src/ui/react/popup/index.tsx
  src/ui/react/settings/index.tsx
  src/ui/react/settings/styles/RichText.css
  src/ui/react/settings/styles/global.css
  src/ui/react/toolbar/index.tsx
  src/ui/react/weg/index.tsx
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/bluetooth-popup/index.ts
  src/ui/svelte/calendar-popup/index.ts
  src/ui/svelte/context-menu/index.ts
  src/ui/svelte/flyouts/index.ts
  src/ui/svelte/keyboard-selector/index.ts
  src/ui/svelte/media-popup/index.ts
  src/ui/svelte/network-popup/index.ts
  src/ui/svelte/notifications/index.ts
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/quick-settings/index.ts
  src/ui/svelte/system-tray/index.ts
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/tooltip/index.ts
  src/ui/svelte/user-menu/index.ts
  src/ui/svelte/wallpaper_manager/index.ts
  src/ui/svelte/window_manager/index.ts
  src/ui/svelte/workspaces-viewer/index.ts
  src/ui/vanilla/entry-point/MainSetup.ts
  src/ui/vanilla/entry-point/index.ts
  src/ui/vanilla/third_party/index.ts
  tsconfig.json
Due: ts-type-check, js-linter

fix(flyouts): showing old notifications
  changelog.md
  src/ui/svelte/flyouts/app.svelte
Due: none

ci(lib): fix publish
  libs/core/deno.json
Due: none

ci(lib): fix publish unsuported file extension
  libs/core/deno.json
Due: none

refactor(shortcuts): definition and settings
  Cargo.lock
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/mod.rs
  libs/core/src/state/settings/by_widget.rs
  libs/core/src/state/settings/mod.rs
  libs/core/src/state/settings/shortcuts.rs
  libs/core/src/state/widget/mod.rs
  libs/slu-ipc/src/messages.rs
  src/background/app.rs
  src/background/resources/commands.rs
  src/background/virtual_desktops/cli.rs
  src/service/cli/processing.rs
  src/service/hotkeys.rs
  src/static/widgets/apps-menu/metadata.yml
  src/static/widgets/settings/metadata.yml
  src/static/widgets/task-switcher/metadata.yml
  src/static/widgets/wallpaper-manager/metadata.yml
  src/static/widgets/weg/metadata.yml
  src/static/widgets/window-manager/metadata.yml
  src/static/widgets/workspaces-viewer/metadata.yml
  src/ui/react/popup/app.tsx
  src/ui/react/settings/components/SettingsBox/index.module.css
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/resources/Widget/application.ts
  src/ui/react/settings/modules/shortcuts/application.ts
  src/ui/react/settings/modules/shortcuts/infrastructure.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(dates): change dates to unix ms
  libs/core/src/system_state/clipboard.rs
  libs/core/src/system_state/notification.rs
  libs/ui/svelte/utils/index.ts
  src/background/modules/clipboard/application.rs
  src/background/modules/notifications/application.rs
  src/background/windows_api/types.rs
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/notifications/components/Notification.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(dock): dark mode default theme
  src/static/themes/default/styles/weg.css
Due: none

fix(apps-menu): dark mode default theme
  src/static/themes/default/styles/apps-menu.scss
Due: none

feat(backups): implement settings backup system
  src/background/backups/application.rs
  src/background/backups/infrastructure.rs
  src/background/backups/mod.rs
  src/background/main.rs
  src/background/session/application.rs
  src/background/state/infrastructure.rs
Due: rust-format, rust-linter

fix(session): not inmediately refreshed on app restart
  src/background/session/application.rs
Due: rust-format, rust-linter

fix(widgets): not loading/unloading shortcuts on change
  src/background/resources/emitters.rs
Due: rust-format, rust-linter

enh(downloads): error message
  src/background/cli/application/uri.rs
Due: rust-format, rust-linter

fix(widgets): can not trigger self widgets on published resource
  libs/core/src/state/settings/shortcuts.rs
Due: rust-format, rust-linter

fix(backup): not working
  libs/core/src/state/mod.rs
  src/background/backups/application.rs
  src/background/telemetry.rs
  src/background/widgets/mod.rs
Due: rust-format, rust-linter

fix(resources): not updating memory after file deletion
  changelog.md
  src/background/backups/application.rs
  src/background/resources/mod.rs
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
Due: rust-format, rust-linter

chore(release): finish v2.5.8
  changelog.md
Due: none

chore(release): start v2.5.9
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(media): outputs devices not being loaded correctly
  changelog.md
  src/background/modules/media/devices/application.rs
  src/background/modules/media/devices/domain.rs
Due: rust-format, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
