Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

chore(lang): improve Chinese translations for consistency and clarity (#1254)
  src/background/i18n/zh-CN.yml
  src/static/plugins/tb_default_focused_app.yml
  src/static/plugins/tb_default_focused_app_title.yml
  src/static/plugins/wm_bsp.yml
  src/static/plugins/wm_grid.yml
  src/static/plugins/wm_tall.yml
  src/static/plugins/wm_wide.yml
  src/static/themes/default/i18n/display_name.yml
  src/ui/react/settings/i18n/translations/zh-CN.yml
  src/ui/react/toolbar/i18n/translations/zh-CN.yml
  src/ui/react/weg/i18n/translations/zh-CN.yml
  src/ui/svelte/power-menu/i18n/translations/zh-CN.yml
Due: none

refactor(tb): remove redux
  libs/ui/react/utils/StateBuilder.ts
  package-lock.json
  package.json
  src/static/widgets/network-popup/toolbar-plugin.yml
  src/ui/react/toolbar/index.tsx
  src/ui/react/toolbar/modules/item/app/hooks/useItemScope.ts
  src/ui/react/toolbar/modules/shared/state/global.ts
  src/ui/react/toolbar/modules/shared/state/scope.ts
  src/ui/react/toolbar/modules/shared/store/app.ts
  src/ui/react/toolbar/modules/shared/store/domain.ts
  src/ui/react/toolbar/modules/shared/store/infra.ts
Due: ts-type-check, js-linter

chore(agents): redo agents.md file
  .claude/settings.local.json
  AGENTS.md
Due: none

fix(brightness): no change events
  Cargo.lock
  Cargo.toml
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/system_state/monitors.rs
  src/Cargo.toml
  src/background/error.rs
  src/background/exposed.rs
  src/background/modules/monitors/brightness/application.rs
  src/background/modules/monitors/brightness/domain.rs
  src/background/modules/monitors/brightness/infrastructure.rs
  src/background/modules/monitors/brightness/mod.rs
  src/background/modules/monitors/infrastructure.rs
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/quick-settings/components/BrightnessControl.svelte
  src/ui/svelte/quick-settings/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(theme): corrupted default theme
  src/static/themes/default/i18n/display_name.yml
Due: none

feat(user): add Xbox Gamertag as optional display name source
  libs/core/src/system_state/user.rs
  src/background/modules/user/application.rs
  src/static/widgets/user/metadata.yml
  src/static/widgets/user/toolbar-plugin.yml
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/toolbar/modules/shared/state/scope.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(widgets): auto positioning and resizing
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/positioning.ts
  libs/core/src/state/widget/sizing.ts
  src/static/widgets/flyouts/metadata.yml
  src/ui/svelte/flyouts/state/placement.svelte.ts
Due: ts-type-check, js-linter

enh(flyouts): add notification flyout
  src/static/themes/default/styles/flyouts.css
  src/static/widgets/flyouts/metadata.yml
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/state/config.svelte.ts
  src/ui/svelte/flyouts/state/mod.svelte.ts
Due: ts-type-check, js-linter

fix(popups): placement
  libs/core/src/state/widget/mod.ts
  src/ui/react/popup/app.tsx
  src/ui/react/settings/index.tsx
  src/ui/react/toolbar/modules/item/app/services/widgetTrigger.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/task-switcher/state.svelte.ts
  src/ui/svelte/workspaces-viewer/index.ts
Due: ts-type-check, js-linter

feat(user): add Xbox Gamertag as optional display name source (#1370)
  libs/core/src/system_state/user.rs
  src/background/modules/user/application.rs
  src/static/widgets/user/metadata.yml
  src/static/widgets/user/toolbar-plugin.yml
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/toolbar/modules/shared/state/scope.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(settings): add copy button
  src/ui/react/settings/modules/IconPackEditor/index.tsx
Due: ts-type-check, js-linter

enh(apps-menu): optimize search
  src/background/modules/user/application.rs
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
Due: rust-format, rust-linter

fix(bg): missmatch between monitors interfaces
  changelog.md
  src/background/app_instance.rs
  src/background/modules/monitors/application.rs
  src/background/modules/monitors/domain.rs
  src/background/windows_api/monitor/brightness.rs
  src/background/windows_api/monitor/mod.rs
Due: rust-format, rust-linter

Update copyright year to 2026
  README.md
Due: none

chore(deps): rust deps
  Cargo.lock
  Cargo.toml
  libs/core/Cargo.toml
  scripts/bundle.msix.ts
  src/Cargo.toml
  src/splash/co.rs
  src/splash/main.rs
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(deps): tauri
  Cargo.lock
  Cargo.toml
  libs/core/deno.json
  libs/core/deno.lock
  package-lock.json
  package.json
Due: none

enh(tb): state saving
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  src/background/migrations.rs
  src/background/state/application/mod.rs
  src/background/state/application/toolbar_items.rs
  src/background/state/application/weg_items.rs
  src/background/state/infrastructure.rs
  src/background/utils/constants.rs
  src/capabilities/settings_widget.json
  src/capabilities/toolbar.json
  src/capabilities/weg.json
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/toolbar/modules/shared/state/default.ts
  src/ui/react/toolbar/modules/shared/state/items.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(popups): not focused on first show
  libs/core/src/state/widget/mod.ts
  src/capabilities/general.json
  src/ui/svelte/task-switcher/state.svelte.ts
Due: ts-type-check, js-linter

fix(tb): hidden but still collition
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/shared/state/windows.ts
Due: ts-type-check, js-linter

fix(widgets): lossing focus on reload
  libs/core/src/state/widget/mod.ts
  src/ui/vanilla/entry-point/index.ts
Due: ts-type-check, js-linter

fix(widgets): reload time
  src/ui/vanilla/entry-point/index.ts
Due: ts-type-check, js-linter

fix(widgets): undesired focus on wallpaper
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  src/ui/react/toolbar/app.tsx
  src/ui/react/wallpaper_manager/app.tsx
  src/ui/react/wallpaper_manager/index.tsx
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/index.ts
  src/ui/svelte/task-switcher/App.svelte
  src/ui/svelte/task-switcher/index.ts
Due: ts-type-check, js-linter

chore(readme): update copyright year (#1374)
  README.md
Due: none

ci(release): update workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

enh(tb): re-renders
  libs/core/src/lib.ts
  package-lock.json
  src/background/widgets/webview.rs
  src/ui/react/toolbar/modules/item/app/hooks/scope.ts
  src/ui/react/toolbar/modules/item/app/hooks/useItemScope.ts
  src/ui/react/toolbar/modules/item/infra/ContextMenu.tsx
  src/ui/react/toolbar/modules/item/infra/EvaluatedComponents.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/toolbar/modules/main/CornerAction.tsx
  src/ui/react/toolbar/modules/main/ItemsContainer.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/react/toolbar/modules/main/mappins.tsx
  src/ui/react/toolbar/modules/shared/state/global.ts
  src/ui/react/toolbar/modules/shared/state/lazy.ts
  src/ui/react/toolbar/modules/shared/state/system.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(bg): betteries state not being updated
  src/background/modules/power/application.rs
  src/background/modules/power/infrastructure.rs
Due: rust-format, rust-linter

fix(settings): not reseting ui state on cancel changes
  src/ui/react/settings/components/navigation/index.tsx
  src/ui/react/settings/modules/resources/Widget/ConfigRenderer.tsx
Due: ts-type-check, js-linter

chore(release): finish v2.5.0
  changelog.md
Due: none

ci(release): add needed permission
  .github/workflows/release.yml
Due: none

ci(release): fix workflow
  .github/workflows/release.yml
Due: none

ci(release): fix workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci(deploy): fixing workflows try 7
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

chore(license): update license name
  CONTRIBUTING
  libs/core/LICENSE
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(lib): slu widgets library
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  libs/core/Cargo.toml
  libs/core/LICENSE
  libs/core/deno.json
  libs/core/readme.md
  libs/core/src/state/widget/sizing.ts
  src/ui/react/settings/modules/WindowManager/main/infra/Animations.tsx
Due: ts-type-check, js-linter

chore(release): start v2.5.1
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

enh(widgets): add liveness prove
  changelog.md
  libs/slu-ipc/src/app.rs
  libs/slu-ipc/src/launcher.rs
  libs/slu-ipc/src/lib.rs
  libs/slu-ipc/src/service.rs
  libs/ui/utils.ts
  src/background/widgets/loader.rs
  src/ui/vanilla/entry-point/_tauri.ts
  src/ui/vanilla/entry-point/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter
