Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check

js-linter:
  priority: 1
  run: npm run lint

rust-linter:
  priority: 2
  run: cargo fmt -- --check

rust-code-check:
  priority: 4
  run: cargo clippy -- -D warnings

fix(icons): not showing save button
  changelog.md
  src/apps/settings/modules/shared/store/app/reducer.ts
Due: js-linter

refactor(settings): move bundled widget settings of place
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wm_v2/modules/shared/store/app.ts
  src/apps/seelen_wm_v2/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/WindowManager/main/app.ts
  src/apps/settings/modules/fancyToolbar/app.ts
  src/apps/settings/modules/seelenweg/app.ts
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/shared.interfaces.ts
Due: js-linter, rust-linter, rust-code-check

refactor(settings): move bundled widget settings of place (#486)
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wm_v2/modules/shared/store/app.ts
  src/apps/seelen_wm_v2/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/WindowManager/main/app.ts
  src/apps/settings/modules/fancyToolbar/app.ts
  src/apps/settings/modules/seelenweg/app.ts
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/state/application/mod.rs
  src/background/state/application/settings.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/shared.interfaces.ts
Due: js-linter, rust-linter, rust-code-check

refactor(lang): use lang list of library
  scripts/bundle.msix.ts
  scripts/translate.ts
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelenweg/i18n/index.ts
  src/apps/settings/i18n/index.ts
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/shared/index.ts
  src/apps/shared/lang.ts
  src/apps/toolbar/i18n/index.ts
  static/widgets/demo.yml
  static/widgets/launcher.yml
  static/widgets/toolbar.yml
  static/widgets/wallpaper-manager.yml
  static/widgets/weg.yml
  static/widgets/window-manager.yml
Due: js-linter

docs(changelog): add missing info
  changelog.md
Due: none

enh(user): find pws less solution for SID extraction
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
Due: rust-linter, rust-code-check

fix(start): errors on start after fresh install
  src/background/seelen_wall/mod.rs
  src/background/state/application/toolbar_items.rs
Due: rust-linter, rust-code-check

feat(tb): user module
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/user/infra/Module.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/modules/power/infrastructure.rs
  src/background/modules/user/domain.rs
  static/plugins/tb_default_user_folder.yml
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check

fix(tb): rebase issue
  src/background/modules/user/domain.rs
Due: rust-linter, rust-code-check

refactor(user): rebase
  src/apps/toolbar/modules/user/infra/FilePreview.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/modules/user/domain.rs
Due: js-linter, rust-linter, rust-code-check

feat(user): add user view folder
  src/apps/toolbar/modules/user/infra/FilePreview.tsx
  src/apps/toolbar/modules/user/infra/Module.tsx
  src/apps/toolbar/modules/user/infra/UserFolder.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
Due: js-linter

enh(user): added power & seelen settings part I
  src/apps/toolbar/modules/user/infra/UserHome.tsx
Due: js-linter

enh(user): seelen settings view
  src/apps/toolbar/modules/user/infra/ThemeTool.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
Due: js-linter

fix(user): 0 item in vec fix and theme tool migration
  src/apps/toolbar/modules/user/infra/ThemeTool.tsx
  src/background/modules/user/application.rs
Due: js-linter, rust-linter, rust-code-check

fix(crash): on fresh windows system
  changelog.md
  src/background/modules/cli/mod.rs
  src/background/utils/pwsh.rs
Due: rust-linter, rust-code-check

fix(weg): no updating pinned items paths
  changelog.md
  src/background/modules/uwp/domain.rs
  src/background/modules/uwp/mod.rs
  src/background/state/application/weg_items.rs
Due: rust-linter, rust-code-check

fix(tb): unremovable workspace module
  changelog.md
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/app.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter

docs(changelog): add missing items
  changelog.md
Due: none

enh(service): avoid elevation prompt after the first time
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
  src/service/cli.rs
  src/service/main.rs
  src/service/task_scheduler.rs
Due: rust-linter, rust-code-check

fix(cli): not working
  src/background/main.rs
  src/background/modules/cli/mod.rs
Due: rust-linter, rust-code-check

enh(user): history & various fixies & default style
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/apps/toolbar/modules/user/infra/UserFolder.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/application_history/application.rs
  src/background/modules/application_history/hooks.rs
  src/background/modules/application_history/infrastructure.rs
  src/background/modules/application_history/mod.rs
  src/background/modules/mod.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/system/mod.rs
  static/plugins/tb_default_focused_app.yml
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check

feat(deepl): add translations with deepl
  package-lock.json
  package.json
  scripts/translate/constants.ts
  scripts/translate/mod.ts
  src/apps/settings/i18n/translations/es.yml
Due: js-linter

feat(deepl): add translations with deepl
  scripts/translate/constants.ts
  scripts/translate/mod.ts
Due: js-linter

chore(user): cargo + package
  Cargo.lock
  package-lock.json
  package.json
Due: none

fix(rect): cargo check errors
  src/background/windows_api/monitor.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

enh(lang): auto delete obsolete keys
  scripts/translate/mod.ts
Due: js-linter

fix(user): rollback, null handling, CRLF, minor style issue, translation
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  src/background/modules/power/infrastructure.rs
  static/plugins/tb_default_focused_app.yml
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check

fix(tb): workspaces module
  scripts/translate/mod.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/styles/global.css
  static/themes/default/theme.toolbar.css
Due: js-linter

fix(tb): workspaces dotted module margins
  static/themes/default/theme.toolbar.css
Due: none

fix(dock): add missing icon
  src/apps/seelenweg/modules/bar/menu.tsx
Due: js-linter

fix(user): history view count extender style
  src/apps/toolbar/modules/user/infra/UserHome.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

enh(history): better name handling
  src/background/modules/application_history/hooks.rs
Due: rust-linter, rust-code-check

fix(history): event propagation improvement
  src/background/modules/application_history/application.rs
Due: rust-linter, rust-code-check

enh(tb): icon generation for focused app
  src/apps/toolbar/modules/item/infra/Inner.tsx
  static/plugins/tb_default_focused_app.yml
Due: js-linter

fix(tb): optional umid
  src/apps/toolbar/modules/item/infra/Inner.tsx
Due: js-linter

enh(themes): update folder structure
  documentation/themes.md
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/application/themes.rs
  static/themes/default/seelen/fancy-toolbar.css
  static/themes/default/seelen/launcher.css
  static/themes/default/seelen/wallpaper-manager.css
  static/themes/default/seelen/weg.css
  static/themes/default/seelen/window-manager.css
Due: rust-linter, rust-code-check

fix(tb): infinity migration
  src/background/restoration_and_migrations/mod.rs
  src/background/utils/constants.rs
Due: rust-linter, rust-code-check

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
