Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

feat(icons): allow custom pinned folder icon
  src/apps/seelenweg/index.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/seelenweg/modules/shared/utils/app.ts
  src/apps/seelenweg/modules/shared/utils/domain.ts
  src/apps/seelenweg/modules/shared/utils/infra.ts
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/apps/shared/components/Icon/index.module.css
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/index.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/shared/utils/infra.ts
  src/apps/toolbar/modules/user/infra/UserProfile.tsx
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  static/icons/folder.svg
  static/themes/default/seelen/weg.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): username for local accounts
  changelog.md
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

refactor(power): improve code quality
  src/apps/toolbar/modules/Power/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/context.rs
  src/background/error_handler.rs
  src/background/main.rs
  src/background/modules/language/application.rs
  src/background/modules/language/domain.rs
  src/background/modules/language/infrastructure.rs
  src/background/modules/power/application.rs
  src/background/modules/power/domain.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/power/mod.rs
  src/background/seelen.rs
  src/background/system/mod.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
  static/plugins/tb_default_power.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(tb): bluetooth module
  Cargo.toml
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelector.tsx
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
  src/apps/toolbar/modules/bluetooth/infra/Module.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/bluetooth/application/bluetooth_pair_manager.rs
  src/background/modules/bluetooth/application/mod.rs
  src/background/modules/bluetooth/domain.rs
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/bluetooth/mod.rs
  src/background/modules/mod.rs
  src/background/system/mod.rs
  static/plugins/tb_default_bluethoot.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(styles): css classname collition
  src/apps/integrity/public/index.html
  src/apps/seelen_rofi/public/index.html
  src/apps/seelen_task_switcher_rename_later/public/index.html
  src/apps/seelen_wall/public/index.html
  src/apps/seelen_wm_v2/public/index.html
  src/apps/seelenweg/public/index.html
  src/apps/settings/public/index.html
  src/apps/toolbar/public/index.html
  src/apps/widget_loader/public/index.html
Due: none

fix(#331): incorrect app display name
  changelog.md
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check

feat(#622): add dynamic toolbar color
  changelog.md
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/hook.rs
  src/background/windows_api/hdc.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  static/themes/bubbles.yml
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): not getting all keyboards
  src/background/modules/language/application.rs
Due: rust-linter, rust-code-check

fix(#388): wrong focus event order
  changelog.md
  src/apps/shared/interfaces/common.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/error_handler.rs
  src/background/exposed.rs
  src/background/hook.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(tb): media volume mixer
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/shared/components/AnimatedWrappers/AnimatedPopover/index.tsx
  src/apps/shared/styles/reset.css
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/media/application.ts
  src/apps/toolbar/modules/media/infra/DeviceView.tsx
  src/apps/toolbar/modules/media/infra/MainView.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/MediaDevice.tsx
  src/apps/toolbar/modules/media/infra/MediaPlayer.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/media/infra/VolumeControl.tsx
  src/apps/toolbar/modules/media/infra/index.css
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/background/exposed.rs
  src/background/hook.rs
  src/background/modules/media/application/device.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/application/session.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/media/readme.md
  src/background/modules/monitors/application.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/event_window.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

refactor(events): improve win events code
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/fancyToolbar/infra.tsx
  src/apps/settings/modules/seelenweg/infra.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_wall/hook.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/instance.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/monitor/mod.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(tb): set colors by monitor
  src/background/exposed.rs
  src/background/hook.rs
Due: rust-linter, rust-code-check

feat(tb): bluetooth module (#629)
  Cargo.toml
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelector.tsx
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
  src/apps/toolbar/modules/bluetooth/infra/Module.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/bluetooth/application/bluetooth_pair_manager.rs
  src/background/modules/bluetooth/application/mod.rs
  src/background/modules/bluetooth/domain.rs
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/bluetooth/mod.rs
  src/background/modules/mod.rs
  src/background/system/mod.rs
  static/plugins/tb_default_bluethoot.yml
Due: js-linter, rust-linter, ts-type-check, rust-code-check

enh(tb): init power mode state
  src/background/modules/power/application.rs
  src/background/modules/power/infrastructure.rs
Due: rust-linter, rust-code-check

enh(weg, tb): overlapping situational possible solution - fullscreen app
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check

fix(weg): minimalise an app make incompatible activation in windows #650
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check

fix(build): errors
  src/background/exposed.rs
  src/background/modules/bluetooth/application/bluetooth_pair_manager.rs
Due: rust-linter, rust-code-check

fix(build): errors
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
Due: js-linter, ts-type-check

fix(#642): Init power mode state handling (#649)
  src/background/modules/power/application.rs
  src/background/modules/power/infrastructure.rs
Due: rust-linter, rust-code-check

fix(#650): minimalise an app make incompatible activation in windows (#652)
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check

enh(tb-weg): fullscreen app and shared pixel problem resolution (#651)
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check

enh(lock): add tracing to deadlocks
  src/background/modules/notifications/application.rs
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check

enh(toast): add getter to notifications
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/domain.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/notifications/mod.rs
  src/background/system/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(translation): improve toolbar ru translation
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

enh(radios): add radios struct
  Cargo.toml
  src/background/main.rs
  src/background/modules/mod.rs
  src/background/modules/network/application/mod.rs
  src/background/modules/network/application/scanner.rs
  src/background/modules/network/application/v2.rs
  src/background/modules/network/domain/mod.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/shared/mod.rs
  src/background/modules/shared/radio/mod.rs
  src/background/system/mod.rs
  templates/AppxManifest.xml
Due: rust-linter, rust-code-check

chore(lang): improve toolbar ru translation (#693)
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

chore(lang): improvements on Japanese translations
  src/apps/seelen_rofi/i18n/translations/ja.yml
  src/apps/seelenweg/i18n/translations/ja.yml
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
  src/background/i18n/ja.yml
Due: none

enh(notifications): improvements
  Cargo.lock
  Cargo.toml
  changelog.md
  src/apps/toolbar/modules/Notifications/domain.ts
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/modules/notifications/application.rs
  src/background/modules/notifications/domain.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/utils/mod.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(notifications): build
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  static/themes/default/seelen/fancy-toolbar.scss
  templates/AppxManifest.xml
Due: js-linter, ts-type-check

chore(lang): improvements on Japanese translations (#697)
  src/apps/seelen_rofi/i18n/translations/ja.yml
  src/apps/seelenweg/i18n/translations/ja.yml
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
  src/background/i18n/ja.yml
Due: none

fix(bluethoot): styles
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelector.tsx
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, ts-type-check

build(msix): fix bundle
  templates/AppxManifest.xml
Due: none

enh(tray): add getter and events
  Cargo.toml
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/modules/bluetooth/infrastructure.rs
  src/background/modules/notifications/application.rs
  src/background/modules/tray/application.rs
  src/background/modules/tray/domain.rs
  src/background/modules/tray/infrastructure.rs
  src/background/modules/user/infrastructure.rs
  src/background/seelen.rs
  src/background/seelen_weg/mod.rs
  src/background/system/mod.rs
  src/background/windows_api/event_window.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(notifications): style
  Cargo.lock
  Cargo.toml
  src/apps/toolbar/modules/Notifications/infra/Notification.tsx
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/background/modules/notifications/application.rs
  src/background/utils/mod.rs
  src/background/windows_api/string_utils.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check
