Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    file-format:
      priority: 1
      run: deno fmt --check
    rust-format:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    js-linter:
      priority: 5
      glob: "**/*.{js,jsx,ts,tsx}"
      run: deno lint
    rust-linter:
      priority: 6
      glob: "**/*.rs"
      run: cargo clippy --all-targets -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(shell): wrong behaviours while using fullscreen apps
  changelog.md
  src/background/windows_api/mod.rs
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/fancy-toolbar/modules/item/app/hooks/scope.ts
  src/ui/react/fancy-toolbar/modules/item/app/services/widgetTrigger.ts
  src/ui/react/fancy-toolbar/modules/item/infra/ContextMenu.tsx
  src/ui/react/fancy-toolbar/modules/item/infra/infra.tsx
  src/ui/react/fancy-toolbar/modules/main/ContextMenu.tsx
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/default.ts
  src/ui/react/fancy-toolbar/modules/shared/state/hidden.ts
  src/ui/react/fancy-toolbar/modules/shared/state/hooks.ts
  src/ui/react/fancy-toolbar/modules/shared/state/index.ts
  src/ui/react/fancy-toolbar/modules/shared/state/items.ts
  src/ui/react/fancy-toolbar/modules/shared/state/settings.ts
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/app.tsx
  src/ui/react/weg/modules/bar/index.tsx
  src/ui/react/weg/modules/item/infra/MediaSession.tsx
  src/ui/react/weg/modules/item/infra/Separator.tsx
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/item/infra/UserApplicationPreview.tsx
  src/ui/react/weg/modules/shared/state/index.ts
  src/ui/react/weg/modules/shared/state/windows.ts
  src/ui/svelte/window-manager/layout/application.ts
  src/ui/svelte/window-manager/layout/infra/Layout.svelte
  src/ui/svelte/window-manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(tb): not showing while start menu
  changelog.md
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/widget/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/mod.rs
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/settings.ts
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/app.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/react/weg/modules/shared/state/windows.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(icons): icon editor exported size
  src/ui/svelte/icon-editor/app.svelte
Due: none

fix(#1568): touchpad triggering drag
  changelog.md
  libs/ui/dnd.ts
  src/ui/react/fancy-toolbar/modules/main/Toolbar.tsx
  src/ui/react/settings/components/SortableSelector/index.tsx
  src/ui/react/weg/modules/bar/ItemReordableList.tsx
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/workspaces-viewer/app/Monitor.svelte
Due: ts-type-check, js-linter

fix(#1628): increasing resources on locked sessions
  src/background/logger.rs
  src/background/main.rs
  src/background/modules/apps/application/previews.rs
  src/background/modules/power/application.rs
  src/background/modules/system/mod.rs
  src/background/session/application.rs
  src/background/telemetry.rs
  src/background/widgets/popups/mod.rs
Due: rust-format, rust-linter

fix(perf): event burst at session locked
  src/background/hook.rs
  src/background/logger.rs
  src/background/windows_api/event_window.rs
Due: rust-format, rust-linter

fix(perf): loop dead lock
  src/background/windows_api/mod.rs
Due: rust-format, rust-linter

fix(dock): stucked under apps after exiting from fullscreen
  changelog.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/system_state/user_apps/mod.rs
  src/background/main.rs
  src/background/widgets/mod.rs
  src/background/windows_api/mod.rs
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/weg/app.tsx
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/tooltip/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(tasks): not exiting on esc key
  changelog.md
  src/ui/svelte/task-switcher/components/TaskItem.svelte
  src/ui/svelte/task-switcher/state.svelte.ts
Due: ts-type-check, js-linter

fix(dock): inconsistent windows order
  changelog.md
  libs/core/src/system_state/user_apps/mod.rs
  src/background/modules/apps/application/mod.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/cache.rs
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/shared/state/windows.ts
  src/ui/svelte/task-switcher/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(dock): show apps icon on context menu
  changelog.md
  src/static/themes/default/styles/context-menu.scss
  src/ui/react/weg/modules/item/infra/UserApplicationContextMenu.tsx
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/Submenu.svelte
Due: ts-type-check, js-linter

fix(dock): not showing on native start menu
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/app.tsx
  src/ui/react/weg/modules/shared/state/windows.ts
Due: ts-type-check, js-linter

refactor(dialogs): migrate from legacy loader
  documentation/FEATURES.md
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/resource/resource_id.rs
  libs/core/src/state/mod.rs
  libs/core/src/state/widget/dialog.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/mod.ts
  src/background/cli/uri/mod.rs
  src/background/exposed.rs
  src/background/state/application/settings.rs
  src/background/widgets/mod.rs
  src/background/widgets/popups/handlers.rs
  src/background/widgets/popups/mod.rs
  src/background/widgets/popups/shortcut_conflicts.rs
  src/background/widgets/popups/shortcut_registering.rs
  src/static/widgets/dialog/i18n/description.yml
  src/static/widgets/dialog/i18n/display_name.yml
  src/static/widgets/dialog/metadata.yml
  src/static/widgets/popup/i18n/description.yml
  src/static/widgets/popup/i18n/display_name.yml
  src/ui/react/dialog/app.tsx
  src/ui/react/dialog/global.css
  src/ui/react/dialog/index.tsx
  src/ui/react/dialog/public/index.html
  src/ui/react/popup/app.tsx
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/developer/DevToolsSettings.tsx
  src/ui/react/settings/modules/developer/simulateDialogConfig.ts
  src/ui/react/settings/modules/resources/Widget/AllView.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(focus): errors on elevated windows
  changelog.md
  libs/slu-ipc/src/service.rs
  src/background/cli/svc_pipe.rs
  src/background/modules/apps/application/previews.rs
  src/background/widgets/webview.rs
  src/background/windows_api/window/mod.rs
  src/service/windows_api/mod.rs
  src/ui/svelte/apps-menu/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(flyouts): capturing cursor while hidden
  changelog.md
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/state/placement.svelte.ts
Due: ts-type-check, js-linter

refactor(settings): add min/max bounds to number inputs
  changelog.md
  src/ui/react/settings/modules/Wall/infra.tsx
  src/ui/react/settings/modules/WindowManager/border/infra.tsx
  src/ui/react/settings/modules/WindowManager/main/infra/GlobalPaddings.tsx
  src/ui/react/settings/modules/fancyToolbar/infra.tsx
  src/ui/react/settings/modules/seelenweg/infra.tsx
Due: ts-type-check, js-linter

ci(bundle): msix job step failing
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_no_signed.yml
Due: none

ci(bundle): avoid gen lib on bundle job
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_no_signed.yml
Due: none

fix(tasks): malfunctioning
  src/background/modules/apps/application/windows.rs
  src/ui/svelte/task-switcher/index.ts
  src/ui/svelte/task-switcher/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(release): finish v2.7.0
  changelog.md
Due: none

chore(release): start v2.7.1
  Cargo.lock
  changelog.md
  libs/core/Cargo.toml
  libs/core/deno.json
  package-lock.json
  package.json
  src/Cargo.toml
Due: none

fix(apps): search not working on many items
  changelog.md
  src/ui/svelte/apps-menu/state/search.svelte.ts
Due: ts-type-check, js-linter

enh(apps-menu): gen indexing log file
  src/background/modules/user/application.rs
  src/ui/svelte/apps-menu/state/knownFolders.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(main): windows information update system
  src/background/modules/apps/application/previews.rs
  src/background/modules/apps/application/windows.rs
  src/background/windows_api/window/event.rs
Due: rust-format, rust-linter

fix(settings): not persisting internal state
  changelog.md
  libs/ui/react/utils/PersistentSignal.ts
  src/ui/react/settings/components/WelcomeModal/infra.tsx
Due: ts-type-check, js-linter

fix(settings): widget crashing
  src/ui/react/settings/components/WelcomeModal/infra.tsx
Due: ts-type-check, js-linter

fix(settings): storing raw shortcuts instead normalized
  changelog.md
  src/background/widgets/popups/shortcut_registering.rs
Due: rust-format, rust-linter

fix(dock): stucked on bottom
  src/ui/react/fancy-toolbar/app.tsx
  src/ui/react/weg/app.tsx
Due: ts-type-check, js-linter

enh(bundle): remove no needed dependencies
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_no_signed.yml
  scripts/bundle.msix.ts
Due: ts-type-check, js-linter

enh(dock): expose window colors as css vars
  libs/core/src/system_state/user_apps/mod.rs
  package-lock.json
  src/background/modules/apps/application/previews.rs
  src/static/themes/default/styles/weg.css
  src/ui/react/fancy-toolbar/modules/shared/state/windows.ts
  src/ui/react/weg/modules/bar/index.tsx
  src/ui/react/weg/modules/shared/state/windows.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(code): remove old macro
  src/background/cli/uri/mod.rs
  src/background/error.rs
  src/background/hook.rs
  src/background/main.rs
  src/background/modules/media/devices/application.rs
  src/background/modules/notifications/application.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/radios/bluetooth/manager.rs
  src/background/modules/radios/manager.rs
  src/background/modules/radios/wifi/mod.rs
  src/background/modules/user/application.rs
  src/background/resources/commands.rs
  src/background/state/infrastructure.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/popups/shortcut_conflicts.rs
  src/background/widgets/popups/shortcut_registering.rs
  src/background/windows_api/event_window.rs
Due: rust-format, rust-linter

chore(release): finish v2.7.1
  changelog.md
Due: none
