Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, ts-type-check, rust-code-check

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      priority: 2
      glob: "**/*.rs"
      run: cargo fmt -- --check
    ts-type-check:
      priority: 3
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run type-check
    rust-code-check:
      priority: 4
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  commands:
    js-test:
      priority: 1
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      priority: 3
      glob: "**/*.rs"
      run: cargo test

fix(#934): invisible msedge window on dock
  changelog.md
  static/apps_templates/gaming.yml
Due: none

chore(lang): fix tr translations (#912)
  src/apps/settings/i18n/translations/tr.yml
Due: none

docs(readme): update copyright year (#936)
  readme.md
Due: none

chore(lang): improve pt-br lang
  src/apps/seelen_rofi/i18n/translations/pt.yml
  src/apps/seelenweg/i18n/translations/pt.yml
  src/apps/settings/i18n/translations/pt.yml
  src/apps/toolbar/i18n/translations/pt.yml
  src/background/i18n/pt.yml
Due: none

chore(lang): improvements on fr language
  src/apps/seelen_rofi/i18n/translations/fr.yml
  src/apps/seelenweg/i18n/translations/fr.yml
  src/apps/settings/i18n/translations/fr.yml
  src/apps/toolbar/i18n/translations/fr.yml
  src/background/i18n/fr.yml
  static/plugins/wm_bsp.yml
  static/widgets/popup.yml
  static/widgets/toolbar.yml
Due: none

fix(#925): invisible spotify window
  changelog.md
  static/apps_templates/gaming.yml
Due: none

feat(#939): allow change workspaces using wheel
  changelog.md
  src/apps/shared/hooks.ts
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/background/seelen_weg/mod.rs
  src/background/windows_api/window.rs
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, rust-linter, ts-type-check, rust-code-check

fix(#938): not listing 6ghz networks
  changelog.md
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
Due: js-linter, ts-type-check

fix(#962): jetbrains software no appearing in the dock
  changelog.md
  src/background/hook.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check

feat(i18n): Add Traditional Chinese (zh-TW) translation
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelen_rofi/i18n/translations/zh_tw.yml
  src/apps/seelenweg/i18n/index.ts
  src/apps/seelenweg/i18n/translations/zh_tw.yml
  src/apps/settings/i18n/index.ts
  src/apps/settings/i18n/translations/zh_tw.yml
  src/apps/toolbar/i18n/index.ts
  src/apps/toolbar/i18n/translations/zh_tw.yml
  src/background/i18n/zh_tw.yml
  static/plugins/tb_default_bluethoot.yml
  static/plugins/tb_default_date.yml
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_keyboard.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_network.yml
  static/plugins/tb_default_notifications.yml
  static/plugins/tb_default_power.yml
  static/plugins/tb_default_quick_settings.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/tb_default_user_folder.yml
  static/plugins/tb_default_workspaces_dotted.yml
  static/plugins/tb_default_workspaces_named.yml
  static/plugins/tb_default_workspaces_numbered.yml
  static/plugins/wm_bsp.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
  static/themes/animated-start-icon/theme.yml
  static/themes/bubbles.yml
  static/themes/default/theme.yml
  static/widgets/launcher.yml
  static/widgets/popup.yml
  static/widgets/settings.yml
  static/widgets/toolbar.yml
  static/widgets/wallpaper-manager.yml
  static/widgets/weg.yml
  static/widgets/window-manager.yml
Due: js-linter, ts-type-check

fix(#923): can not change media device on msix version
  changelog.md
  src/background/cli/application/mod.rs
  src/background/cli/application/win32.rs
  src/background/main.rs
  src/background/modules/media/application/mod.rs
  src/background/modules/media/domain.rs
  src/background/modules/media/infrastructure.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/undocumented/audio_policy_config.rs
  src/background/windows_api/undocumented/mod.rs
Due: rust-linter, rust-code-check

chore(release): v2.3.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(icons): re-implements the icon packs structure
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/shared/components/Icon/FileIcon.tsx
  src/apps/shared/components/Icon/MissingIcon.tsx
  src/apps/shared/components/Icon/SpecificIcon.tsx
  src/background/exposed.rs
  src/background/modules/media/application/players.rs
  src/background/modules/notifications/application.rs
  src/background/modules/start/application.rs
  src/background/modules/uwp/domain.rs
  src/background/modules/uwp/mod.rs
  src/background/restoration_and_migrations/mod.rs
  src/background/seelen_weg/weg_items_impl.rs
  src/background/state/application/icons.rs
  src/background/state/application/weg_items.rs
  src/background/utils/constants.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/icon_extractor/queue.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
  static/themes/default/seelen/weg.css
Due: js-linter, rust-linter, ts-type-check, rust-code-check

feat(rpc): discord rich presence
  Cargo.lock
  Cargo.toml
  changelog.md
  src/background/cli/application/mod.rs
  src/background/context.rs
  src/background/exposed.rs
  src/background/main.rs
  src/background/plugins.rs
  src/background/seelen.rs
  src/background/tray.rs
  src/background/utils/discord.rs
  src/background/utils/mod.rs
  src/background/widgets/mod.rs
Due: rust-linter, rust-code-check

docs(md): code of conduct
  CODE_OF_CONDUCT
Due: none

docs(license): AGPL-3.0
  LICENSE
Due: none

fix(translation): Incorrect translation/typos in the Russian translation have been corrected.
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
  static/widgets/launcher.yml
  static/widgets/popup.yml
  static/widgets/settings.yml
  static/widgets/toolbar.yml
  static/widgets/weg.yml
Due: none

fix (translation):Incorrect translation/typos in the Russian translation have been corrected
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
  static/widgets/launcher.yml
  static/widgets/popup.yml
  static/widgets/settings.yml
  static/widgets/toolbar.yml
  static/widgets/weg.yml
Due: none

fix korean translation
  src/apps/settings/i18n/translations/ko.yml
Due: none

enh(icons): implement remote icons download
  Cargo.lock
  package-lock.json
  package.json
  src/apps/popup/app.tsx
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/modules/IconPackEditor/index.module.css
  src/apps/settings/modules/IconPackEditor/index.tsx
  src/apps/settings/router.tsx
  src/apps/shared/components/ResourceText/index.tsx
  src/background/instance.rs
  src/background/popups/mod.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/plugins.rs
  src/background/state/application/themes.rs
  src/background/state/application/widgets.rs
  src/background/state/infrastructure.rs
  src/background/state/mod.rs
  src/background/utils/icon_extractor/mod.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

docs(readme): add digital ocean badge
  readme.md
Due: none

fix(crash): app crashing for new users
  src/background/restoration_and_migrations/mod.rs
  src/background/state/application/icons.rs
Due: rust-linter, rust-code-check

fix(crash): app crashing on missing default system folder
  changelog.md
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
Due: rust-linter, rust-code-check

fix(crash): app crashing on missing default system folder (part 2)
  src/background/modules/user/application.rs
Due: rust-linter, rust-code-check

chore(lang): fix typos in russian tranlations (#997)
  static/plugins/tb_default_focused_app.yml
  static/plugins/tb_default_focused_app_title.yml
  static/plugins/tb_default_media.yml
  static/plugins/tb_default_system_tray.yml
  static/plugins/wm_grid.yml
  static/plugins/wm_tall.yml
  static/plugins/wm_wide.yml
  static/widgets/launcher.yml
  static/widgets/popup.yml
  static/widgets/settings.yml
  static/widgets/toolbar.yml
  static/widgets/weg.yml
Due: none

Fix incorrect portuguese translation of the word "right"
  src/apps/settings/i18n/translations/pt.yml
Due: none

refactor(ids): resource ids used instead of filenames
  Cargo.lock
  package-lock.json
  package.json
  src/apps/settings/modules/ByMonitor/infra/WidgetSettingsModal.tsx
  src/apps/settings/modules/WindowManager/main/infra/index.tsx
  src/apps/settings/modules/resources/IconPacks.tsx
  src/apps/settings/modules/resources/Theme/View.tsx
  src/apps/settings/modules/resources/Themes.tsx
  src/apps/settings/modules/resources/Widget/View.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/ThemeLoader.ts
  src/apps/toolbar/modules/main/application.ts
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/cli/application/mod.rs
  src/background/instance.rs
  src/background/popups/mod.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/state/application/plugins.rs
  src/background/state/application/settings.rs
  src/background/state/application/themes.rs
  src/background/state/application/widgets.rs
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(lang): fix incorrect portuguese translation (#1048)
  src/apps/settings/i18n/translations/pt.yml
Due: none

refactor(framework): replace react by preact
  Cargo.lock
  changelog.md
  package-lock.json
  package.json
  scripts/build.ts
  src/apps/popup/app.tsx
  src/apps/seelenweg/components/BackgroundByLayers/infra.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/settings/components/header/ExtraInfo.tsx
  src/apps/settings/components/monitor/index.tsx
  src/apps/settings/modules/AppLauncher/infra.tsx
  src/apps/settings/modules/IconPackEditor/index.tsx
  src/apps/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/apps/settings/modules/appsConfigurations/infra/Identifier.tsx
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/resources/Theme/View.tsx
  src/apps/settings/modules/resources/Widget/ConfigRenderer.tsx
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/modules/Date/Calendar.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/bluetooth/infra/BluetoothSelectorEntry.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/main/ContextMenu.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/media/infra/VolumeControl.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
  src/apps/toolbar/modules/user/infra/UserFolder.tsx
  src/background/popups/handlers.rs
  src/background/popups/mod.rs
  tsconfig.json
Due: js-linter, rust-linter, ts-type-check, rust-code-check

chore(release): v2.3.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(icons): missing react icons
  changelog.md
  package-lock.json
  package.json
  scripts/build.ts
  src/globals.d.ts
Due: js-linter, ts-type-check

chore(release): v2.3.10
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

style(popups): fix big text
  static/themes/default/seelen/fancy-toolbar.scss
Due: none

fix(settings): wrong path on open icons folder
  src/apps/settings/modules/resources/IconPacks.tsx
Due: js-linter, ts-type-check

fix(components): nested popups not working correctly
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/shared/components/SlPopup/base.css
  src/apps/shared/components/SlPopup/index.tsx
  src/apps/shared/components/SlPopup/positioning.ts
  src/apps/toolbar/modules/main/ContextMenu.tsx
  static/themes/default/seelen/fancy-toolbar.scss
Due: js-linter, ts-type-check
