Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, ts-type-check, js-linter, rust-linter

rust-format:
  priority: 2
  run: cargo fmt -- --check

ts-type-check:
  priority: 3
  run: npm run type-check

js-linter:
  priority: 5
  run: deno lint

rust-linter:
  priority: 6
  run: cargo clippy --all-targets -- -D warnings

fix(#1309): icons from .lnk files not being updated
  libs/core/src/lib.rs
  libs/core/src/state/icon_pack.rs
  src/background/resources/system_icon_pack.rs
Due: rust-format, rust-linter

feat(wall): new default wallpaper
  libs/ui/react/components/Wallpaper/index.module.css
  libs/ui/svelte/components/Wallpaper/components/ThemedWallpaper.svelte
Due: none

fix(styles): buttons
  src/static/themes/default/shared/buttons.scss
Due: none

fix(wall): not enabling downloaded wallpapers
  src/background/cli/application/uri.rs
Due: rust-format, rust-linter

enh(tb): avoid appbar collitions tb and weg
  libs/widgets-shared/components/AnimatedWrappers/AnimatedDropdown/index.tsx
  src/background/widgets/toolbar/mod.rs
  src/background/widgets/weg/instance.rs
  src/static/themes/default/styles/fancy-toolbar.scss
  src/ui/react/toolbar/modules/Keyboard/infra.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(icons): deadlock on system icons pack
  src/background/resources/system_icon_pack.rs
Due: rust-format, rust-linter

build(fixed): add new setup with fixed webview rutime
  .gitattributes
  .github/workflows/nightly.yml
  .gitignore
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/ui/react/utils/index.ts
  scripts/SetFixedRuntime.ps1
  src/background/exposed.rs
  src/background/utils/updater.rs
  src/background/utils/winver.rs
  src/runtime/Microsoft.WebView2.FixedVersionRuntime.143.0.3650.139.arm64.cab
  src/runtime/Microsoft.WebView2.FixedVersionRuntime.143.0.3650.139.x64.cab
  src/ui/react/settings/i18n/translations/en.yml
  src/ui/react/settings/modules/extras/infrastructure.tsx
Due: rust-format, ts-type-check, js-linter, rust-linter

ci(nightly): fix quotes error
  .github/workflows/nightly.yml
Due: none

ci(nightly): fix bundling
  .github/workflows/nightly.yml
  scripts/SetFixedRuntime.ps1
Due: none

ci(nightly): fix bundling try 2
  .github/workflows/nightly.yml
  scripts/SetFixedRuntime.ps1
Due: none

ci(nightly): fix bundling try 3
  scripts/SetFixedRuntime.ps1
  src/background/main.rs
  src/background/utils/winver.rs
  src/templates/installer-hooks.nsh
  src/templates/installer.nsi
Due: rust-format, rust-linter

ci(nightly): fix bundling try 4
  .github/workflows/nightly.yml
Due: none

ci(nightly): fix bundling try 5
  scripts/SetFixedRuntime.ps1
Due: none

fix(runtime): not picking the fixed runtime
  src/background/main.rs
  src/background/utils/integrity/checksums.rs
  src/background/utils/integrity/mod.rs
  src/background/utils/winver.rs
Due: rust-format, rust-linter

fix(wm): behaviour while using maximized apps
  changelog.md
  libs/core/src/state/wm_layout.rs
  src/background/hook.rs
  src/background/modules/apps/application/windows.rs
  src/background/virtual_desktops/mod.rs
  src/background/widgets/weg/hook.rs
  src/background/widgets/window_manager/instance.rs
  src/background/widgets/window_manager/mod.rs
  src/background/widgets/window_manager/state/mod.rs
  src/background/windows_api/event_window.rs
  src/background/windows_api/window/event.rs
  src/ui/react/wallpaper_manager/modules/shared/state.ts
  src/ui/svelte/window_manager/App.svelte
  src/ui/svelte/window_manager/layout/application.ts
  src/ui/svelte/window_manager/layout/domain.ts
  src/ui/svelte/window_manager/layout/infra/Container.svelte
  src/ui/svelte/window_manager/layout/infra/Layout.svelte
  src/ui/svelte/window_manager/layout/infra/containers/Leaf.svelte
  src/ui/svelte/window_manager/layout/infra/containers/Reserved.svelte
  src/ui/svelte/window_manager/layout/infra/containers/Stack.svelte
  src/ui/svelte/window_manager/layout/infra/index.css
  src/ui/svelte/window_manager/modules/layout/infra/Layout.svelte
  src/ui/svelte/window_manager/state.svelte.ts
  src/ui/svelte/window_manager/utils.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(settings): not hidding initial modal after review click
  src/ui/react/settings/components/WelcomeModal/infra.tsx
Due: ts-type-check, js-linter

ci(build): download runtime from archive
  .gitattributes
  .gitignore
  scripts/SetFixedRuntime.ps1
  src/runtime/Microsoft.WebView2.FixedVersionRuntime.143.0.3650.139.arm64.cab
  src/runtime/Microsoft.WebView2.FixedVersionRuntime.143.0.3650.139.x64.cab
Due: none

refactor(settings): settings by app
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/mod.rs
  libs/core/src/state/mod.ts
  libs/core/src/state/settings/mod.rs
  libs/core/src/state/settings/mod.ts
  libs/core/src/state/settings/settings_by_app.rs
  libs/core/src/state/settings/settings_by_monitor.ts
  libs/core/src/state/settings_by_app.ts
  package-lock.json
  src/background/migrations.rs
  src/background/state/application/apps_config.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  src/background/utils/constants.rs
  src/ui/react/settings/modules/appsConfigurations/app/reducer.ts
  src/ui/react/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/ui/react/settings/modules/appsConfigurations/infra/infra.tsx
  src/ui/react/settings/state/mod.ts
  src/ui/react/settings/state/resources.ts
  src/ui/react/toolbar/modules/item/app/actionEvaluator.ts
  src/ui/react/toolbar/modules/shared/state/mod.ts
  src/ui/react/toolbar/modules/shared/store/infra.ts
  src/ui/react/wallpaper_manager/modules/shared/state.ts
  src/ui/react/weg/modules/item/infra/UserApplication.tsx
  src/ui/react/weg/modules/shared/state/settings.ts
  src/ui/svelte/window_manager/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

chore(deps): update hotkeys crate
  Cargo.lock
Due: none

fix(settings): empty view on settings by monitor
  src/ui/react/settings/state/mod.ts
Due: ts-type-check, js-linter

enh(widgets): incorrect focus state
  Cargo.lock
  Cargo.toml
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/widget/mod.ts
  src/background/modules/apps/infrastructure.rs
  src/ui/react/popup/app.tsx
  src/ui/react/settings/index.tsx
  src/ui/svelte/apps-menu/positioning.svelte.ts
  src/ui/svelte/bluetooth-popup/state.svelte.ts
  src/ui/svelte/calendar-popup/state.svelte.ts
  src/ui/svelte/network-popup/state.svelte.ts
  src/ui/svelte/power-menu/index.ts
  src/ui/svelte/task-switcher/state.svelte.ts
  src/ui/svelte/user-menu/state.svelte.ts
  src/ui/svelte/workspaces-viewer/index.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

enh(apps-menu): improve ux
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/system_state/user.rs
  libs/core/src/system_state/user.ts
  libs/ui/svelte/components/Icon/FileIcon.svelte
  src/background/modules/user/application.rs
  src/background/modules/user/infrastructure.rs
  src/background/utils/icon_extractor/mod.rs
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/apps-menu.scss
  src/ui/react/settings/index.tsx
  src/ui/react/settings/public/index.html
  src/ui/react/settings/styles/global.css
  src/ui/react/toolbar/modules/shared/store/app.ts
  src/ui/react/toolbar/modules/shared/store/domain.ts
  src/ui/react/toolbar/modules/shared/store/infra.ts
  src/ui/svelte/apps-menu/App.svelte
  src/ui/svelte/apps-menu/components/AllAppsView.svelte
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/components/FolderItem.svelte
  src/ui/svelte/apps-menu/components/FolderModal.svelte
  src/ui/svelte/apps-menu/components/PinnedView.svelte
  src/ui/svelte/apps-menu/components/StartMenuBody.svelte
  src/ui/svelte/apps-menu/i18n/translations/en.yml
  src/ui/svelte/apps-menu/index.ts
  src/ui/svelte/apps-menu/keyboard-navigation.ts
  src/ui/svelte/apps-menu/state/knownFolders.svelte.ts
  src/ui/svelte/apps-menu/state/mod.svelte.ts
  src/ui/svelte/apps-menu/state/positioning.svelte.ts
  src/ui/svelte/user-menu/app.svelte
  src/ui/svelte/user-menu/components/FilePreview.svelte
  src/ui/svelte/user-menu/components/UserFolder.svelte
  src/ui/svelte/user-menu/state.svelte.ts
  src/ui/svelte/user-menu/state/knownFolders.svelte.ts
  src/ui/svelte/user-menu/state/mod.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

refactor(tb): split context menus into separated widget
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/state/widget/context_menu.rs
  libs/core/src/state/widget/mod.rs
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/positioning.ts
  libs/core/src/state/widget/sizing.ts
  src/background/utils/icon_extractor/mod.rs
  src/background/widgets/loader.rs
  src/background/widgets/mod.rs
  src/static/themes/bubbles/styles/toolbar.css
  src/static/themes/default/metadata.yml
  src/static/themes/default/styles/context-menu.scss
  src/static/themes/default/styles/fancy-toolbar.scss
  src/static/widgets/context-menu/i18n/description.yml
  src/static/widgets/context-menu/i18n/display_name.yml
  src/static/widgets/context-menu/metadata.yml
  src/ui/react/toolbar/modules/Workspaces/index.tsx
  src/ui/react/toolbar/modules/item/app/services/widgetTrigger.ts
  src/ui/react/toolbar/modules/item/infra/ContextMenu.tsx
  src/ui/react/toolbar/modules/item/infra/Inner.tsx
  src/ui/react/toolbar/modules/item/infra/infra.tsx
  src/ui/react/toolbar/modules/main/ContextMenu.tsx
  src/ui/react/toolbar/modules/main/Toolbar.tsx
  src/ui/svelte/context-menu/MenuItem.svelte
  src/ui/svelte/context-menu/Submenu.svelte
  src/ui/svelte/context-menu/app.svelte
  src/ui/svelte/context-menu/index.ts
  src/ui/svelte/context-menu/public/index.html
  src/ui/svelte/context-menu/state.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

fix(wall): wallpaper not showing
  changelog.md
  src/background/widgets/wallpaper_manager/mod.rs
Due: rust-format, rust-linter

fix(icons): icons extranction
  libs/ui/svelte/components/Icon/FileIcon.svelte
  libs/ui/svelte/components/Icon/MissingIcon.svelte
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  src/background/utils/icon_extractor/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
Due: rust-format, rust-linter

fix(wall): wallpaper not showing
  src/background/widgets/wallpaper_manager/mod.rs
Due: rust-format, rust-linter

enh(apps-menu): migrate pinned apps from native start menu
  libs/core/src/handlers/commands.rs
  libs/core/src/handlers/commands.ts
  libs/core/src/system_state/win_explorer.rs
  src/background/exposed.rs
  src/static/themes/default/styles/apps-menu.scss
  src/ui/svelte/apps-menu/components/AppItem.svelte
  src/ui/svelte/apps-menu/state/mod.svelte.ts
Due: rust-format, ts-type-check, js-linter, rust-linter

feat(flyouts): new widget for flyouts
  changelog.md
  libs/core/src/handlers/events.rs
  libs/core/src/handlers/events.ts
  libs/core/src/state/widget/declaration.rs
  libs/core/src/state/widget/interfaces.ts
  libs/core/src/state/widget/mod.ts
  libs/core/src/state/widget/positioning.ts
  libs/core/src/state/widget/sizing.ts
  libs/ui/svelte/components/Icon/InlineSVG.svelte
  libs/ui/svelte/components/Icon/InlineSVGState.svelte.ts
  libs/ui/svelte/components/Icon/SpecificIcon.svelte
  libs/ui/utils.ts
  package-lock.json
  package.json
  src/background/resources/system_icon_pack.rs
  src/capabilities/general_window.json
  src/static/themes/default/metadata.yml
  src/static/themes/default/shared/inputs.scss
  src/static/themes/default/styles/flyouts.css
  src/static/themes/default/styles/media-popup.scss
  src/static/widgets/flyouts/i18n/description.yml
  src/static/widgets/flyouts/i18n/display_name.yml
  src/static/widgets/flyouts/metadata.yml
  src/ui/react/settings/modules/fancyToolbar/infra.tsx
  src/ui/react/settings/modules/resources/Widget/ConfigRenderer.tsx
  src/ui/react/settings/modules/seelenweg/infra.tsx
  src/ui/react/toolbar/modules/shared/state/scope.ts
  src/ui/react/weg/modules/item/infra/MediaSession.tsx
  src/ui/svelte/flyouts/app.svelte
  src/ui/svelte/flyouts/index.ts
  src/ui/svelte/flyouts/public/index.html
  src/ui/svelte/flyouts/state/config.svelte.ts
  src/ui/svelte/flyouts/state/mod.svelte.ts
  src/ui/svelte/flyouts/state/placement.svelte.ts
  src/ui/svelte/media-popup/components/MediaPlayer.svelte
  src/ui/svelte/media-popup/state.svelte.ts
  src/ui/svelte/quick-settings/app.svelte
  src/ui/svelte/quick-settings/components/BrightnessControl.svelte
  src/ui/svelte/quick-settings/components/MediaDevices.svelte
  src/ui/svelte/quick-settings/components/RadioButtons.svelte
Due: rust-format, ts-type-check, js-linter, rust-linter

Path conditions:
  rust-format: any of: **/*.rs
  ts-type-check: any of: **/*.{js,jsx,ts,tsx}
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
